<template>
    <RouterView />
    <PopupCore></PopupCore>
    <div style="width: 100%; margin: auto; padding: 20px 0">
        <table class="data-form-table" style="width: 350px; margin: auto">
            <colgroup>
                <col style="width: 120px" />
                <col />
            </colgroup>
            <tr>
                <th colspan="2">구독</th>
            </tr>
            <tr>
                <th>UserId</th>
                <td class="full"><input type="text" v-model="subscriptionData.UserId" /></td>
            </tr>
            <tr>
                <th>PublicKey</th>
                <td class="full">
                    <textarea v-model="subscriptionData.PublicKey" style="height: 70px"></textarea>
                </td>
            </tr>
            <tr>
                <th>PushEndpoint</th>
                <td class="full">
                    <textarea v-model="subscriptionData.PushEndpoint" style="height: 70px"></textarea>
                </td>
            </tr>
            <tr>
                <th>PushP256</th>
                <td class="full">
                    <textarea v-model="subscriptionData.PushP256" style="height: 70px"></textarea>
                </td>
            </tr>
            <tr>
                <th>PushAuth</th>
                <td class="full"><input type="text" v-model="subscriptionData.PushAuth" /></td>
            </tr>
            <tr>
                <th colspan="2">발송</th>
            </tr>
            <tr>
                <th>UserId</th>
                <td class="full"><input type="text" v-model="notificationData.UserId" /></td>
            </tr>
            <tr>
                <th>제목</th>
                <td class="full"><input type="text" v-model="notificationData.Payload.title" /></td>
            </tr>
            <tr>
                <th>내용</th>
                <td class="full"><input type="text" v-model="notificationData.Payload.body" /></td>
            </tr>
            <tr>
                <th colspan="2">콘솔</th>
            </tr>
            <tr>
                <td class="full" colspan="2">
                    <textarea v-model="consoleData" style="height: 70px"></textarea>
                </td>
            </tr>
        </table>
        <div class="data-form-button" style="margin-bottom: 20px">
            <div class="center">
                <button
                    v-if="commonStore.isWebApp && !commonStore.isNotificationGranted"
                    class="btn-common default impact"
                    @click="reqeustSubscription"
                >
                    수신동의
                </button>
                <button
                    v-if="commonStore.isWebApp && commonStore.isNotificationGranted"
                    class="btn-common default impact"
                    @click="sendNotification"
                >
                    전송
                </button>
                <button class="btn-common default impact" @click="clearConsole">초기화</button>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, reactive, onMounted } from 'vue'
import { RouterView } from 'vue-router'
import axiosPublic from '@/plugins/axiosPublic'
import moment from 'moment'
import * as dataUtil from '@/utils/data'

/* Store */
import { useCommonStore } from '@/stores/common'
const commonStore = useCommonStore()

/* 설치 */
const installPWA = async () => {}

/* 구독 */
const subscriptionData = reactive({
    UserId: 'hsohe74',
    PublicKey: '',
    PushEndpoint: '',
    PushP256: '',
    PushAuth: ''
})
const getSubscriptionPublicKey = async () => {
    const response = await axiosPublic.post('/Notification/WebPushPublicKeyGet')
    subscriptionData.PublicKey = response.data.Data
}
const reqeustSubscription = () => {
    navigator.serviceWorker.ready.then((registration) => {
        registration.pushManager.getSubscription().then((subscription) => {
            if (subscription) {
                saveSubscriptionData(subscription)
            } else {
                registration.pushManager
                    .subscribe({
                        userVisibleOnly: true,
                        applicationServerKey: subscriptionData.PublicKey
                    })
                    .then((subscription1) => {
                        saveSubscriptionData(subscription1)
                    })
            }
        })
    })
}
const saveSubscriptionData = async (subscription) => {
    // Set subscription data
    subscriptionData.PushEndpoint = subscription.endpoint
    subscriptionData.PushP256 = dataUtil.arrayBufferToBase64(subscription.getKey('p256dh'))
    subscriptionData.PushAuth = dataUtil.arrayBufferToBase64(subscription.getKey('auth'))
    // Save subscription data
    const response = await axiosPublic.post('/Notification/WebPushSubscriptionSave', subscriptionData)
    writeConsole('[구독저장]\n' + JSON.stringify(response.data))
    // 구독여부
    commonStore.isNotificationGranted = true
}

/* 알람 전송 */
const notificationData = reactive({
    UserId: '',
    Payload: {
        title: '웹푸시 테스트',
        body: '2023-12-14 웹푸시 0-1-2 테스트'
    }
})
const sendNotification = async () => {
    notificationData.UserId = subscriptionData.UserId
    notificationData.Payload.body = moment().format('YYYY-MM-DD HH:mm') + '에 전송'
    const response = await axiosPublic.post('/Notification/WebPushNotificationSend', notificationData)
    writeConsole('[알람발송]\n' + JSON.stringify(response))
}

/* 콘솔 */
const consoleData = ref('')
const writeConsole = (msg) => {
    consoleData.value += msg + '\n'
}
const clearConsole = () => {
    consoleData.value = ''
}

/* onMounted */
onMounted(async () => {
    // 메시지 내용
    notificationData.Payload.body = moment().format('YYYY-MM-DD HH:mm') + '에 전송'

    // 알림
    if (commonStore.isWebApp) {
        // 구독 공개키
        getSubscriptionPublicKey()

        // 알림 설정
        if (!('Notification' in window)) {
            alert('브라우저가 notification을 지원하지 않음')
        } else {
            commonStore.isNotificationGranted = Notification.permission === 'granted'
            if (commonStore.isNotificationGranted) {
                reqeustSubscription()
            }
        }
    }
})
</script>

<style lang="scss">
@import '@/styles/index.scss';
</style>
