<template>
    <Teleport to="body">
        <div class="popup-backdrop"></div>
        <div class="popup-container">
            <div class="popup-body" :style="style">
                <div class="header" @mousedown="elementUtil.startMoving" @mouseup="elementUtil.stopMoving">
                    <div class="title">
                        <slot name="title"></slot>
                    </div>
                    <div v-if="onClose" class="close" @click="closePopup">
                        <font-awesome-icon icon="fa-solid fa-times" />
                    </div>
                </div>
                <div class="content">
                    <slot name="content"></slot>
                </div>
                <div class="button">
                    <div class="left">
                        <slot name="button-left"></slot>
                    </div>
                    <div class="right">
                        <slot name="button-right"></slot>
                    </div>
                </div>
            </div>
        </div>
    </Teleport>
</template>

<script setup>
import { computed } from 'vue'
import * as elementUtil from '@/utils/element'

/* 크기설정 */
const props = defineProps(['width', 'height', 'onClose'])
const style = computed(() => {
    var style = ''
    style += 'width: ' + (props.width === 0 ? 'auto;' : props.width + 'px;')
    style += 'height: ' + (props.height === 0 ? 'auto;' : props.height + 'px;')
    return style
})

/* 이벤트 정의 */
const emit = defineEmits(['close'])

/* 팝업 표시 */
const closePopup = () => {
    emit('close')
}
</script>
