<template>
    <div class="layout-single">
        <div class="centering">
            <div class="content">
                <div class="message-box">
                    <h2>{{ $t('common.404.title') }}</h2>
                    <div>{{ $t('common.404.message') }}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup></script>

<style scoped></style>
