<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>{{ $t('view.siteMgr.title') }}</h2>
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                {{ $t('view.siteMgr.list.title') }}
                                <label class="desc">{{ $t('view.siteMgr.list.desc') }}</label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="data-search">
                                <div class="item">
                                    <div class="header">{{ $t('ui.label.search') }}</div>
                                    <div class="content">
                                        <select
                                            v-model="siteStore.siteParam.SiteProduct"
                                            @change="loadData"
                                            style="width: 130px"
                                        >
                                            <option value="">{{ $t('ui.control.Select.All') }}</option>
                                            <option v-for="item in productList" :key="item.ComCd" :value="item.ComCd">
                                                {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                            </option>
                                        </select>
                                        &nbsp;
                                        <select v-model="siteStore.siteParam.SearchColumn">
                                            <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                            <option v-for="item in searchColumnList" :key="item.key" :value="item.key">
                                                {{ item.label }}
                                            </option>
                                        </select>
                                        &nbsp;
                                        <input
                                            type="text"
                                            v-model="siteStore.siteParam.SearchWord"
                                            @keyup.enter="loadData(true)"
                                        />
                                    </div>
                                    <div class="content">
                                        <button class="btn-common small colored" @click="loadData(true)">
                                            {{ $t('ui.button.search') }}
                                        </button>
                                        &nbsp;
                                        <button class="btn-common small colored" @click="initData(true)">
                                            {{ $t('ui.button.initSearch') }}
                                        </button>
                                        &nbsp;
                                        <button class="btn-common small colored" @click="loadData(true)">
                                            {{ $t('ui.button.refresh') }}
                                        </button>
                                    </div>
                                    <div class="button">
                                        <button class="btn-common small colored" @click="showDetailPopup(null)">
                                            {{ $t('ui.button.add') }}
                                        </button>
                                        <button class="btn-common small impact" @click="deleteDetail()">
                                            {{ $t('ui.button.remove') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <ListPaginginfo v-model="siteStore.siteParam" @pageSize="loadData(true)"></ListPaginginfo>
                            <div class="x-scroll">
                                <table class="data-list-table vborder">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px">
                                                <input type="checkbox" @change="selectAll($event)" />
                                            </th>
                                            <th style="width: 50px">{{ $t('view.siteMgr.list.column.No') }}</th>
                                            <th>{{ $t('view.siteMgr.list.column.SubscriberNm') }}</th>
                                            <th>{{ $t('view.siteMgr.list.column.SubscriberId') }}</th>
                                            <th>{{ $t('view.siteMgr.list.column.SiteProduct') }}</th>
                                            <th>{{ $t('view.siteMgr.list.column.SiteName') }}</th>
                                            <th>{{ $t('view.siteMgr.list.column.SiteHost') }}</th>
                                            <th>{{ $t('view.siteMgr.list.column.SiteDomain') }}</th>
                                            <th>{{ $t('view.siteMgr.list.column.SensorCnt') }}</th>
                                            <th>{{ $t('view.siteMgr.list.column.ExpireDate') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in siteStore.siteList" :key="index">
                                            <td class="center">
                                                <input
                                                    type="checkbox"
                                                    v-model="item.selected"
                                                    true-value="Y"
                                                    false-value="N"
                                                />
                                            </td>
                                            <td class="center">
                                                {{ dataUtil.showPagingNo(siteStore.siteParam, index) }}
                                            </td>
                                            <td class="center">
                                                <a @click="showSubsDetailPopup(item)">{{ item.SubscriberNm }}</a>
                                            </td>
                                            <td class="center">
                                                <a @click="showSubsDetailPopup(item)">{{ item.SubscriberId }}</a>
                                            </td>
                                            <td class="center">{{ item.SiteProduct }}</td>
                                            <td class="center">
                                                <a @click="showDetailPopup(item)">{{ item.SiteName }}</a>
                                            </td>
                                            <td class="center">
                                                <a @click="showDetailPopup(item)">{{ item.SiteHost }}</a>
                                            </td>
                                            <td class="center">{{ item.SiteDomain }}</td>
                                            <td class="center">{{ item.SensorCnt }}</td>
                                            <td class="center">{{ item.ExpireDate }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ListPagingbar ref="pagingbar" v-model="siteStore.siteParam"></ListPagingbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, reactive, shallowRef, onMounted, onUnmounted, inject } from 'vue'
import { useAppStore } from '@/stores/app'
import { useCommonStore } from '@/stores/common'
import { useSiteStore } from '@/stores/site'
import eventBus from '@/eventBus.js'
import * as dataUtil from '@/utils/data'
import * as symbols from '@/symbols'

/**
 * Reference
 */
const appStore = useAppStore()
const commonStore = useCommonStore()
const siteStore = useSiteStore()
const isLoading = ref(false)
const showPopup = inject(symbols.showPopup)

/* 코드 */
const searchColumnList = reactive([
    { key: 'SubscriberNm', label: '구독자명', labelEn: 'Subscriber name' },
    { key: 'SubscriberId', label: '구독자ID', labelEn: 'Subscriber ID' },
    { key: 'SiteName', label: '사이트명', labelEn: 'Site name' },
    { key: 'SiteHost', label: '사이트호스트', labelEn: 'Site host' }
])
const productList = ref([])
const initCodeData = async () => {
    await commonStore.getComCodeCdList('PRODUCT').then((response) => {
        productList.value = response.data.Data
    })
}

/* 데이터*/
const selectAll = (event) => {
    siteStore.siteList.forEach((element) => {
        element.selected = event.target.checked ? 'Y' : 'N'
    })
}
const pagingbar = ref(null)
const initData = async () => {
    siteStore.initSiteParam()
}
const loadData = async () => {
    isLoading.value = true
    try {
        await siteStore.getSiteList()
        pagingbar.value.setPage()
        isLoading.value = false
    } catch (error) {
        dataUtil.handleResponseError(error)
        isLoading.value = false
    }
}

/* 상세 */
import detailPopup from './detailPopup'
const showDetailPopup = (detailObj) => {
    showPopup(
        detailPopup,
        reactive({
            detailData: detailObj
        })
    )
}
const deleteDetail = () => {}
eventBus.$on('saveSiteDetailDone', () => {
    loadData()
})

/* 구독자 */
import subscriberDetailPopup from '../subscriber/detailPopup'
const showSubsDetailPopup = (detailObj) => {
    showPopup(
        subscriberDetailPopup,
        reactive({
            detailData: detailObj,
            readonly: true
        })
    )
}

/* 초기화 */
initData()
/* onMounted */
onMounted(() => {
    /* 코드 */
    initCodeData()
    /* 데이터*/
    loadData()
})
onUnmounted(() => {
    eventBus.$off('saveSiteDetailDone')
})
</script>

<style scoped>
div.section {
    width: 100%;
}
</style>
