<template>
    <Datepicker
        v-model="value"
        auto-apply
        week-start="0"
        format="yyyy-MM-dd"
        :locale="appStore.locale"
        :clearable="clearable"
        :enable-time-picker="false"
        :min-date="minDate"
        :max-date="maxDate"
    />
</template>

<script setup>
import { computed } from 'vue'
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'
import moment from 'moment'

/* Locale */
import { useAppStore } from '@/stores/app'
const appStore = useAppStore()

/* Value */
const emit = defineEmits(['update:modelValue', 'closedOccured'])
const props = defineProps(['modelValue', 'clearable', 'minDate', 'maxDate'])
const value = computed({
    get() {
        return moment(props.modelValue, 'YYYY-MM-DD')
    },
    set(value) {
        emit('update:modelValue', moment(value).format('YYYY-MM-DD'))
    }
})
</script>
