<!--
    NAME:    field.vue
    DESC:    알람목록 View
    DATE:    2021-11-18
    CREATOR: hsohe74
    HISTORY:
            2021-11-18 hsohe74 생성
-->
<template>
    <div>
        <div class="status-main-button-box">
            <div>
                <div class="status-main-button inactive" @click="viewFieldStatus">{{ $t('views.status.menu.field') }}</div>
            </div>
            <div>
                <div class="status-main-button active">{{ $t('views.status.menu.alarm') }}</div>
            </div>
            <div>
                <div class="status-main-help" @click="showAlarmLevelHelp">?</div>
            </div>
        </div>
        <div class="status-content-box">
            <div class="alarm-search-container">
                <button
                    :class="`alarm-search-button${alarmListParams.IsAcknowledgedYn === 'N' ? ' on' : ''}`"
                    @click="toggleAlarmIsAcknowledgedYn('N')"
                >
                    {{ $t('views.status.alarm.menu.status') }}
                </button>
                <button
                    :class="`alarm-search-button${alarmListParams.IsAcknowledgedYn === 'Y' ? ' on' : ''}`"
                    @click="toggleAlarmIsAcknowledgedYn('Y')"
                >
                    {{ $t('views.status.alarm.menu.history') }}
                </button>
                <datetime
                    v-model="StartDate"
                    v-if="alarmListParams.IsAcknowledgedYn === 'Y'"
                    type="date"
                    value-zone="UTC+9"
                    format="yyyy-MM-dd"
                    :week-start="7"
                    auto
                    input-class="alarm-search-date"
                    style="display: inline-block; width: 75px"
                ></datetime>
                <span v-if="alarmListParams.IsAcknowledgedYn === 'Y'">~</span>
                <datetime
                    v-model="EndDate"
                    v-if="alarmListParams.IsAcknowledgedYn === 'Y'"
                    type="date"
                    value-zone="UTC+9"
                    format="yyyy-MM-dd"
                    :week-start="7"
                    auto
                    input-class="alarm-search-date"
                    style="display: inline-block; width: 75px"
                ></datetime>
                <button v-if="alarmListParams.IsAcknowledgedYn === 'Y'" class="alarm-search-button on" @click="searchAlarm">조회</button>
            </div>
            <div>
                <status-alarm-summary ref="AlarmSummaryComp"></status-alarm-summary>
            </div>
            <status-alarm @setSummary1Param="loadSummary1Data"></status-alarm>
        </div>
    </div>
</template>

<script>
import EventBus from '@/EventBus'
import { mapGetters, mapActions } from 'vuex'
import { getPopupOpt } from '@/utils/popup'
import AlarmLevelHelpPopup from '@/components/status/AlarmLevelHelpPopup'
import { Datetime } from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'
export default {
    components: {
        Datetime
    },
    data: () => ({
        StartDate: '',
        EndDate: ''
    }),
    computed: {
        ...mapGetters('status', ['alarmListParams'])
    },
    methods: {
        ...mapActions('status', ['initAlarmListParams', 'getAlarmListData']),
        viewFieldStatus: function () {
            this.$router.push('/home/status/field')
        },
        loadSummary1Data: function (paramObj) {
            this.$refs.AlarmSummaryComp.loadSummary1Data(paramObj)
        },
        /* 범례 표시 */
        showAlarmLevelHelp: function () {
            this.$modal.show(AlarmLevelHelpPopup, {}, getPopupOpt('AlarmLevelHelpPopup', '240px', 'auto', false))
        },
        /* 알람검색 */
        toggleAlarmIsAcknowledgedYn: function (IsAcknowledgedYn) {
            this.$set(this.alarmListParams, 'IsAcknowledgedYn', IsAcknowledgedYn)
            // 날짜 조정
            if (IsAcknowledgedYn === 'N') {
                this.StartDate = ''
                this.EndDate = ''
            } else {
                this.StartDate = this.$moment().add(-1, 'months').format('YYYY-MM-DD')
                this.EndDate = this.$moment().format('YYYY-MM-DD')
            }
            // 알람검색
            this.searchAlarm()
        },
        searchAlarm: function () {
            if (this.StartDate) {
                this.$set(this.alarmListParams, 'StartDate', this.$moment(this.StartDate).format('YYYY-MM-DD'))
            } else {
                this.$set(this.alarmListParams, 'StartDate', '')
            }
            if (this.EndDate) {
                this.$set(this.alarmListParams, 'EndDate', this.$moment(this.EndDate).format('YYYY-MM-DD'))
            } else {
                this.$set(this.alarmListParams, 'EndDate', '')
            }
            this.getAlarmListData()
            this.loadSummary1Data(this.alarmListParams)
        }
    },
    created: function () {
        this.initAlarmListParams()
    },
    mounted: function () {
        /* 전역 이벤트 수신 */
        EventBus.$on('ackSensorAlarmDone', this.searchAlarm)
    },
    beforeDestroy: function () {}
}
</script>
