<!--
    NAME:    fieldAlarm.vue
    DESC:    사업현장 센서그룹별 알람목록 View
    DATE:    2021-11-18
    CREATOR: hsohe74
    HISTORY:
            2021-11-18 hsohe74 생성
-->
<template>
    <div>
        <div class="status-main-button-box">
            <div>
                <div class="status-main-button active">사업장 현황</div>
            </div>
            <div>
                <div class="status-main-button inactive" @click="viewAlarmList">알람목록</div>
            </div>
        </div>
        <div class="status-content-box">
            <div class="status-back-button" @click="viewFieldStatus">
                <b-icon pack="fas" icon="backward" type="is-white" size="is-medium" custom-class="is-medium"></b-icon>
            </div>
            <div class="field-sensor-path" @click="viewFieldStatus">
                {{ fieldGroupPathData.GroupPath }}
            </div>
            <status-alarm></status-alarm>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    data: () => ({
        paramObj: {
            FieldSeq: 0,
            GroupSeq: 0
        }
    }),
    computed: {
        ...mapGetters('status', ['sensorListParams']),
        ...mapGetters('status', ['fieldGroupPathData'])
    },
    methods: {
        ...mapActions('status', ['initAlarmListParams']),
        ...mapActions('status', ['setFieldGroupPathParams', 'initFieldGroupPathData', 'getFieldGroupPathData']),
        viewAlarmList: function () {
            this.$router.push('/home/status/alarm')
        },
        viewFieldStatus: function () {
            this.$router.push('/home/status/field')
        }
    },
    created: function () {
        this.paramObj = {
            FieldSeq: this.sensorListParams.FieldSeq,
            GroupSeq: this.sensorListParams.GroupSeq
        }
        /* 센서그룹 경로 조회 */
        this.setFieldGroupPathParams(this.paramObj).then(() => {
            this.getFieldGroupPathData()
        })
    },
    mounted: function () {},
    beforeDestroy: function () {}
}
</script>
