<!--
    NAME:    field.vue
    DESC:    사업현장 현황 View
    DATE:    2021-11-18
    CREATOR: hsohe74
    HISTORY:
            2021-11-18 hsohe74 생성
-->
<template>
    <div>
        <div class="status-main-button-box">
            <div>
                <div class="status-main-button active">{{ $t('views.status.menu.field') }}</div>
            </div>
            <div>
                <div class="status-main-button inactive" @click="viewAlarmList">{{ $t('views.status.menu.alarm') }}</div>
            </div>
            <div>
                <div class="status-main-help" @click="showAlarmLevelHelp">?</div>
            </div>
        </div>
        <div class="status-content-box">
            <status-field></status-field>
        </div>
    </div>
</template>

<script>
import { getPopupOpt } from '@/utils/popup'
import AlarmLevelHelpPopup from '@/components/status/AlarmLevelHelpPopup'
export default {
    data: () => ({}),
    computed: {},
    methods: {
        viewAlarmList: function () {
            this.$router.push('/home/status/alarm')
        },
        /* 범례 표시 */
        showAlarmLevelHelp: function () {
            this.$modal.show(AlarmLevelHelpPopup, {}, getPopupOpt('AlarmLevelHelpPopup', '240px', 'auto', false))
        }
    },
    created: function () {},
    mounted: function () {},
    beforeDestroy: function () {}
}
</script>
