<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>{{ $t('view.common.comCode&GlobalConf.title') }}</h2>
            </div>
            <div class="desc">{{ $t('view.common.comCode&GlobalConf.desc') }}</div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                {{ $t('view.common.comCode&GlobalConf.section.comCodeCd.title') }}
                                <label class="desc">{{
                                    $t('view.common.comCode&GlobalConf.section.comCodeCd.desc')
                                }}</label>
                            </div>
                            <div class="button">
                                <input
                                    type="text"
                                    v-model="groupCd"
                                    :placeholder="$t('view.common.comCode&GlobalConf.section.globalConf.input.phGrpCd')"
                                />
                                <button class="btn-common small colored" @click="getComCodeCdList()">
                                    {{ $t('ui.button.load') }}
                                </button>
                                <button class="btn-common small grayed" @click="initComCodeCdList()">
                                    {{ $t('ui.button.clear') }}
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <ListPaginginfo v-model="comCodeCdList.length"></ListPaginginfo>
                            <table class="data-list-table vborder">
                                <colgroup>
                                    <col style="width: 30%" />
                                    <col style="width: 20%" />
                                    <col style="width: 20%" />
                                    <col style="width: 20%" />
                                    <col style="width: 10%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>
                                            {{ $t('view.common.comCode&GlobalConf.section.comCodeCd.column.GrpCd') }}
                                        </th>
                                        <th>
                                            {{ $t('view.common.comCode&GlobalConf.section.comCodeCd.column.ComCd') }}
                                        </th>
                                        <th>
                                            {{ $t('view.common.comCode&GlobalConf.section.comCodeCd.column.ComNm') }}
                                        </th>
                                        <th>
                                            {{ $t('view.common.comCode&GlobalConf.section.comCodeCd.column.ComEnNm') }}
                                        </th>
                                        <th>
                                            {{ $t('view.common.comCode&GlobalConf.section.comCodeCd.column.OrdNo') }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in comCodeCdList" :key="index">
                                        <td>{{ item.GrpCd }}</td>
                                        <td>
                                            <a @click="setComCodeDetail(item)">{{ item.ComCd }}</a>
                                        </td>
                                        <td>
                                            <a @click="initComCodeDetail()">{{ item.ComNm }}</a>
                                        </td>
                                        <td>{{ item.ComEnNm }}</td>
                                        <td>{{ item.OrdNo }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                {{ $t('view.common.comCode&GlobalConf.section.globalConf.title') }}
                                <label class="desc">{{
                                    $t('view.common.comCode&GlobalConf.section.globalConf.desc')
                                }}</label>
                            </div>
                            <div class="button">
                                <input
                                    type="text"
                                    v-model="globalConfParam.GrpCd"
                                    :placeholder="$t('view.common.comCode&GlobalConf.section.globalConf.input.phGrpCd')"
                                />
                                <input
                                    type="text"
                                    v-model="globalConfParam.ConfCd"
                                    :placeholder="
                                        $t('view.common.comCode&GlobalConf.section.globalConf.input.phConfCd')
                                    "
                                />
                                <button class="btn-common small colored" @click="getGlobalConfList()">
                                    {{ $t('ui.button.load') }}
                                </button>
                                <button class="btn-common small grayed" @click="initGlobalConfList()">
                                    {{ $t('ui.button.clear') }}
                                </button>
                            </div>
                        </div>
                        <div class="content">
                            <ListPaginginfo v-model="globalConfList.length"></ListPaginginfo>
                            <table class="data-list-table vborder">
                                <colgroup>
                                    <col style="width: 15%" />
                                    <col style="width: 15%" />
                                    <col style="width: 20%" />
                                    <col style="width: 15%" />
                                    <col style="width: 35%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>
                                            {{ $t('view.common.comCode&GlobalConf.section.globalConf.column.GrpCd') }}
                                        </th>
                                        <th>
                                            {{ $t('view.common.comCode&GlobalConf.section.globalConf.column.GrpNm') }}
                                        </th>
                                        <th>
                                            {{ $t('view.common.comCode&GlobalConf.section.globalConf.column.ConfCd') }}
                                        </th>
                                        <th>
                                            {{
                                                $t('view.common.comCode&GlobalConf.section.globalConf.column.ConfValue')
                                            }}
                                        </th>
                                        <th>
                                            {{
                                                $t('view.common.comCode&GlobalConf.section.globalConf.column.ConfDesc')
                                            }}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(item, index) in globalConfList" :key="index">
                                        <td>{{ item.GrpCd }}</td>
                                        <td>{{ item.GrpNm }}</td>
                                        <td>{{ item.ConfCd }}</td>
                                        <td>{{ item.ConfValue }}</td>
                                        <td>{{ item.ConfDesc }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { ref, reactive } from 'vue'
import { useCommonStore } from '@/stores/common'

import * as dataUtil from '@/utils/data'

export default {
    setup() {
        const commonStore = useCommonStore()
        const groupCd = ref('')

        /* 공통코드 */
        const comCodeCdList = ref([])
        function getComCodeCdList() {
            commonStore
                .getComCodeCdList(groupCd.value)
                .then((response) => {
                    comCodeCdList.value = response.data.Data
                })
                .catch((error) => {
                    console.log('error: ', error)
                })
        }
        function initComCodeCdList() {
            comCodeCdList.value = []
        }

        let comCodeDetail = ref({})
        const setComCodeDetail = (paramObj) => {
            comCodeDetail.value = paramObj
            console.log('comCodeDetail: ', comCodeDetail)
        }
        const initComCodeDetail = () => {
            comCodeDetail.value = {}
            console.log('comCodeDetail: ', comCodeDetail)
        }

        /* 전역설정 */
        const globalConfList = ref([])
        const globalConfParam = reactive({
            GrpCd: '',
            ConfCd: ''
        })
        function getGlobalConfList() {
            commonStore
                .getGlobalConfList(globalConfParam)
                .then((response) => {
                    globalConfList.value = response.data.Data
                })
                .catch((error) => {
                    console.log('error: ', error)
                })
        }
        function initGlobalConfList() {
            globalConfList.value = []
        }

        /* Return */
        return {
            commonStore,
            groupCd,
            comCodeCdList,
            getComCodeCdList,
            initComCodeCdList,
            setComCodeDetail,
            initComCodeDetail,
            globalConfParam,
            globalConfList,
            getGlobalConfList,
            initGlobalConfList
        }
    }
}
</script>

<style scoped>
div.section {
    width: calc(50% - 10px);
}
</style>
