<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>테스트 헤더 Test header</h2>
                <div class="button">
                    <button class="btn-common small colored">버튼 Button</button>
                    <button class="btn-common small grayed">버튼 Button</button>
                </div>
            </div>
            <div class="desc">
                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                폼 컨트롤 종류
                                <label class="desc">폼 컨트롤 종류</label>
                            </div>
                            <div class="button">
                                <button class="btn-common small colored">버튼 Button</button>
                                <button class="btn-common small grayed">버튼 Button</button>
                            </div>
                        </div>
                        <div class="content">
                            <table class="data-form-table">
                                <tr>
                                    <th class="w150">Text</th>
                                    <td>
                                        <input type="text" v-focus />
                                        <input type="text" disabled />
                                        <span class="impact">v-focus</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Number</th>
                                    <td>
                                        <input type="text" v-onlynumber />
                                        <input type="text" disabled />
                                        <span class="impact">v-onlynumber</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Text</th>
                                    <td class="full">
                                        <input type="text" />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Select</th>
                                    <td>
                                        <select>
                                            <option>aaaa</option>
                                            <option>bbbb</option>
                                        </select>
                                        <select disabled>
                                            <option>aaaa</option>
                                            <option>bbbb</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Select</th>
                                    <td class="full">
                                        <select>
                                            <option>aaaa</option>
                                            <option>bbbb</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">체크박스</th>
                                    <td>
                                        <label><input type="checkbox" name="cb1" value="1" />test1</label>
                                        <label><input type="checkbox" name="cb1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">라디오</th>
                                    <td>
                                        <label><input type="radio" name="rd1" value="1" />test1</label>
                                        <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">파일</th>
                                    <td><input type="file" /></td>
                                </tr>
                                <tr>
                                    <th class="w150">날짜 선택기</th>
                                    <td>
                                        <FormDatepicker v-model="date1" :clearable="true"></FormDatepicker>
                                        <span class="impact">선택값: {{ moment(date1).format('YYYY-MM-DD') }}</span>
                                        <FormDatepicker v-model="date2" disabled></FormDatepicker>
                                        <span class="impact">선택값: {{ moment(date1).format('YYYY-MM-DD') }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">날짜 선택기</th>
                                    <td>
                                        <FormDatepicker
                                            v-model="date3"
                                            :clearable="false"
                                            :minDate="minDate"
                                            :maxDate="maxDate"
                                        ></FormDatepicker>
                                        <span class="impact">선택값: {{ moment(date3).format('YYYY-MM-DD') }}</span>
                                        <span>(지정된 구간안에서 날짜 선택)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">기간 선택기</th>
                                    <td>
                                        <FormRangeDatepicker
                                            v-model="rangeDate1"
                                            :clearable="true"
                                            :minRange="2"
                                            :maxRange="5"
                                        ></FormRangeDatepicker>
                                        <span class="impact">
                                            선택값: {{ moment(rangeDate1[0]).format('YYYY-MM-DD') }} ~
                                            {{ moment(rangeDate1[1]).format('YYYY-MM-DD') }}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">시간 선택기</th>
                                    <td>
                                        <FormTimepicker v-model="time1" :clearable="false"></FormTimepicker>
                                        <span class="impact">선택값: {{ moment(time1).format('HH:mm') }}</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">이미지</th>
                                    <td>
                                        <div class="thumb">
                                            <img src="@/assets/logo.png" />
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <div class="data-form-button">
                                <div class="right">
                                    <button class="btn-common default impact">버튼 Button</button>
                                    <button class="btn-common default grayed">버튼 Button</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, watch, computed } from 'vue'
import moment from 'moment'

/* Datepicker */
const date1 = ref(moment().format('YYYY-MM-DD'))
const date2 = ref(moment().format('YYYY-MM-DD'))
const date3 = ref(moment().format('YYYY-MM-DD'))
const minDate = moment().add(-10, 'days').format('YYYY-MM-DD')
const maxDate = moment().add(10, 'days').format('YYYY-MM-DD')
const date4 = ref(moment().format('YYYY-MM-DD'))
const rangeDate1 = ref([moment().add(-5, 'days').format('YYYY-MM-DD'), moment().add(5, 'days').format('YYYY-MM-DD')])

/* Timepicker */
const time1 = ref(moment().toDate())
</script>
<style scoped>
div.section {
    /* width: 100%; */
    width: calc(50% - 10px);
}
</style>
