<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>File upload & download</h2>
            </div>
            <div class="desc">
                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                File upload & download
                                <label class="desc">File upload & download</label>
                            </div>
                        </div>
                        <div class="content">
                            <table class="data-form-table">
                                <tr>
                                    <th rowspan="2">이미지</th>
                                    <td>
                                        <button class="btn-common small colored" @click="loadImage">
                                            이미지 불러오기
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="thumb">
                                            <img v-if="imageData" :src="imageData" />
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>다운로드</th>
                                    <td>
                                        <button class="btn-common small colored" @click="downloadFile">
                                            downloadFile
                                        </button>
                                    </td>
                                </tr>
                            </table>
                            <div class="data-form-button">
                                <div class="right">
                                    <button class="btn-common default impact">버튼 Button</button>
                                    <button class="btn-common default grayed">버튼 Button</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, onMounted } from 'vue'
import { useAppStore } from '@/stores/app'

/**
 * Reference
 */
const appStore = useAppStore()
const isLoading = ref(false)

/* 이미지 */
const imageData = ref(null)
const loadImage = () => {
    appStore
        .downloadImage({
            filePath: 'room/HSOHE74_5.png'
        })
        .then((response) => {
            imageData.value = response
        })
}

/* 다운로드 */
const downloadFile = () => {
    appStore.downloadFile({
        filePath: 'Field/디폴리스전경.jpg'
    })
}

/* onMounted */
onMounted(() => {})
</script>
<style scoped>
div.section {
    /* width: 100%; */
    width: calc(50% - 10px);
}
</style>
