<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>Global</h2>
            </div>
            <div class="desc">APP의 전역에서 사용할 변수들</div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container block">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                import meta env
                                <span class="desc">내장된 변수값들</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <div>BASE_URL: {{ env.BASE_URL }}</div>
                                <div>MODE: {{ env.MODE }}</div>
                                <div>DEV: {{ env.DEV }}</div>
                                <div>PROD: {{ env.PROD }}</div>
                                <div>SSR: {{ env.SSR }}</div>
                            </div>
                        </div>
                        <div class="header">
                            <div class="title">
                                app.config.globalProperties
                                <span class="desc">main.js의 config를 사용하여 template에 바로 표시</span>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                <div>app.config.globalProperties.foo: {{ foo }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>Library</h2>
            </div>
            <div class="desc">라이브러리</div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container block">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">lodash</div>
                        </div>
                        <div class="content">
                            <div v-for="(item, index) in appStore.locales" :key="index">
                                <span class="impact">{{ item.label }}: </span>
                                {{ item.value }}
                            </div>
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">moment</div>
                        </div>
                        <div class="content">
                            <div>
                                <span class="impact">moment().format('YYYY-MM-DD HH:mm:ss'): </span>
                                {{ currentDate.format('YYYY-MM-DD HH:mm:ss') }}
                            </div>
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">uuid</div>
                        </div>
                        <div class="content">
                            <div><span class="impact">uuid.v4(): </span>{{ uuid.v4() }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue'
import _ from 'lodash'
import moment from 'moment'
import { uuid } from 'vue-uuid'

import { useAppStore } from '@/stores/app'
const appStore = useAppStore()

const currentDate = moment()
const env = ref(import.meta.env)
</script>

<style scoped>
div.section {
    /* width: 100%; */
    width: calc(50% - 10px);
}
</style>
