<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>다중 섹션 레이아웃</h2>
            </div>
            <div class="desc">
                섹션 수 :
                <select v-model="columnCnt">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container inline">
                    <!-- 섹션 -->
                    <div class="section" :style="sectionStyle">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리
                            내용 주저리 주저리 내용
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section" :style="sectionStyle">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리
                            내용 주저리 주저리 내용
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section" :style="sectionStyle">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리
                            내용 주저리 주저리 내용
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section" :style="sectionStyle">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리
                            내용 주저리 주저리 내용
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section" :style="sectionStyle">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리
                            내용 주저리 주저리 내용
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section" :style="sectionStyle">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리
                            내용 주저리 주저리 내용
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section" :style="sectionStyle">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리
                            내용 주저리 주저리 내용
                        </div>
                    </div>
                    <!-- 섹션 -->
                    <div class="section" :style="sectionStyle">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                        </div>
                        <div class="content col-wrap-3-m10">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리 내용 주저리 주저리
                            내용 주저리 주저리 내용
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, computed } from 'vue'

const columnCnt = ref(2)
const sectionStyle = computed(() => {
    return `width: calc(100% / ${columnCnt.value})`
})
</script>

<style scoped></style>
