<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>Loading</h2>
            </div>
            <div class="desc">Loading</div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">Loading</div>
                            <div class="button">
                                <button class="btn-common small colored" @click="showLoading()">로딩 시작</button>
                            </div>
                        </div>
                        <div class="content">Loading</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, reactive } from 'vue'

const isLoading = ref(false)
const showLoading = () => {
    isLoading.value = true
    setTimeout(() => {
        isLoading.value = false
    }, 1000)
}
</script>

<style scoped>
div.section {
    /* width: 100%; */
    width: calc(50% - 10px);
}
</style>
