<template>
    <PopupNormal ref="popup" @close="closePopup" :width="640" :height="0">
        <template #title>테스트 팝업 2</template>
        <template #content>
            <!-- 섹션 컨테이너 -->
            <div class="section-container">
                <!-- 섹션 -->
                <div class="section">
                    <div class="header">
                        <div class="title">
                            테스트 헤더 Test header
                            <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                        </div>
                    </div>
                    <div class="content">
                        <div class="title">테스트 헤더 Test header</div>
                        <table class="data-form-table">
                            <tr>
                                <th class="w150">헤더</th>
                                <td class="full"><input type="text" /></td>
                            </tr>
                            <tr>
                                <th class="w150">헤더</th>
                                <td><input type="text" /></td>
                            </tr>
                            <tr>
                                <th class="w150">헤더</th>
                                <td class="full">
                                    <select>
                                        <option>aaaa</option>
                                        <option>bbbb</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">헤더</th>
                                <td>
                                    <select>
                                        <option>aaaa</option>
                                        <option>bbbb</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">헤더</th>
                                <td>
                                    <label><input type="checkbox" name="cb1" value="1" />test1</label>
                                    <label><input type="checkbox" name="cb1" value="2" />테스트2</label>
                                </td>
                            </tr>
                            <tr>
                                <th class="w150">헤더</th>
                                <td>
                                    <label><input type="radio" name="rd1" value="1" />test1</label>
                                    <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </template>
        <template #button-left>
            <button class="btn-common default impact">Open</button>
        </template>
        <template #button-right>
            <button class="btn-common default grayed" @click="closePopup">Close</button>
        </template>
    </PopupNormal>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from 'vue'

/* Value */
const props = defineProps(['name', 'a', 'b'])
console.log('popupSample2 > ', 'name: ', props.name, ', a: ', props.a, ', b: ', props.b)

/* Self */
const emit = defineEmits(['closed'])
const popup = ref(null)
const closePopup = () => {
    emit('closed')
    console.log('PopupSample2 > closePopup')
}

/* onMounted */
onMounted(() => {})
onUnmounted(() => {})
</script>

<style></style>
