<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>Reactive</h2>
            </div>
            <div class="desc">Reactive</div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">Reactive</div>
                        </div>
                        <div class="content">Reactive</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, reactive } from 'vue'

const sample1 = reactive({
    aa: 'aa',
    bb: 'bb',
    cc: {
        c1: 'c1',
        c2: 'c2',
        c3: 'c3'
    }
})
const sample2 = reactive({
    cc: {
        c1: 'c1-2',
        c2: 'c2-2',
        c3: 'c3-2'
    }
})

Object.assign(sample1, sample2)
console.log('sample1: ', sample1)
console.log('sample2: ', sample2)
</script>

<style scoped>
div.section {
    /* width: 100%; */
    width: calc(50% - 10px);
}
</style>
