/*
 * ####################################################################################################
 * 공용 전용 스타일
 * Created : 2023-10-20 (hsohe)
 * Modified :
 * ####################################################################################################
 */
/*
 * ======================================================================
 * Common
 * ======================================================================
 */

* {
    font-family: $font-family-default;
}
html {
    font-size: $font-root-size-pc;
    @include mobile {
        font-size: $font-root-size-mobile;
    }
    @include pc {
        font-size: $font-root-size-pc;
    }
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    /* 레이아웃 정의한 곳에서 스크롤 표시할 것이므로 여기선 숨김 */
    overflow-y: hidden;
}
a {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-style: dotted;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
}
#app {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

div,
p,
a {
    @include font-default;
}
label,
span {
    @include font-label;
}

[v-cloak] {
    display: none;
}

/*
 * ====================================================================================================
 * Media query reference size
 * ====================================================================================================
 */

.mobile {
    display: none;
    @include mobile {
        display: block;
    }
    @include pc {
        display: none;
    }
}
.pc {
    display: block;
    @include mobile {
        display: none;
    }
    @include pc {
        display: block;
    }
}

/*
 * ====================================================================================================
 * Print
 * ====================================================================================================
 */

@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility: hidden;
    }
    #printSection,
    #printSection * {
        visibility: visible;
    }
    #printSection {
        position: absolute;
        left: 0;
        top: 0;
    }
}

/*
 * ======================================================================
 * Utilization
 * ======================================================================
 */

/* 글 줄임 */
.ellipsis {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: norwap;
    word-wrap: normal;
}

/*  */
.x-scroll {
    overflow: auto;
    width: 100%;
}

/*
 * --------------------------------------------------
 * 분활
 * --------------------------------------------------
 */

/* 분활 */
@for $i from 1 through 5 {
    .col-wrap-#{$i} > * {
        width: calc(100% / $i);
    }
}
@include mobile {
    @for $i from 1 through 5 {
        .col-wrap-#{$i} > * {
            width: 100%;
        }
    }
}

/* 분활 (margin 10px) */
@for $i from 1 through 5 {
    .col-wrap-#{$i}-m10 > * {
        width: calc(100% / $i - 10px);
    }
}
@include mobile {
    @for $i from 1 through 5 {
        .col-wrap-#{$i}-m10 > * {
            width: 100%;
        }
    }
}

/*
 * --------------------------------------------------
 * 폰트
 * --------------------------------------------------
 */

.impact {
    @include font-impact;
}
.error {
    @include font-error;
}
.label {
    @include font-label;
}
.desc {
    @include font-desc;
}

/*
 * --------------------------------------------------
 * 정렬
 * --------------------------------------------------
 */
.left {
    text-align: center;
}
.center {
    text-align: center;
}
.right {
    text-align: center;
}
