/*
 * ####################################################################################################
 * Data list 스타일
 * Created : 2023-10-20 (hsohe)
 * Modified :
 * ####################################################################################################
 */
/*
 * ======================================================================
 * Data list
 * ======================================================================
 */

/*
 * --------------------------------------------------
 * 검색
 * --------------------------------------------------
 */

.data-search {
    clear: both;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    background-color: $data-table-header-bg;
    border: $data-table-border;
    box-sizing: border-box;
    @include mobile {
        padding: 0 8px 8px 8px !important;
    }
}
.data-search > .item {
    display: inline-block;
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
}
.data-search > .item + .data-search > .item {
    margin-top: 10px;
}
/* Header */
.data-search > .item > .header {
    display: inline-block;
    margin-right: 7px;
    box-sizing: border-box;
    @include font-header;
    @include mobile {
        display: none !important;
    }
}
.data-search > .item > .header:not(:first-child) {
    margin-left: 10px;
}
/* Content */
.data-search > .item > .content {
    display: inline-block;
    box-sizing: border-box;
    &.full {
        width: 100%;
    }
    &.right {
        float: right;
        text-align: right;
    }
    > select {
        width: initial;
    }
}
.data-search > .item > .content + .content {
    margin-left: 7px;
}
@include mobile {
    .data-search > .item > * + * {
        display: block !important;
        margin-left: 0px !important;
        margin-top: 7px;
    }
}
/* Button */
.data-search > .item > .button {
    float: right;
    margin-right: 10px;
    text-align: right;
    white-space: nowrap;
    @include mobile {
        display: block;
        margin-top: 7px;
        margin-right: 0px !important;
    }
    > input:not(:first-child),
    > button:not(:first-child) {
        margin-left: 7px;
    }
}

/*
 * --------------------------------------------------
 * 페이지 정보
 * --------------------------------------------------
 */
.data-list-pageinfo {
    width: 100%;
    margin-bottom: 0.5rem;
    padding-left: 1rem;
    box-sizing: border-box;
    div {
        display: inline-block;
        text-align: left;
    }
    div + div {
        margin-left: 10px;
    }
    .total-count {
        color: $font-impact-color;
    }
    .page-size {
        position: absolute;
        select {
            width: 50px;
            height: 20px;
            margin-top: -1px;
            font-size: 1rem;
        }
    }
}

/*
 * --------------------------------------------------
 * Data list
 * --------------------------------------------------
 */
/* 테이블 */
.data-list-table {
    table-layout: auto;
    word-break: keep-all;
    width: 100%;
    margin-bottom: 0px;
    background-color: $data-table-cell-bg;
    border-spacing: 0px;
    border-collapse: separate;
    border: $data-table-border;
    tr {
        height: $data-list-row-size;
    }
}

/* 헤더 */
.data-list-table tr > th {
    padding-left: 1rem;
    padding-right: 1rem;
    background: $data-table-header-bg;
    border-bottom: $data-table-border;
    box-sizing: border-box;
    vertical-align: middle;
    white-space: nowrap;
    @include font-header;
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
}
.data-list-table.vborder tr > th + th {
    border-left: $data-table-border-vertical;
}

/* 내용 (Row) */
.data-list-table tbody > tr {
    height: 32px;
    background: $data-table-cell-bg;
    &.click {
        cursor: pointer;
    }
    &:hover {
        background: $data-table-hover-bg;
    }
    &.impact {
        background: $data-table-impact-bg;
    }
    &.impact:hover {
        background: $data-table-impact-bg-hover;
    }
    &.impact > td {
        color: $data-table-impact-color;
    }
    &:not(:last-child) > td {
        border-bottom: $data-table-border;
    }
}

/* 내용 (Cell) */
.data-list-table tbody > tr > td {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    vertical-align: middle;
    box-sizing: border-box;
    white-space: nowrap;
    @include font-default;
    a {
        text-decoration: underline;
        text-underline-position: under;
    }
    a:hover {
        text-decoration: none;
    }
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    &.full > * {
        width: 100% !important;
    }
    input[type='password'],
    input[type='text'],
    input[type='number'],
    input[type='email'],
    input[type='url'],
    select,
    textarea {
        width: 200px;
    }
}
.data-list-table.vborder tbody > tr > td + td {
    border-left: $data-table-border-vertical;
}

/*
 * --------------------------------------------------
 * Paging bar
 * --------------------------------------------------
 */
.pagingbar-container {
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    > .pagingbar {
        display: inline-block;
        text-align: center;
        * + * {
            margin-left: 5px;
        }
        > a {
            width: 2.6rem !important;
            padding: 0.1rem 0rem 0.3rem 0rem !important;
        }
    }
}
