
// Webfont
$font_path: '/resources/fonts/';
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url($font_path + 'NotoSansKR-Regular.woff2') format('woff2'),
        url($font_path + 'NotoSansKR-Regular.woff') format('woff'),
        url($font_path + 'NotoSansKR-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url($font_path + 'NotoSansKR-Medium.woff2') format('woff2'),
        url($font_path + 'NotoSansKR-Medium.woff') format('woff'),
        url($font_path + 'NotoSansKR-Medium.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url($font_path + 'NotoSansKR-Bold.woff2') format('woff2'),
        url($font_path + 'NotoSansKR-Bold.woff') format('woff'),
        url($font_path + 'NotoSansKR-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url($font_path + 'NotoSansKR-Black.woff2') format('woff2'),
        url($font_path + 'NotoSansKR-Black.woff') format('woff'),
        url($font_path + 'NotoSansKR-Black.otf') format('opentype');
}
