<template>
    <header class="layout-multi">
        <div class="nav-bar">
            <div class="logo">
                <img alt="Vue logo" class="logo" src="@/assets/logo.svg" />
            </div>
            <div class="button">
                <button class="btn-common default colored" @click="showMyInfoPopup()">
                    <font-awesome-icon icon="fa-solid fa-user" />&nbsp;{{ appStore.loginData.UserName }}
                </button>
                <button
                    v-if="appStore.locale === 'en'"
                    @click="appStore.changeLocale('ko')"
                    class="btn-common default colored"
                >
                    KOR
                </button>
                <button
                    v-if="appStore.locale === 'ko'"
                    @click="appStore.changeLocale('en')"
                    class="btn-common default grayed"
                >
                    ENG
                </button>
            </div>
        </div>
        <div class="nav-menu mobile">
            <div @click="toggleMenu(true)">
                <font-awesome-icon icon="fa-solid fa-bars" />
                <span>{{ $t('common.side.menu') }}</span>
            </div>
        </div>
    </header>
    <aside :class="`layout-multi active-side ${isShowMenu ? 'mobile-show' : 'mobile-hide'}`">
        <div class="side-heder">
            <div class="title">{{ $t('common.side.menu') }}</div>
            <div class="close mobile" @click="toggleMenu(false)"><font-awesome-icon icon="fa-solid fa-times" /></div>
        </div>
        <div class="side-menu">
            <ul>
                <li>
                    <a
                        @click="goMenu('/sysAdmin/subscriber')"
                        :class="{ active: route.path == '/sysAdmin/subscriber' }"
                    >
                        {{ $t('view.sysAdmin.menu.subsMgr') }}
                    </a>
                </li>
                <li>
                    <a @click="goMenu('/sysAdmin/site')" :class="{ active: route.path == '/sysAdmin/site' }">
                        {{ $t('view.sysAdmin.menu.siteMgr') }}
                    </a>
                </li>
                <li>
                    <a @click="goMenu('/sysAdmin/user')" :class="{ active: route.path == '/sysAdmin/user' }">
                        {{ $t('view.sysAdmin.menu.userMgr') }}
                    </a>
                </li>
            </ul>
            <div class="button">
                <button class="btn-common small impact" @click="userStore.logout('/')">
                    {{ $t('view.login.button.logout') }}
                </button>
            </div>
        </div>
    </aside>
    <main class="layout-multi active-side">
        <router-view />
    </main>
    <footer class="layout-multi">
        <div class="copyright">Copyright 2023 Hyounseok Ohe. All Rights Reserved.</div>
    </footer>
    <div :class="`backdrop ${isShowMenu ? 'mobile-show' : 'mobile-hide'}`" @click="toggleMenu(false)"></div>
</template>

<script setup>
import { ref, shallowRef, inject } from 'vue'
import { useAppStore } from '@/stores/app'
import { useUserStore } from '@/stores/user'
import { useRouter, useRoute, RouterView } from 'vue-router'
import * as symbols from '@/symbols'

/**
 * Reference
 */
const appStore = useAppStore()
const userStore = useUserStore()
const router = useRouter()
const route = useRoute()
const showPopup = inject(symbols.showPopup)

/* 메뉴 */
const goMenu = (path) => {
    toggleMenu(false)
    router.push(path)
}
const isShowMenu = ref(false)
const toggleMenu = (show) => {
    isShowMenu.value = show
}

/* 상세 */
import myInfoPopup from '@/views/common/myInfoPopup'
let myInfoPopupComponent = shallowRef(null)
const showMyInfoPopup = () => {
    showPopup(myInfoPopup, {})
}
</script>
