<template>
    <div class="layout-single">
        <div class="centering">
            <div class="content">
                <form autocomplete="off" @submit.prevent>
                    <!-- 섹션 컨테이너 -->
                    <div class="section-container">
                        <!-- 섹션 -->
                        <div class="section" style="width: 300px">
                            <div class="content">
                                <table class="data-form-table">
                                    <tr>
                                        <th>{{ $t('view.login.column.loginId') }}</th>
                                        <td class="full">
                                            <input
                                                type="text"
                                                v-model="loginFormData.LoginId"
                                                @blur="v$.LoginId.$touch"
                                            />
                                            <div v-for="error of v$.LoginId.$errors" :key="error.$uid">
                                                <span class="error">{{ error.$message }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>{{ $t('view.login.column.loginPw') }}</th>
                                        <td class="full">
                                            <input
                                                type="password"
                                                v-model="loginFormData.LoginPw"
                                                @blur="v$.LoginPw.$touch"
                                            />
                                            <div v-for="error of v$.LoginPw.$errors" :key="error.$uid">
                                                <span class="error">{{ error.$message }}</span>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="data-form-button">
                                    <div class="center">
                                        <button class="btn-common default impact" @click="login">
                                            {{ $t('view.login.button.login') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, reactive, onMounted } from 'vue'
import { useAppStore } from '@/stores/app'
import { useUserStore } from '@/stores/user'
import { useRouter } from 'vue-router'
import i18n from '@/locales'
import * as dataUtil from '@/utils/data'

/**
 * Reference
 */
const appStore = useAppStore()
const userStore = useUserStore()
const router = useRouter()
const isLoading = ref(false)

/* 로그인 폼 데이터 */
const loginFormData = reactive({
    ...appStore.loginFormData
})
loginFormData.SubscriberId = 'DEFAULT'
loginFormData.UserTypeCd = '90'

/* 로그인 */
const login = async () => {
    isLoading.value = true
    const isFormCorrect = await v$.value.$validate()
    if (isFormCorrect) {
        try {
            await userStore.login(loginFormData)
            isLoading.value = false
            router.push('/sysAdmin')
        } catch (error) {
            isLoading.value = false
            dataUtil.handleResponseError(error)
        }
    }
}

/* Validation */
import { useVuelidate } from '@vuelidate/core'
import { required, helpers } from '@vuelidate/validators'
const rules = {
    LoginId: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    },
    LoginPw: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    }
}
const v$ = useVuelidate(rules, loginFormData)

/* Lifecycle */
onMounted(() => {})
</script>

<style scoped></style>
