<template>
    <PopupNormal ref="popup" @close="closePopup" :width="600" :height="650">
        <template #title>{{ $t('view.userCommon.detail.title') }}</template>
        <template #content>
            <!-- 섹션 컨테이너 -->
            <div class="section-container">
                <!-- 섹션 -->
                <div class="section">
                    <Tabs>
                        <!-- Section 1 -->
                        <Tab :name="$t('view.userCommon.detail.section.1.title')">
                            <div class="section no-box">
                                <div class="content">
                                    <div class="title">
                                        {{ $t('view.userCommon.detail.section.1.title') }}
                                        <label class="desc" v-html="$t('view.userCommon.detail.section.1.desc')">
                                        </label>
                                    </div>
                                    <template v-if="isValidated"> </template>
                                    <table class="data-form-table">
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.userCommon.detail.section.1.column.UserNm') }}
                                            </th>
                                            <td>
                                                <input type="text" v-model="userStore.userDetail.UserNm" />
                                                <div v-for="error of v$.UserNm.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="userStore.userDetail.UserSeq === 0">
                                            <th class="required">
                                                {{ $t('view.userCommon.detail.section.1.column.LoginId') }}
                                            </th>
                                            <td>
                                                <input type="text" v-model="userStore.userDetail.LoginId" />
                                                <div v-for="error of v$.LoginId.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-else>
                                            <th class="required">
                                                {{ $t('view.userCommon.detail.section.1.column.LoginId') }}
                                            </th>
                                            <td>
                                                <input type="text" v-model="userStore.userDetail.LoginId" readonly />
                                                <div v-for="error of v$.LoginId.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="userStore.userDetail.UserSeq === 0">
                                            <th class="required">
                                                {{ $t('view.userCommon.detail.section.1.column.LoginPw') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="password"
                                                    v-model="userStore.userDetail.LoginPw"
                                                    autocomplete="new-password"
                                                />
                                                <div v-for="error of v$.LoginPw.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-else>
                                            <th>
                                                {{ $t('view.userCommon.detail.section.1.column.LoginPw') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="password"
                                                    v-model="userStore.userDetail.LoginPw"
                                                    autocomplete="new-password"
                                                />
                                                <span class="desc">{{
                                                    $t('view.userCommon.detail.section.1.column.LoginPwDesc')
                                                }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ $t('view.userCommon.detail.section.1.column.Telephone') }}
                                            </th>
                                            <td>
                                                <input type="text" v-model="userStore.userDetail.Telephone" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ $t('view.userCommon.detail.section.1.column.Email') }}
                                            </th>
                                            <td class="full">
                                                <input type="text" v-model="userStore.userDetail.Email" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.userCommon.detail.section.1.column.DvsnNm') }}
                                            </th>
                                            <td>
                                                <select v-model="userStore.userDetail.DvsnSeq" style="width: 200px">
                                                    <option value="0">{{ $t('ui.control.Select.Select') }}</option>
                                                    <option
                                                        v-for="item in dvsnList"
                                                        :key="item.DvsnSeq"
                                                        :value="item.DvsnSeq"
                                                    >
                                                        {{ item.DvsnNm }}
                                                    </option>
                                                </select>
                                                <div v-for="error of v$.DvsnSeq.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.userCommon.detail.section.1.column.FieldNm') }}
                                            </th>
                                            <td>
                                                <select v-model="userStore.userDetail.FieldSeq" style="width: 200px">
                                                    <option value="0">{{ $t('ui.control.Select.Select') }}</option>
                                                    <option
                                                        v-for="item in fieldList"
                                                        :key="item.FieldSeq"
                                                        :value="item.FieldSeq"
                                                    >
                                                        {{ item.FieldNm }}
                                                    </option>
                                                </select>
                                                <div v-for="error of v$.FieldSeq.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ $t('view.userCommon.detail.section.1.column.PositionNm') }}
                                            </th>
                                            <td>
                                                <input type="text" v-model="userStore.userDetail.PositionNm" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.userCommon.detail.section.1.column.UserType') }}
                                            </th>
                                            <td>
                                                <select v-model="userStore.userDetail.UserTypeCd" style="width: 150px">
                                                    <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                                    <option
                                                        v-for="item in userTypeCdList"
                                                        :key="item.ComCd"
                                                        :value="item.ComCd"
                                                    >
                                                        {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                                    </option>
                                                </select>
                                                <div v-for="error of v$.UserTypeCd.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.userCommon.detail.section.1.column.Status') }}
                                            </th>
                                            <td>
                                                <select v-model="userStore.userDetail.StatusCd" style="width: 150px">
                                                    <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                                    <option
                                                        v-for="item in statusCdList"
                                                        :key="item.ComCd"
                                                        :value="item.ComCd"
                                                    >
                                                        {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                                    </option>
                                                </select>
                                                <div v-for="error of v$.StatusCd.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ $t('view.userCommon.detail.section.1.column.Memo') }}
                                            </th>
                                            <td class="full">
                                                <textarea v-model="userStore.userDetail.Memo"></textarea>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </Tab>
                        <!-- Section 2 -->
                        <Tab :name="$t('view.userCommon.detail.section.2.title')">
                            <div class="section no-box">
                                <div class="content">
                                    <div class="title">
                                        {{ $t('view.userCommon.detail.section.2.title') }}
                                        <label class="desc" v-html="$t('view.userCommon.detail.section.2.desc')">
                                        </label>
                                    </div>
                                    <table class="data-list-table vborder">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <input type="checkbox" @change="selectAll($event)" />
                                                </th>
                                                <th>
                                                    {{ $t('view.userCommon.detail.section.2.column.SubscriberNm') }}
                                                </th>
                                                <th>
                                                    {{ $t('view.userCommon.detail.section.2.column.SiteProduct') }}
                                                </th>
                                                <th>
                                                    {{ $t('view.userCommon.detail.section.2.column.SiteHost') }}
                                                </th>
                                                <th>
                                                    {{ $t('view.userCommon.detail.section.2.column.SiteName') }}
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in siteList" :key="item.SiteSeq">
                                                <td class="center">
                                                    <input
                                                        type="checkbox"
                                                        v-model="item.selected"
                                                        true-value="Y"
                                                        false-value="N"
                                                    />
                                                </td>
                                                <td class="center">{{ item.SubscriberNm }}</td>
                                                <td class="center">{{ item.SiteProduct }}</td>
                                                <td class="center">{{ item.SiteHost }}</td>
                                                <td class="center">{{ item.SiteName }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </Tab>
                    </Tabs>
                </div>
            </div>
        </template>
        <template #button-left>&nbsp;</template>
        <template #button-right>
            <button v-if="!readonly" class="btn-common default impact" @click="saveDetail">
                {{ $t('ui.button.save') }}
            </button>
            <button class="btn-common default grayed" @click="closePopup">{{ $t('ui.button.close') }}</button>
        </template>
    </PopupNormal>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, onMounted, onUnmounted, getCurrentInstance } from 'vue'
import { useAppStore } from '@/stores/app'
import { useCommonStore } from '@/stores/common'
import { useSiteStore } from '@/stores/site'
import { useDvsnStore } from '@/stores/dvsn'
import { useFieldStore } from '@/stores/field'
import { useUserStore } from '@/stores/user'
import eventBus from '@/eventBus.js'
import i18n from '@/locales'
import * as dataUtil from '@/utils/data'

/**
 * Reference
 */
const appStore = useAppStore()
const commonStore = useCommonStore()
const siteStore = useSiteStore()
const dvsnStore = useDvsnStore()
const fieldStore = useFieldStore()
const userStore = useUserStore()
const isLoading = ref(false)

/* Self */
const emit = defineEmits(['closed'])
const popup = ref(null)
const closePopup = () => {
    emit('closed')
}

/* 코드 */
const userTypeCdList = ref([])
const statusCdList = ref([])
const dvsnList = ref([])
const fieldList = ref([])
const siteList = ref([])
const userSiteList = ref([])
const initCodeData = async () => {
    await commonStore.getComCodeCdList('USER_TYPE_CD').then((response) => {
        userTypeCdList.value = response.data.Data
    })
    await commonStore.getComCodeCdList('STATUS_CD').then((response) => {
        statusCdList.value = response.data.Data
    })

    await dvsnStore
        .getDvsnListRaw({
            SiteHost: '',
            SearchColumn: '',
            SearchWord: '',
            PageNumber: 1,
            PageSize: 0
        })
        .then((response) => {
            dvsnList.value = response.data.Data
        })
    await fieldStore
        .getFieldListRaw({
            SiteHost: '',
            SearchColumn: '',
            SearchWord: '',
            PageNumber: 1,
            PageSize: 0
        })
        .then((response) => {
            fieldList.value = response.data.Data
        })
}

/* Value */
const props = defineProps(['detailData', 'readonly'])

/* 데이터 */
const initData = async () => {
    await userStore.initUserDetail()
}
const loadData = async (detailObj) => {
    if (detailObj) {
        await userStore.getUserDetail(detailObj)
        await siteStore
            .getSiteListRaw({
                SubscriberId: detailObj.SubscriberId
            })
            .then((response) => {
                siteList.value = response.data.Data
            })
        await userStore
            .getUserSiteListRaw({
                UserId: detailObj.LoginId
            })
            .then((response) => {
                userSiteList.value = response.data.Data
            })
        // 사용자 사이트 선택
        if (siteList.value.length > 0 && userSiteList.value.length > 0) {
            siteList.value.forEach((site) => {
                let foundSite = userSiteList.value.filter((x) => x.SiteSeq === site.SiteSeq)
                if (foundSite && foundSite.length > 0) {
                    site.selected = 'Y'
                }
            })
        }
    }
    v$ = useVuelidate(rules, userStore.userDetail)
    isValidated.value = true
}
const saveDetail = async () => {
    const isFormCorrect = await v$.value.$validate()

    console.log('v$.UserNm.$errors: ', v$.value.UserNm.$errors)

    const instance = getCurrentInstance()
    instance?.proxy?.$forceUpdate()

    if (isFormCorrect) {
        // 사이트
        let foundSite = siteList.value.filter((x) => x.selected === 'Y')
        if (!foundSite || foundSite.length < 1) {
            alert(i18n.global.t('view.userCommon.message.atLeastOneSite'))
            return
        }
        // 정보저장
        if (confirm(i18n.global.t('ui.confirm.save'))) {
            isLoading.value = true
            try {
                // 사용자 정보
                await userStore.saveUserDetail(userStore.userDetail)
                // 사이트 정보 (제거)
                if (siteList.value.length > 0 && userSiteList.value.length > 0) {
                    userSiteList.value.forEach(async (site) => {
                        let foundSite = siteList.value.filter((x) => x.SiteSeq === site.SiteSeq && x.selected === 'Y')
                        if (!foundSite || foundSite.length < 1) {
                            await siteStore.removeSiteUser({
                                SiteHost: site.SiteHost,
                                UserId: userStore.userDetail.LoginId
                            })
                        }
                    })
                }
                // 사이트 정보 (추가)
                if (siteList.value.length > 0 && userSiteList.value.length > 0) {
                    siteList.value
                        .filter((x) => x.selected === 'Y')
                        .forEach(async (site) => {
                            let foundSite = userSiteList.value.filter((x) => x.SiteSeq === site.SiteSeq)
                            if (!foundSite || foundSite.length < 1) {
                                await siteStore.addSiteUser({
                                    SiteHost: site.SiteHost,
                                    UserId: userStore.userDetail.LoginId
                                })
                            }
                        })
                }
                // After works
                alert(i18n.global.t('ui.message.success'))
                eventBus.$emit('saveSiteDetailDone')
                isLoading.value = false
                closePopup()
            } catch (error) {
                dataUtil.handleResponseError(error)
                isLoading.value = false
            }
        }
    }
}

/* Validation */
const isValidated = ref(false)
import { useVuelidate } from '@vuelidate/core'
import { required, minLength, alphaNum, helpers } from '@vuelidate/validators'
const rules = {
    UserNm: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required),
        minLength: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 2 }), minLength(2))
    },
    LoginId: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required),
        minLength: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 5 }), minLength(5)),
        alphaNum: helpers.withMessage(i18n.global.t('ui.validate.alphaNum'), alphaNum)
    },
    LoginPw: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), (value) => {
            if (userStore.userDetail.UserSeq === 0) {
                return helpers.req(value)
            } else {
                return true
            }
        }),
        password: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 6 }), (value) => {
            if (
                userStore.userDetail.UserSeq === 0 ||
                (userStore.userDetail.LoginPw && userStore.userDetail.LoginPw.length > 0)
            ) {
                return helpers.len(value) >= 6
            } else {
                return true
            }
        })
    },
    DvsnSeq: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), (value) => {
            return value && parseInt(value) > 0
        })
    },
    FieldSeq: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), (value) => {
            return value && parseInt(value) > 0
        })
    },
    UserTypeCd: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    },
    StatusCd: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    }
}
let v$ = useVuelidate(rules, {})

/* 초기화 */
initData()
/* onMounted */
onMounted(async () => {
    // Loading
    isLoading.value = true
    /* 코드 */
    await initCodeData()
    /* 데이터 */
    await loadData(props.detailData)
    // Loading
    isLoading.value = false
})
onUnmounted(() => {})
</script>

<style></style>
