<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>테스트 헤더 Test header</h2>
                <div class="button">
                    <button class="btn-common small colored">버튼 Button</button>
                    <button class="btn-common small colored">버튼 Button</button>
                </div>
            </div>
            <div class="desc">
                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">버튼 Large</div>
                        </div>
                        <div class="content">
                            <div>
                                <button class="btn-common large impact">버튼 Large</button>
                                <button class="btn-common large colored">버튼 Large</button>
                                <button class="btn-common large grayed">버튼 Large</button>
                                <button class="btn-common large gray-bordered">버튼 Large</button>
                                <button class="btn-common large gray-nonebordered">버튼 Large</button>
                                <button class="btn-common large blacked">버튼 Large</button>
                            </div>
                            <div>
                                <button class="btn-common large-ico impact"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common large-ico colored"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common large-ico grayed"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common large-ico gray-bordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common large-ico gray-nonebordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common large-ico blacked"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="header">
                            <div class="title">버튼 Default</div>
                        </div>
                        <div class="content">
                            <div>
                                <button class="btn-common default impact">버튼 Default</button>
                                <button class="btn-common default colored">버튼 Default</button>
                                <button class="btn-common default grayed">버튼 Default</button>
                                <button class="btn-common default gray-bordered">버튼 Default</button>
                                <button class="btn-common default gray-nonebordered">버튼 Default</button>
                                <button class="btn-common default blacked">버튼 Default</button>
                            </div>
                            <div>
                                <button class="btn-common default-ico impact"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common default-ico colored"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common default-ico grayed"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common default-ico gray-bordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common default-ico gray-nonebordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common default-ico blacked"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="header">
                            <div class="title">버튼 Small</div>
                        </div>
                        <div class="content">
                            <div>
                                <button class="btn-common small impact">버튼 Small</button>
                                <button class="btn-common small colored">버튼 Small</button>
                                <button class="btn-common small grayed">버튼 Small</button>
                                <button class="btn-common small gray-bordered">버튼 Small</button>
                                <button class="btn-common small gray-nonebordered">버튼 Small</button>
                                <button class="btn-common small blacked">버튼 Small</button>
                            </div>
                            <div>
                                <button class="btn-common small-ico impact"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common small-ico colored"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common small-ico grayed"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common small-ico gray-bordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common small-ico gray-nonebordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common small-ico blacked"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="header">
                            <div class="title">버튼 Mini</div>
                        </div>
                        <div class="content">
                            <div>
                                <button class="btn-common mini impact">버튼 Mini</button>
                                <button class="btn-common mini colored">버튼 Mini</button>
                                <button class="btn-common mini grayed">버튼 Mini</button>
                                <button class="btn-common mini gray-bordered">버튼 Mini</button>
                                <button class="btn-common mini gray-nonebordered">버튼 Mini</button>
                                <button class="btn-common mini blacked">버튼 Mini</button>
                            </div>
                            <div>
                                <button class="btn-common mini-ico impact"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common mini-ico colored"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common mini-ico grayed"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common mini-ico gray-bordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common mini-ico gray-nonebordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common mini-ico blacked"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="header">
                            <div class="title">버튼 Micro</div>
                        </div>
                        <div class="content">
                            <div>
                                <button class="btn-common micro-ico impact"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common micro-ico colored"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common micro-ico grayed"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                                <button class="btn-common micro-ico gray-bordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common micro-ico gray-nonebordered">
                                    <font-awesome-icon icon="fa-solid fa-user-secret" />
                                </button>
                                <button class="btn-common micro-ico blacked"><font-awesome-icon icon="fa-solid fa-user-secret" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup></script>

<style scoped>
div.section {
    width: 100%;
}
.content > div + div {
    margin-top: 10px;
}
.content > div > * + * {
    margin-left: 10px;
}
</style>
