<template>
    <header class="layout-multi">
        <div class="nav-bar">
            <div class="logo">
                <img alt="Vue logo" class="logo" src="@/assets/logo.svg" />
            </div>
            <div class="button">
                <button
                    v-if="appStore.locale === 'en'"
                    @click="appStore.changeLocale('ko')"
                    class="btn-common default colored"
                >
                    KOR
                </button>
                <button
                    v-if="appStore.locale === 'ko'"
                    @click="appStore.changeLocale('en')"
                    class="btn-common default grayed"
                >
                    ENG
                </button>
            </div>
        </div>
        <div class="nav-menu mobile">
            <div @click="toggleMenu(true)">
                <font-awesome-icon icon="fa-solid fa-bars" />
                <span>{{ $t('common.side.menu') }}</span>
            </div>
        </div>
    </header>
    <aside :class="`layout-multi active-side ${isShowMenu ? 'mobile-show' : 'mobile-hide'}`">
        <div class="side-heder">
            <div class="title">{{ $t('common.side.menu') }}</div>
            <div class="close mobile" @click="toggleMenu(false)"><font-awesome-icon icon="fa-solid fa-times" /></div>
        </div>
        <div class="side-menu">
            <ul>
                <li>
                    <a @click="goMenu('/sample/Global')" :class="{ active: route.path == '/sample/Global' }">
                        Global
                    </a>
                </li>
                <li>
                    <a @click="goMenu('/sample/CommonAxios')" :class="{ active: route.path == '/sample/CommonAxios' }">
                        Common (axios)
                    </a>
                </li>
                <li>
                    <div>Form & control</div>
                    <div>
                        <ul>
                            <li>
                                <a
                                    @click="goMenu('/sample/FormButton')"
                                    :class="{ active: route.path == '/sample/FormButton' }"
                                >
                                    Buttons
                                </a>
                            </li>
                            <li>
                                <a
                                    @click="goMenu('/sample/FormControls')"
                                    :class="{ active: route.path == '/sample/FormDataForm' }"
                                >
                                    Controls
                                </a>
                            </li>
                            <li>
                                <a
                                    @click="goMenu('/sample/FormUpDownload')"
                                    :class="{ active: route.path == '/sample/FormUpDownload' }"
                                >
                                    File download
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div>Layout</div>
                    <div>
                        <ul>
                            <li>
                                <a
                                    @click="goMenu('/sample/LayoutDataList')"
                                    :class="{ active: route.path == '/sample/LayoutDataList' }"
                                >
                                    Data list
                                </a>
                            </li>
                            <li>
                                <a
                                    @click="goMenu('/sample/LayoutDataForm')"
                                    :class="{ active: route.path == '/sample/LayoutDataForm' }"
                                >
                                    Data form
                                </a>
                            </li>
                            <li>
                                <a
                                    @click="goMenu('/sample/LayoutSingleSection')"
                                    :class="{ active: route.path == '/sample/LayoutSingleSection' }"
                                >
                                    Single section
                                </a>
                            </li>
                            <li>
                                <a
                                    @click="goMenu('/sample/LayoutMutlSection')"
                                    :class="{ active: route.path == '/sample/LayoutMutlSection' }"
                                >
                                    Multiple section
                                </a>
                            </li>
                            <li>
                                <a @click="goMenu('/sample/Tab')" :class="{ active: route.path == '/sample/Tab' }">
                                    Tab
                                </a>
                            </li>
                            <li>
                                <a @click="goMenu('/sample/Popup')" :class="{ active: route.path == '/sample/Popup' }">
                                    Popup
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a @click="goMenu('/sample/Loading')" :class="{ active: route.path == '/sample/Loading' }">
                        Loading
                    </a>
                </li>
            </ul>
        </div>
    </aside>
    <main class="layout-multi active-side">
        <RouterView />
    </main>
    <footer class="layout-multi">
        <div class="copyright">Copyright 2023 Hyounseok Ohe. All Rights Reserved.</div>
    </footer>
    <div :class="`backdrop ${isShowMenu ? 'mobile-show' : 'mobile-hide'}`" @click="toggleMenu(false)"></div>
</template>

<script setup>
import { ref, onMounted, onUpdated, onUnmounted, getCurrentInstance } from 'vue'
import { provide, inject } from 'vue'
const app = getCurrentInstance().appContext.app.config.globalProperties

/* Router */
import { RouterView } from 'vue-router'
import { useRouter, useRoute } from 'vue-router'

const router = useRouter()
const route = useRoute()

const goMenu = (path) => {
    toggleMenu(false)
    router.push(path)
}

const isShowMenu = ref(false)
const toggleMenu = (show) => {
    isShowMenu.value = show
}

/* Locale */
import { useAppStore } from '@/stores/app'
const appStore = useAppStore()

/* Lifecycle */
onMounted(() => {})
onUpdated(() => {})
onUnmounted(() => {})
</script>
