<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>테스트 헤더 Test header</h2>
                <div class="button">
                    <button class="btn-common small colored">버튼 Button</button>
                    <button class="btn-common small grayed">버튼 Button</button>
                </div>
            </div>
            <div class="desc">
                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
                주저리 주저리 설명
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                테스트 헤더 Test header
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                            <div class="button">
                                <button class="btn-common small colored">버튼 Button</button>
                                <button class="btn-common small grayed">버튼 Button</button>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                테스트 헤더 Test header
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
                                </label>
                            </div>
                            <table class="data-form-table">
                                <tr>
                                    <th class="w150">헤더</th>
                                    <td class="full"><input type="text" /></td>
                                </tr>
                                <tr>
                                    <th class="w150">헤더</th>
                                    <td><input type="text" /></td>
                                </tr>
                                <tr>
                                    <th class="w150">헤더</th>
                                    <td class="full">
                                        <select>
                                            <option>aaaa</option>
                                            <option>bbbb</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">헤더</th>
                                    <td>
                                        <select>
                                            <option>aaaa</option>
                                            <option>bbbb</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">헤더</th>
                                    <td>
                                        <label><input type="checkbox" name="cb1" value="1" />test1</label>
                                        <label><input type="checkbox" name="cb1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">헤더</th>
                                    <td>
                                        <label><input type="radio" name="rd1" value="1" />test1</label>
                                        <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                            </table>
                            <div class="title">
                                테스트 헤더 Test header
                                <label class="desc">주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명</label>
                            </div>
                            <table class="data-list-table vborder">
                                <colgroup>
                                    <col style="width: 10%" />
                                    <col style="width: 30%" />
                                    <col style="width: 20%" />
                                    <col style="width: 20%" />
                                    <col style="width: 20%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>헤더1</th>
                                        <th>헤더2</th>
                                        <th>헤더3</th>
                                        <th>헤더4</th>
                                        <th>헤더5</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>내용1</td>
                                        <td>내용2</td>
                                        <td>내용3</td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                    <tr>
                                        <td>내용1</td>
                                        <td>내용2</td>
                                        <td>내용3</td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                    <tr>
                                        <td>내용1</td>
                                        <td>내용2</td>
                                        <td>내용3</td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                    <tr>
                                        <td>내용1</td>
                                        <td>내용2</td>
                                        <td>내용3</td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                    <tr>
                                        <td>내용1</td>
                                        <td>내용2</td>
                                        <td>내용3</td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                    <tr>
                                        <td>내용1</td>
                                        <td class="full">
                                            <input type="text" />
                                        </td>
                                        <td class="full">
                                            <select>
                                                <option>aaaa</option>
                                                <option>bbbb</option>
                                            </select>
                                        </td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="title">
                                테스트 헤더 Test header
                                <label class="desc">주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명</label>
                            </div>
                            <div class="title">
                                테스트 헤더 Test header
                                <label class="desc">주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup></script>

<style scoped>
div.section {
    width: calc(50% - 10px);
}
</style>
