<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>테스트 헤더 Test header</h2>
                <div class="button">
                    <button class="btn-common small colored">버튼 Button</button>
                    <button class="btn-common small grayed">버튼 Button</button>
                </div>
            </div>
            <div class="desc">
                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                폼 컨트롤 종류
                                <label class="desc">폼 컨트롤 종류</label>
                            </div>
                            <div class="button">
                                <button class="btn-common small colored">버튼 Button</button>
                                <button class="btn-common small grayed">버튼 Button</button>
                            </div>
                        </div>
                        <div class="content">
                            <table class="data-form-table">
                                <tr>
                                    <th class="w150">Input text</th>
                                    <td>
                                        <input type="text" />
                                        <input type="text" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Select</th>
                                    <td>
                                        <select>
                                            <option>aaaa</option>
                                            <option>bbbb</option>
                                        </select>
                                        <select disabled>
                                            <option>aaaa</option>
                                            <option>bbbb</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">File</th>
                                    <td><input type="file" /></td>
                                </tr>
                                <tr>
                                    <th class="w150">Date picker</th>
                                    <td>
                                        <FormDatepicker v-model="date1"></FormDatepicker>
                                        <FormDatepicker v-model="date2" disabled></FormDatepicker>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Checkbox</th>
                                    <td>
                                        <label><input type="checkbox" name="cb1" value="1" />test1</label>
                                        <label><input type="checkbox" name="cb1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Radio</th>
                                    <td>
                                        <label><input type="radio" name="rd1" value="1" />test1</label>
                                        <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Radio</th>
                                    <td>
                                        <label><input type="radio" name="rd1" value="1" />test1</label>
                                        <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Radio</th>
                                    <td>
                                        <label><input type="radio" name="rd1" value="1" />test1</label>
                                        <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Radio</th>
                                    <td>
                                        <label><input type="radio" name="rd1" value="1" />test1</label>
                                        <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                                <tr>
                                    <th class="w150">Radio</th>
                                    <td>
                                        <label><input type="radio" name="rd1" value="1" />test1</label>
                                        <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                    </td>
                                </tr>
                            </table>
                            <div class="data-form-button">
                                <div class="right">
                                    <button class="btn-common default impact">버튼 Button</button>
                                    <button class="btn-common default grayed">버튼 Button</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, watch } from 'vue'

const date1 = ref(new Date())
watch(date1, () => {
    console.log('date1: ', date1.value)
})
const date2 = ref(new Date())
watch(date2, () => {
    console.log('date2: ', date2.value)
})
</script>

<style scoped>
div.section {
    width: calc(50% - 10px);
}
</style>
