<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>테스트 헤더 Test header</h2>
                <div class="button">
                    <button class="btn-common small colored">버튼 Button</button>
                    <button class="btn-common small grayed">버튼 Button</button>
                </div>
            </div>
            <div class="desc">
                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                테스트 헤더 Test header
                                <label class="desc">주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명</label>
                            </div>
                            <div class="button">
                                <button class="btn-common small colored">버튼 Button</button>
                            </div>
                        </div>
                        <div class="content">
                            <ListPaginginfo v-model="sampleStore.sampleListParam.TotalRecord"></ListPaginginfo>
                            <table class="data-list-table vborder">
                                <colgroup>
                                    <col style="width: 10%" />
                                    <col style="width: 30%" />
                                    <col style="width: 20%" />
                                    <col style="width: 20%" />
                                    <col style="width: 20%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>헤더1</th>
                                        <th>헤더2</th>
                                        <th>헤더3</th>
                                        <th>헤더4</th>
                                        <th>헤더5</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>내용1</td>
                                        <td>내용2</td>
                                        <td>내용3</td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                    <tr>
                                        <td>내용1</td>
                                        <td>내용2</td>
                                        <td>내용3</td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                    <tr>
                                        <td>내용1</td>
                                        <td class="full">
                                            <input type="text" />
                                        </td>
                                        <td class="full">
                                            <select>
                                                <option>aaaa</option>
                                                <option>bbbb</option>
                                            </select>
                                        </td>
                                        <td>내용4</td>
                                        <td>내용5</td>
                                    </tr>
                                </tbody>
                            </table>
                            <ListPagingbar ref="pagingbar1" v-model="sampleStore.sampleListParam"></ListPagingbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, onMounted } from 'vue'

import { useSampleStore } from '@/stores/sample'
const sampleStore = useSampleStore()

const pagingbar1 = ref(null)
onMounted(() => {
    sampleStore.sampleListParam.TotalRecord = 123
    pagingbar1.value.setPage()
})
</script>

<style scoped>
div.section {
    width: 100%;
}
</style>
