<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>팝업</h2>
            </div>
            <div class="desc">팝업</div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">팝업</div>
                            <div class="button">
                                <button class="btn-common small colored">{{ $t('ui.button.load') }}</button>
                                <button class="btn-common small grayed">{{ $t('ui.button.clear') }}</button>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">일반팝업</div>
                            <button class="btn-common small grayed" @click="openPopup1">Open Modal 1</button>
                            <button class="btn-common small grayed" @click="openPopup2">Open Modal 2</button>
                            <div class="title">버튼없는 팝업</div>
                            <button class="btn-common small grayed" @click="openPopup3">Open Modal</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref, reactive, onMounted, onUnmounted, inject } from 'vue'
import eventBus from '@/eventBus.js'
import * as symbols from '@/symbols'

/**
 * Reference
 */
const showPopup = inject(symbols.showPopup)

/* PopupSample1 */
const testValue1 = reactive({
    name: 'popupSample1',
    data: {
        test1: '테스트 1',
        test2: '테스트 2'
    },
    a: 111,
    b: 222
})

import popupSample1 from './PopupSample1'
const openPopup1 = () => {
    showPopup(popupSample1, testValue1)
}
eventBus.$on('PopupSample1Closed (eventBus)', (data) => {
    console.log('PopupSample1Closed (eventBus) > data: ', data)
})

/* PopupSample2 */
const testValue2 = reactive({
    name: 'popupSample2',
    a: 111,
    b: 222
})
import popupSample2 from './PopupSample2'
const openPopup2 = () => {
    showPopup(popupSample2, testValue2)
}
eventBus.$on('PopupSample2Closed (eventBus)', (data) => {
    console.log('PopupSample2Closed (eventBus) > data: ', data)
})

/* PopupNoButton1 */
import popupNoButton1 from './PopupNoButton1'
const openPopup3 = () => {
    showPopup(popupNoButton1, {})
}

/* onMounted */
onMounted(() => {})
onUnmounted(() => {
    eventBus.$off('PopupSample1Closed (eventBus)')
    eventBus.$off('PopupSample2Closed (eventBus)')
})
</script>

<style scoped>
div.section {
    /* width: 100%; */
    width: calc(50% - 10px);
}
</style>
