<template>
    <PopupNoButton ref="popup" @close="closePopup" :width="300" :height="0">
        <template #title>테스트 팝업 1</template>
        <template #content>
            <!-- 섹션 컨테이너 -->
            <div class="section-container">
                <!-- 섹션 -->
                <div class="section">
                    <div class="content">
                        <div class="title">테스트 헤더 Test header</div>
                        <div>skjfklsjfdlk</div>
                        <div class="center">
                            <button class="btn-common default grayed" @click="closePopup">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </PopupNoButton>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from 'vue'
import eventBus from '@/eventBus.js'

/* Self */
const emit = defineEmits(['closed'])
const popup = ref(null)
const closePopup = () => {
    emit('closed')
    console.log('PopupNoButton1 > closePopup')
}

/* onMounted */
onMounted(() => {})
onUnmounted(() => {})
</script>

<style></style>
