<template>
    <PopupNormal ref="popup" @close="closePopup" :width="400" :height="300">
        <template #title>테스트 팝업 1</template>
        <template #content>
            <!-- 섹션 컨테이너 -->
            <div class="section-container">
                <!-- 섹션 -->
                <div class="section">
                    <div class="header">
                        <div class="title">
                            테스트 헤더 Test header
                            <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                        </div>
                    </div>
                    <div class="content">
                        <div class="title">테스트 헤더 Test header</div>
                        <button class="btn-common small impact" @click="openPopup2">Open</button>
                        <table class="data-form-table">
                            <tr>
                                <th class="w150">헤더</th>
                                <td>
                                    <label><input type="radio" name="rd1" value="1" />test1</label>
                                    <label><input type="radio" name="rd1" value="2" />테스트2</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </template>
        <template #button-left> &nbsp; </template>
        <template #button-right>
            <button class="btn-common default grayed" @click="closePopup">Close</button>
        </template>
    </PopupNormal>
</template>

<script setup>
import { ref, reactive, onMounted, onUnmounted, inject } from 'vue'
import * as symbols from '@/symbols'

/**
 * Reference
 */
const showPopup = inject(symbols.showPopup)

/* Value */
const props = defineProps(['name', 'data', 'a', 'b'])
console.log('popupSample1 > ', 'name: ', props.name, ', data: ', props.data)

/* Self */
const emit = defineEmits(['closed'])
const popup = ref(null)
const closePopup = () => {
    emit('closed')
    console.log('PopupSample1 > closePopup')
}

/* PopupSample2 */
const testValue2 = reactive({
    name: 'popupSample2',
    a: 111,
    b: 222
})
import popupSample2 from './PopupSample2'
const openPopup2 = () => {
    showPopup(popupSample2, testValue2)
}

/* onMounted */
onMounted(() => {})
onUnmounted(() => {})
</script>

<style></style>
