<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>테스트 헤더</h2>
            </div>
            <div class="desc">설명</div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container block">
                    <!-- 섹션 -->
                    <div class="section" style="width: 700px">
                        <Tabs>
                            <Tab name="First tab" tabClass="test-class">
                                <div class="section no-box">
                                    <div class="content">
                                        <div class="title">
                                            첫번째 탭
                                            <label class="desc">
                                                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                                설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                                주저리 설명 주저리 주저리 설명
                                            </label>
                                        </div>
                                        <table class="data-form-table">
                                            <tr>
                                                <th class="w150">헤더</th>
                                                <td class="full"><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <th class="w150">헤더</th>
                                                <td><input type="text" /></td>
                                            </tr>
                                            <tr>
                                                <th class="w150">헤더</th>
                                                <td class="full">
                                                    <select>
                                                        <option>aaaa</option>
                                                        <option>bbbb</option>
                                                    </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="w150">헤더</th>
                                                <td>
                                                    <select>
                                                        <option>aaaa</option>
                                                        <option>bbbb</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </Tab>
                            <Tab name="Second tab">
                                <div class="section no-box">
                                    <div class="content">
                                        <div class="title">
                                            두번째 탭
                                            <label class="desc">
                                                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                                설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                                주저리 설명 주저리 주저리 설명
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </Tab>
                            <Tab name="3th tab">
                                <div class="section no-box">
                                    <div class="content">
                                        <div class="title">
                                            3th 탭
                                            <label class="desc">
                                                주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                                설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                                주저리 설명 주저리 주저리 설명
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </Tab>
                            <Tab name="4th tab">
                                <div class="section no-box">
                                    <div class="content">
                                        <div class="title">4th 탭</div>
                                    </div>
                                </div>
                            </Tab>
                            <Tab name="5th tab">
                                <div class="section no-box">
                                    <div class="content">
                                        <div class="title">5th 탭</div>
                                    </div>
                                </div>
                            </Tab>
                        </Tabs>
                    </div>
                    <!-- 섹션 -->
                    <div class="section" style="width: 700px">
                        <div class="header">
                            <div class="title">
                                테스트 헤더
                                <label class="desc"> 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 </label>
                            </div>
                            <div class="button">
                                <button class="btn-common small colored" @click="toggleTab(true)">탭 보이기</button>
                                <button class="btn-common small impact" @click="toggleTab(false)">탭 감추기</button>
                            </div>
                        </div>
                        <div class="content">
                            <div class="title">
                                탭
                                <label class="desc">
                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리
                                    설명
                                </label>
                            </div>
                            <Tabs>
                                <Tab name="First tab">
                                    <div class="section no-box">
                                        <div class="content">
                                            <div class="title">
                                                첫번째 탭
                                                <label class="desc">
                                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
                                                    주저리 주저리 설명 주저리 주저리 설명
                                                </label>
                                            </div>
                                            <table class="data-form-table">
                                                <tr>
                                                    <th class="w150">헤더</th>
                                                    <td class="full"><input type="text" /></td>
                                                </tr>
                                                <tr>
                                                    <th class="w150">헤더</th>
                                                    <td><input type="text" /></td>
                                                </tr>
                                                <tr>
                                                    <th class="w150">헤더</th>
                                                    <td class="full">
                                                        <select>
                                                            <option>aaaa</option>
                                                            <option>bbbb</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="w150">헤더</th>
                                                    <td>
                                                        <select>
                                                            <option>aaaa</option>
                                                            <option>bbbb</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </Tab>
                                <Tab name="Second tab" v-if="isShowTab">
                                    <div class="section no-box">
                                        <div class="content">
                                            <div class="title">
                                                두번째 탭
                                                <label class="desc">
                                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
                                                    주저리 주저리 설명 주저리 주저리 설명
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </Tab>
                                <Tab name="3th tab">
                                    <div class="section no-box">
                                        <div class="content">
                                            <div class="title">
                                                3th 탭
                                                <label class="desc">
                                                    주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리
                                                    주저리 설명 주저리 주저리 설명 주저리 주저리 설명 주저리 주저리 설명
                                                    주저리 주저리 설명 주저리 주저리 설명
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </Tab>
                                <Tab name="4th tab">
                                    <div class="section no-box">
                                        <div class="content">
                                            <div class="title">4th 탭</div>
                                        </div>
                                    </div>
                                </Tab>
                            </Tabs>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue'
const isShowTab = ref(true)
const toggleTab = (val) => {
    isShowTab.value = val
}
</script>

<style scoped></style>
