<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>{{ $t('view.subsMgr.title') }}</h2>
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                {{ $t('view.subsMgr.list.title') }}
                                <label class="desc">{{ $t('view.subsMgr.list.desc') }}</label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="data-search">
                                <div class="item">
                                    <div class="header">{{ $t('ui.label.search') }}</div>
                                    <div class="content">
                                        <select v-model="subscriberStore.subscriberParam.SearchColumn">
                                            <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                            <option v-for="item in searchColumnList" :key="item.key" :value="item.key">
                                                {{ item.label }}
                                            </option>
                                        </select>
                                        &nbsp;
                                        <input
                                            type="text"
                                            v-model="subscriberStore.subscriberParam.SearchWord"
                                            @keyup.enter="loadData(true)"
                                        />
                                    </div>
                                    <div class="content">
                                        <button class="btn-common small colored" @click="loadData(true)">
                                            {{ $t('ui.button.search') }}
                                        </button>
                                        &nbsp;
                                        <button class="btn-common small colored" @click="initData(true)">
                                            {{ $t('ui.button.initSearch') }}
                                        </button>
                                        &nbsp;
                                        <button class="btn-common small colored" @click="loadData(true)">
                                            {{ $t('ui.button.refresh') }}
                                        </button>
                                    </div>
                                    <div class="button">
                                        <button class="btn-common small colored" @click="showDetailPopup(null)">
                                            {{ $t('ui.button.add') }}
                                        </button>
                                        <button class="btn-common small impact" @click="deleteDetail()">
                                            {{ $t('ui.button.remove') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <ListPaginginfo
                                v-model="subscriberStore.subscriberParam"
                                @pageSize="loadData(true)"
                            ></ListPaginginfo>
                            <div class="x-scroll">
                                <table class="data-list-table vborder">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px">
                                                <input type="checkbox" @change="selectAll($event)" />
                                            </th>
                                            <th style="width: 50px">{{ $t('view.subsMgr.list.column.No') }}</th>
                                            <th>{{ $t('view.subsMgr.list.column.SubscriberId') }}</th>
                                            <th>{{ $t('view.subsMgr.list.column.SubscriberNm') }}</th>
                                            <th>{{ $t('view.subsMgr.list.column.ChargerPhone') }}</th>
                                            <th>{{ $t('view.subsMgr.list.column.ChargerEmail') }}</th>
                                            <th>{{ $t('view.subsMgr.list.column.SiteCnt') }}</th>
                                            <th>{{ $t('view.subsMgr.list.column.SensorCnt') }}</th>
                                            <th>{{ $t('view.subsMgr.list.column.TotalFee') }}</th>
                                            <th>{{ $t('view.subsMgr.list.column.RegDatetime') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in subscriberStore.subscriberList" :key="index">
                                            <td class="center">
                                                <input
                                                    type="checkbox"
                                                    v-model="item.selected"
                                                    true-value="Y"
                                                    false-value="N"
                                                />
                                            </td>
                                            <td class="center">
                                                {{ dataUtil.showPagingNo(subscriberStore.subscriberParam, index) }}
                                            </td>
                                            <td class="center">
                                                <a @click="showDetailPopup(item)">{{ item.SubscriberId }}</a>
                                            </td>
                                            <td class="center">
                                                <a @click="showDetailPopup(item)">{{ item.SubscriberNm }}</a>
                                            </td>
                                            <td class="center">{{ item.ChargerPhone }}</td>
                                            <td class="center">{{ item.ChargerEmail }}</td>
                                            <td class="center">{{ item.SiteCnt }}</td>
                                            <td class="center">{{ item.SensorCnt }}</td>
                                            <td class="center">{{ dataUtil.formatNumber(item.TotalFee) }}</td>
                                            <td class="center">{{ item.RegDatetime }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ListPagingbar ref="pagingbar" v-model="subscriberStore.subscriberParam"></ListPagingbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, reactive, onMounted, onUnmounted, inject } from 'vue'
import { useSubscriberStore } from '@/stores/subscriber'
import eventBus from '@/eventBus.js'
import * as dataUtil from '@/utils/data'
import * as symbols from '@/symbols'

/**
 * Reference
 */
const subscriberStore = useSubscriberStore()
const isLoading = ref(false)
const showPopup = inject(symbols.showPopup)

/* 코드 */
const searchColumnList = reactive([
    { key: 'SubscriberNm', label: '회사명' },
    { key: 'SubscriberId', label: '구독ID' }
])
const initCodeData = async () => {}

/* 데이터*/
const selectAll = (event) => {
    subscriberStore.subscriberList.forEach((element) => {
        element.selected = event.target.checked ? 'Y' : 'N'
    })
}
const pagingbar = ref(null)
const initData = () => {
    subscriberStore.initSubscriberParam()
}
const loadData = async () => {
    isLoading.value = true
    try {
        await subscriberStore.getSubscriberList()
        pagingbar.value.setPage()
        isLoading.value = false
    } catch (error) {
        dataUtil.handleResponseError(error)
        isLoading.value = false
    }
}

/* 상세 */
import detailPopup from './detailPopup'
const showDetailPopup = (detailObj) => {
    showPopup(
        detailPopup,
        reactive({
            detailData: detailObj
        })
    )
}
const deleteDetail = () => {}
eventBus.$on('saveSubscriberDetailDone', () => {
    loadData()
})

/* 초기화 */
initData()
/* onMounted */
onMounted(() => {
    /* 코드 */
    initCodeData()
    /* 데이터*/
    loadData()
})
onUnmounted(() => {
    eventBus.$off('saveSubscriberDetailDone')
})
</script>

<style scoped>
div.section {
    width: 100%;
}
</style>
