<template>
    <div id="app">
        <router-view />
    </div>
</template>

<script>
export default {
    created: function () {
        // console.log('process.env: ', process.env)
        document.title = this.$t('common.title')
    }
}
</script>

<style lang="scss">
@import '@/styles/index.scss';
.hero-body {
    padding: 20px 15px !important;
}
.hero-body > p.title {
    font-size: 1.5rem !important;
}
.hero-body > p.subtitle {
    font-size: 1rem !important;
}
</style>
