<template>
    <PopupNormal ref="popup" @close="closePopup" :width="450" :height="500">
        <template #title>{{ $t('view.siteMgr.expireDateLog.title') }}</template>
        <template #content>
            <!-- 섹션 컨테이너 -->
            <div class="section-container">
                <!-- 섹션 -->
                <div class="section">
                    <div class="content">
                        <div class="title">
                            {{ $t('view.siteMgr.expireDateLog.title') }}
                            <label class="desc">
                                {{ $t('view.siteMgr.expireDateLog.desc') }}
                            </label>
                        </div>
                        <table class="data-list-table vborder">
                            <colgroup>
                                <col style="width: 40%" />
                                <col style="width: 30%" />
                                <col style="width: 30%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>{{ $t('view.siteMgr.expireDateLog.column.RegDatetime') }}</th>
                                    <th>{{ $t('view.siteMgr.expireDateLog.column.OldExpireDate') }}</th>
                                    <th>{{ $t('view.siteMgr.expireDateLog.column.NewExpireDate') }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(item, index) in subscriberStore.subscriptionLogList" :key="index">
                                    <td class="center">{{ item.RegDatetime }}</td>
                                    <td class="center">{{ item.OldExpireDate }}</td>
                                    <td class="center">{{ item.NewExpireDate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </template>
        <template #button-left>&nbsp;</template>
        <template #button-right>
            <button class="btn-common default grayed" @click="closePopup">{{ $t('ui.button.close') }}</button>
        </template>
    </PopupNormal>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from 'vue'
import { useSubscriberStore } from '@/stores/subscriber'

/**
 * Reference
 */
const subscriberStore = useSubscriberStore()

/* Self */
const emit = defineEmits(['closed'])
const popup = ref(null)
const closePopup = () => {
    emit('closed')
}

/* 코드 */
const initCodeData = async () => {}

/* Value */
const props = defineProps(['SubscriberSeq', 'SiteSeq'])

/* 데이터*/
const initData = () => {
    subscriberStore.initSubscriptionLogParam()
    subscriberStore.subscriptionLogParam.SubscriberSeq = props.SubscriberSeq
    subscriberStore.subscriptionLogParam.SiteSeq = props.SiteSeq
    subscriberStore.initSubscriptionLogList()
}
const loadData = () => {
    subscriberStore.getSubscriptionLogList()
}

/* onMounted */
onMounted(() => {
    /* 코드 */
    initCodeData()
    /* 데이터 */
    initData()
    loadData()
})
onUnmounted(() => {})
</script>

<style></style>
