<template>
    <PopupNormal ref="detailPopup1" @close="closePopup" :width="480" :height="0">
        <template #title>{{ $t('view.userCommon.myInfo.title') }}</template>
        <template #content>
            <!-- 섹션 컨테이너 -->
            <div class="section-container">
                <!-- 섹션 -->
                <div class="section">
                    <div class="content">
                        <div class="title">
                            {{ $t('view.userCommon.detail.section.1.title') }}
                            <label class="desc">{{ $t('view.userCommon.detail.section.1.desc') }}</label>
                        </div>
                        <table class="data-form-table">
                            <tr>
                                <th class="required">
                                    {{ $t('view.userCommon.detail.section.1.column.UserNm') }}
                                </th>
                                <td class="full">
                                    <input
                                        type="text"
                                        v-model="userStore.userDetail.UserNm"
                                        :readonly="userStore.userDetail.UserSeq !== 0"
                                    />
                                </td>
                            </tr>
                            <tr v-if="userStore.userDetail.UserSeq === 0">
                                <th class="required">
                                    {{ $t('view.userCommon.detail.section.1.column.LoginId') }}
                                </th>
                                <td class="full">
                                    <input type="text" v-model="userStore.userDetail.LoginId" />
                                </td>
                            </tr>
                            <tr v-else>
                                <th class="required">
                                    {{ $t('view.userCommon.detail.section.1.column.LoginId') }}
                                </th>
                                <td class="full">
                                    <input type="text" v-model="userStore.userDetail.LoginId" readonly />
                                </td>
                            </tr>
                            <tr>
                                <th class="center">
                                    {{ $t('view.userCommon.detail.section.1.column.LoginPw') }}
                                </th>
                                <td class="full">
                                    <input
                                        type="password"
                                        v-model="userStore.userDetail.LoginPw"
                                        autocomplete="new-password"
                                    />
                                    <span class="desc">{{
                                        $t('view.userCommon.detail.section.1.column.LoginPwDesc')
                                    }}</span>
                                    <div v-for="error of v$.LoginPw.$errors" :key="error.$uid">
                                        <span class="error">{{ error.$message }}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="center">
                                    {{ $t('view.userCommon.detail.section.1.column.Telephone') }}
                                </th>
                                <td class="full">
                                    <input type="text" v-model="userStore.userDetail.Telephone" />
                                </td>
                            </tr>
                            <tr>
                                <th class="center">
                                    {{ $t('view.userCommon.detail.section.1.column.Email') }}
                                </th>
                                <td class="full">
                                    <input type="text" v-model="userStore.userDetail.Email" />
                                </td>
                            </tr>
                            <tr>
                                <th class="center">
                                    {{ $t('view.userCommon.detail.section.1.column.PositionNm') }}
                                </th>
                                <td class="full">
                                    <input type="text" v-model="userStore.userDetail.PositionNm" />
                                </td>
                            </tr>
                            <tr>
                                <th class="required">
                                    {{ $t('view.userCommon.detail.section.1.column.UserType') }}
                                </th>
                                <td>
                                    <select v-model="userStore.userDetail.UserTypeCd" style="width: 120px">
                                        <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                        <option v-for="item in userTypeCdList" :key="item.ComCd" :value="item.ComCd">
                                            {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                        </option>
                                    </select>
                                    <div v-for="error of v$.UserTypeCd.$errors" :key="error.$uid">
                                        <span class="error">{{ error.$message }}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <!-- 섹션 -->
                <div class="section">
                    <div class="content">
                        <div class="title">
                            {{ $t('view.userCommon.detail.section.3.title') }}
                            <label class="desc">{{ $t('view.userCommon.detail.section.3.desc') }}</label>
                        </div>
                        <table class="data-form-table">
                            <tr>
                                <th>
                                    {{ $t('view.userCommon.detail.section.3.column.title') }}
                                </th>
                                <td>
                                    <label>
                                        <input
                                            type="checkbox"
                                            id="IsAppPushYn"
                                            v-model="userStore.userDetail.IsAppPushYn"
                                            true-value="Y"
                                            false-value="N"
                                        />
                                        {{ $t('view.userCommon.detail.section.3.column.IsAppPushYn') }}
                                    </label>
                                    &nbsp;
                                    <label>
                                        <input
                                            type="checkbox"
                                            id="IsSMSYn"
                                            v-model="userStore.userDetail.IsSMSYn"
                                            true-value="Y"
                                            false-value="N"
                                        />
                                        {{ $t('view.userCommon.detail.section.3.column.IsSMSYn') }}
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </template>
        <template #button-left>&nbsp;</template>
        <template #button-right>
            <button class="btn-common default impact" @click="saveDetail">{{ $t('ui.button.save') }}</button>
            <button class="btn-common default grayed" @click="closePopup">{{ $t('ui.button.close') }}</button>
        </template>
    </PopupNormal>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, reactive, onMounted } from 'vue'
import { useAppStore } from '@/stores/app'
import { useCommonStore } from '@/stores/common'
import { useUserStore } from '@/stores/user'
import eventBus from '@/eventBus.js'
import i18n from '@/locales'
import * as dataUtil from '@/utils/data'

/**
 * Reference
 */
const appStore = useAppStore()
const commonStore = useCommonStore()
const userStore = useUserStore()
const isLoading = ref(false)

/* Self */
const emit = defineEmits(['closed'])
const detailPopup1 = ref(null)
const closePopup = () => {
    emit('closed')
}

/* 코드 */
const userTypeCdList = ref([])
const initCodeData = async () => {
    const response = await commonStore.getComCodeCdList('USER_TYPE_CD')
    userTypeCdList.value = response.data.Data
}

/* 데이터 */
const initData = async () => {}
const loadData = async () => {
    isLoading.value = true
    try {
        await userStore.getMyInfoDetail({})
        v$ = useVuelidate(rules, userStore.userDetail)
        isLoading.value = false
    } catch (error) {
        isLoading.value = false
        dataUtil.handleResponseError(error)
    }
}
const saveDetail = async () => {
    const isFormCorrect = await v$.value.$validate()
    if (isFormCorrect) {
        isLoading.value = true
        try {
            await userStore.saveMyInfoDetail(userStore.userDetail)
            await userStore.saveMySettingNoti(userStore.userDetail)
            alert(i18n.global.t('ui.message.success'))
            isLoading.value = false
            closePopup()
        } catch (error) {
            dataUtil.handleResponseError(error)
            isLoading.value = false
        }
    }
}

/* Validation */
import { useVuelidate } from '@vuelidate/core'
import { required, helpers } from '@vuelidate/validators'
const rules = {
    LoginPw: {
        minLength: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 6 }), (value) => {
            if (userStore.userDetail.LoginPw && userStore.userDetail.LoginPw.length > 0) {
                return helpers.len(value) >= 6
            } else {
                return true
            }
        })
    },
    UserTypeCd: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    }
}
let v$ = useVuelidate(rules, {})

/* onMounted */
onMounted(() => {
    /* 코드 */
    initCodeData()
    /* 데이터 */
    initData()
    loadData()
})
</script>
