/*
 * ####################################################################################################
 * 공통 컨트롤 전용 스타일
 * Created : 2023-10-20 (hsohe)
 * Modified :
 * ####################################################################################################
 */
/*
 * ======================================================================
 * Control resetting
 * ======================================================================
 */

/* default */
input,
button,
select,
textarea {
    @include input-font;
}

input[type='checkbox'],
input[type='radio'] {
    margin: 0 5px;
    vertical-align: middle;
}

input[type='text'],
input[type='number'],
input[type='email'],
input[type='url'] {
    width: $input-control-width;
    height: $input-control-height;
    @include input-padding;
    @include input-bg;
    @include input-border;
    box-sizing: border-box;
    vertical-align: middle;
}
input[type='password'] {
    width: $input-control-width;
    height: $input-control-height;
    @include input-padding;
    @include input-bg;
    @include input-border;
    box-sizing: border-box;
    vertical-align: middle;
    letter-spacing: 1px;
}
input[type='file'] {
    height: $input-control-height;
    @include input-font;
}
textarea {
    @include text-padding;
    @include input-bg;
    @include input-border;
    box-sizing: border-box;
    vertical-align: middle;
}
select {
    width: $input-control-width;
    height: $input-control-height;
    @include input-bg;
    @include input-border;
    box-sizing: border-box;
    vertical-align: middle;
}

/* readonly or disabled */
input[readonly],
textarea[readonly],
select[readonly],
input[disabled],
textarea[disabled],
select[disabled] {
    @include input-disable-bg;
}

/* center */
input[type='text'].center,
input[type='number'].center,
input[type='email'].center,
input[type='url'].center {
    text-align: center;
}

/* left */
input[type='text'].left,
input[type='number'].left,
input[type='email'].left,
input[type='url'].left {
    text-align: left;
}

/* right */
input[type='text'].right,
input[type='number'].right,
input[type='email'].right,
input[type='url'].right {
    text-align: right;
}

/* input-ime */
.input-ime {
    &-active {
        ime-mode: active;
    }
    &-inactive {
        ime-mode: inactive;
    }
    &-disabled {
        ime-mode: disabled;
    }
}

/* placeholder */
input {
    &::-webkit-input-placeholder {
        @include input-placeholder;
    }
    &::-moz-placeholder {
        @include input-placeholder;
    }
    &:-ms-input-placeholder {
        @include input-placeholder;
    }
    &:-moz-placeholder {
        @include input-placeholder;
    }
}

/* 크롬 자동완성의 색상을 제거하기 위한 코드 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
}

/* Datepicker */
.dp__main {
    display: inline-block !important;
    width: initial !important;
    &.time-picker {
        width: #{$input-control-width - 4rem} !important;
    }
    &.range-date-picker {
        width: #{$input-control-width + 7rem} !important;
    }
}
.dp__input_icons {
    padding: 6px 6px !important;
}
.dp__input_wrap input {
    width: $input-control-width !important;
    height: $input-control-height;
    padding-left: #{$input-control-padding-left + 15px};
    padding-right: $input-control-padding-right;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    @include input-bg;
    @include input-border;
    box-sizing: border-box;
    vertical-align: middle;
    @include input-font;
    &.time-picker {
        width: #{$input-control-width - 4rem} !important;
    }
    &.range-date-picker {
        width: #{$input-control-width + 7rem} !important;
    }
}

/*
 * ======================================================================
 * Button
 * ======================================================================
 */

.btn-common {
    display: inline-block;
    margin: 0;
    background: transparent;
    outline: 0;
    box-sizing: border-box;
    vertical-align: middle;
    font-size: 1.6rem !important;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    &.disabled {
        cursor: default !important;
    }
}

/* micro-ico */
.btn-common.micro-ico {
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    border-radius: 0.2rem;
    font-size: 0.7rem !important;
    font-weight: normal;
    &:active {
        padding: 0.2rem 0.3rem 0rem 0.1rem;
    }
}
/* mini */
.btn-common.mini {
    min-width: 2rem;
    height: 1.8rem;
    padding: 0.2rem 0.4rem 0.1rem 0.4rem;
    border-radius: 0.3rem;
    font-size: 0.9rem !important;
    font-weight: normal;
    line-height: 1.4rem;
    &:active {
        padding: 0.3rem 0.3rem 0rem 0.5rem;
    }
}
.btn-common.mini-ico {
    min-width: 2rem;
    height: 1.8rem;
    padding: 0rem 0.5rem 0.1rem 0.5rem;
    border-radius: 0.3rem;
    font-size: 0.9rem !important;
    font-weight: normal;
    line-height: 1.4rem;
    &:active {
        padding: 0.1rem 0.4rem 0rem 0.6rem;
    }
}
/* small */
.btn-common.small {
    min-width: 3rem;
    height: 2.3rem;
    padding: 0.2rem 0.7rem 0.3rem 0.7rem;
    border-radius: 0.3rem;
    font-size: 1.1rem !important;
    font-weight: normal;
    line-height: 1.8rem;
    &:active {
        padding: 0.3rem 0.6rem 0.2rem 0.8rem;
    }
}
.btn-common.small-ico {
    min-width: 3rem;
    height: 2.3rem;
    padding: 0.2rem 0.7rem 0.3rem 0.7rem;
    border-radius: 0.3rem;
    font-size: 1.1rem !important;
    font-weight: normal;
    line-height: 1.8rem;
    &:active {
        padding: 0.3rem 0.6rem 0.2rem 0.8rem;
    }
}
/* default */
.btn-common.default {
    min-width: 0.4rem;
    height: 2.6rem;
    padding: 0.1rem 1rem 0.3rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.2rem !important;
    line-height: 2rem;
    &:active {
        padding: 0.2rem 0.9rem 0.2rem 1.1rem;
    }
}
.btn-common.default-ico {
    min-width: 4rem;
    height: 2.6rem;
    padding: 0.2rem 1rem 0.3rem 1rem;
    border-radius: 0.4rem;
    font-size: 1.5rem !important;
    font-weight: normal;
    line-height: 1.8rem;
    &:active {
        padding: 0.3rem 0.9rem 0.2rem 1.1rem;
    }
}
/* large */
.btn-common.large {
    min-width: 5rem;
    height: 4.2rem;
    padding: 0.1rem 1.4rem 0.3rem 1.4rem;
    border-radius: 0.5rem;
    font-size: 1.8rem !important;
    line-height: 3.8rem;
    font-weight: 600;
    &:active {
        padding: 0.2rem 1.3rem 0.2rem 1.5rem;
    }
}
.btn-common.large-ico {
    min-width: 5rem;
    height: 4.2rem;
    padding: 0.1rem 1.4rem 0.3rem 1.4rem;
    border-radius: 0.5rem;
    font-size: 2.4rem !important;
    font-weight: normal;
    line-height: 3.8rem;
    &:active {
        padding: 0.2rem 1.3rem 0.2rem 1.5rem;
    }
}

/* impact */
.btn-common.impact,
.btn-common.impact:link,
.btn-common.impact:visited {
    background: $font-impact-color;
    border: 1px solid $font-impact-color-dim;
    color: #ffffff !important;
}
.btn-common.impact:active {
    background: $font-impact-color-dim;
}
.btn-common.impact:hover {
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
}
/* colored */
.btn-common.colored,
.btn-common.colored:link,
.btn-common.colored:visited {
    background: $font-colored-color;
    border: 1px solid $font-colored-color-dim;
    color: #ffffff !important;
}
.btn-common.colored:active {
    background: $font-colored-color;
}
.btn-common.colored:hover {
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
}
/* grayed */
.btn-common.grayed,
.btn-common.grayed:link,
.btn-common.grayed:visited {
    background: #aaafb0;
    border: 1px solid #7a7f80;
    color: #ffffff !important;
}
.btn-common.grayed:active {
    background: #8a8f90;
}
.btn-common.grayed:hover {
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
}
/* gray-bordered */
.btn-common.gray-bordered,
.btn-common.gray-bordered:link,
.btn-common.gray-bordered:visited {
    background: #ffffff;
    border: 1px solid #8a8f90;
    color: #606060 !important;
}
.btn-common.gray-bordered:active {
    background: #efefef;
}
.btn-common.gray-bordered:hover {
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
}
/* gray-nonebordered */
.btn-common.gray-nonebordered,
.btn-common.gray-bordered:link,
.btn-common.gray-bordered:visited {
    border: 0px solid #8a8f90;
    color: #606060 !important;
}
.btn-common.gray-nonebordered:active {
    background: #efefef;
}
.btn-common.gray-nonebordered:hover {
    border: 0px solid #000000;
    text-decoration: none;
    cursor: pointer;
}
/* blacked */
.btn-common.blacked,
.btn-common.blacked:link,
.btn-common.blacked:visited {
    background: #333333;
    border: 1px solid #000000;
    color: #ffffff !important;
}
.btn-common.blacked:active {
    background: #333333;
}
.btn-common.blacked:hover {
    border: 1px solid #000000;
    text-decoration: none;
    cursor: pointer;
}

/*
 * ====================================================================================================
 * Component
 * ====================================================================================================
 */

/* vue2-datepicker */
.mx-icon-clear {
    display: none;
}
.mx-icon-calendar {
    display: none;
}
.mx-input {
    font-size: 12px !important;
}

/*
 * ======================================================================
 * v-tooltip
 * ======================================================================
 */

.tooltip {
    padding: 5px;
    border: 1px solid gray !important;
    border-radius: 5px;
    background-color: #ffffff !important;
    @include font-tooltip;
}

/*
 * ======================================================================
 * Tab
 * ======================================================================
 */
.tabs-control {
    margin: 0 auto;
}

/* Tabs */
.tabs-control-tabs {
    border: solid 1px #ddd;
    border-radius: 6px 6px 0 0;
    margin-top: 0px;
    margin-bottom: -1px;
    padding-left: 0px;
    @include pc {
        border: 0;
        display: flex;
        justify-content: flex-start;
        align-items: stretch;
        margin-top: 0px;
        margin-bottom: -1px;
    }
}

/* Tab */
.tabs-control-tab {
    color: #999;
    font-size: 14px;
    font-weight: 600;
    margin-right: 0;
    list-style: none;
    &:not(:last-child) {
        border-bottom: dotted 1px #ddd;
    }
    &:hover {
        color: #666;
    }
    &.is-active {
        color: #000;
    }
    &.is-disabled * {
        color: #cdcdcd;
        cursor: not-allowed !important;
    }
    @include pc {
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 3px 3px 0 0;
        margin-right: 0.5em;
        &.is-active {
            border-bottom: solid 1px #fff;
            z-index: 2;
            transform: translateY(0);
        }
    }
}

.tabs-control-tab-a {
    align-items: center;
    color: inherit;
    display: flex;
    padding: 0.5rem 1rem;
    text-decoration: none;
}

/* Panels */
.tabs-control-panels {
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 0 0 6px 6px;
    padding: $section-padding;
    @include pc {
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 0 6px 6px 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        padding: $section-padding;
    }
}

/*
 * ======================================================================
 * Loading
 * ======================================================================
 */
.loading-backdrop {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
