/*
 * ####################################################################################################
 * 컨텐츠 스타일 (레이아웃, 섹션 등)
 * Created : 2023-10-20 (hsohe)
 * Modified :
 * ####################################################################################################
 */
/*
 * ======================================================================
 * Layout
 * ======================================================================
 */
/*
 * --------------------------------------------------
 * Layout : 다중 레이아웃 (컨텐츠)
 * --------------------------------------------------
 */

/* Header */
header.layout-multi {
    position: fixed;
    top: 0;
    width: 100%;
    height: $layout-multi-header-size;
    margin: 0 auto;
    background-color: $layout-multi-header-bg;
    border-bottom: $layout-multi-header-border;
    box-sizing: border-box;
    @include mobile {
        height: #{$layout-multi-header-size * 1.6};
    }
    @include pc {
        height: $layout-multi-header-size;
    }
}

/* Footer */
footer.layout-multi {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: $layout-multi-footer-size;
    margin: 0 auto;
    background-color: $layout-multi-footer-bg;
    border: $layout-multi-footer-border;
    box-sizing: border-box;
    .copyright {
        @include font-desc;
        color: $layout-multi-footer-color;
    }
}

/* Main content */
main.layout-multi {
    position: fixed;
    top: $layout-multi-header-size;
    bottom: $layout-multi-footer-size;
    left: $layout-multi-side-size;
    width: calc(100% - $layout-multi-side-size);
    overflow: auto;
    box-sizing: border-box;
    @include mobile {
        top: #{$layout-multi-header-size * 1.6};
        left: 0;
        width: 100%;
    }
    @include pc {
        left: $layout-multi-side-size;
        width: calc(100% - $layout-multi-side-size);
    }
}

/* Side */
@include mobile {
    aside.layout-multi {
        z-index: 899;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0px;
        display: block;
        width: 20rem;
        background-color: #fff;
        border-right: $layout-multi-side-border;
        box-sizing: border-box;
        transform: translatex(-100%);
        transition: transform 0.4s ease-in-out;
        &.mobile-show {
            transform: translateX(0px);
        }
        &.mobile-hide {
            transform: translatex(-100%);
        }
    }
}
@include pc {
    aside.layout-multi {
        position: fixed;
        top: $layout-multi-header-size;
        bottom: $layout-multi-footer-size;
        left: 0px;
        display: block;
        width: $layout-multi-side-size;
        border-right: $layout-multi-side-border;
        box-sizing: border-box;
    }
}

/* backdrop */
.backdrop {
    z-index: 801;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: rgba(0, 0, 0, 0.6);
    @include mobile {
        &.mobile-show {
            display: block;
        }
        &.mobile-hide {
            display: none;
        }
    }
}

/*
 * --------------------------------------------------
 * Layout : 단일 레이아웃 (로그인 등)
 * --------------------------------------------------
 */

.layout-single {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    > .centering {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        box-sizing: border-box;
        text-align: center;
    }
    > .centering > .content {
        display: inline-block;
        margin: auto;
    }
}

/*
 * ======================================================================
 * Top & side
 * ======================================================================
 */
/*
 * --------------------------------------------------
 * Top
 * --------------------------------------------------
 */
/* 1st */
.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    @include mobile {
        height: #{$layout-multi-header-size};
        border-bottom: $layout-multi-header-border;
    }
    > .logo {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        margin-left: 10px;
        > img {
            height: 30px;
        }
    }
    > .button {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end;
        margin-right: 10px;
        > button {
            min-width: 50px;
            @include mobile {
                min-width: auto;
            }
        }
        > * + * {
            margin-left: 10px;
        }
    }
}

/* 2nd */
.nav-menu {
    height: $layout-multi-header-size * 0.6;
    box-sizing: border-box;
    > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        margin-left: 10px;
        > * + * {
            margin-left: 8px;
        }
        > .menu-icon {
            width: 16px;
            height: 16px;
            color: #fff;
        }
        > span {
            box-sizing: border-box;
            @include font-default;
        }
    }
}

/*
 * --------------------------------------------------
 * Side
 * --------------------------------------------------
 */
/* Side header */
.side-heder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 32px;
    background-color: #bec3c4;
    box-sizing: border-box;
    > .title {
        float: left;
        margin-left: 0.8rem;
        @include font-header;
    }
    > .close {
        float: right;
        margin-right: 0.8rem;
        color: #545657;
        font-size: 1.5rem;
    }
}

/* Side menu */
.side-menu {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    li {
        width: 100%;
        margin: 0;
        padding: 0 5px 0 15px;
        box-sizing: border-box;
        > * {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            min-height: 32px;
            box-sizing: border-box;
        }
        a {
            @include font-default;
            cursor: pointer;
            &.active {
                @include font-impact;
            }
        }
    }
    > .button {
        margin-top: 10px;
        padding: 0 5px 0 14px;
    }
}

/*
 * ======================================================================
 * 컨텐츠
 * ======================================================================
 */

/*
 * --------------------------------------------------
 * 컨텐츠 박스 (width 100%)
 * --------------------------------------------------
 */
/* 컨텐츠 박스 컨테이너 */
.content-box-container {
    display: block;
    height: 100%;
    padding: 0px;
    box-sizing: border-box;
}
/* 컨텐츠 박스 */
.content-box {
    clear: both;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: $content-box-padding;
    box-sizing: border-box;
    @include mobile {
        padding: 10px 5px 5px 5px;
    }
}
.content-box + .content-box {
    margin-top: 10px;
}
/* 헤더 */
.content-box > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0;
    border-bottom: $content-header-underline;
    box-sizing: border-box;
    overflow: hidden;
    > h2 {
        margin: 0;
        padding-left: 10px;
        padding-bottom: 5px;
        box-sizing: border-box;
        @include font-title1;
        @include mobile {
            padding-left: 5px;
        }
    }
    > .button {
        padding-bottom: 5px;
        text-align: right;
        white-space: nowrap;
        > * + * {
            margin-left: 5px;
        }
        > input,
        > select {
            width: 120px;
        }
    }
}
/* 설명 */
.content-box > .desc {
    display: block;
    margin-top: 10px;
    padding: 0 10px;
    @include font-desc;
    @include mobile {
        padding: 0 5px;
    }
}
/* 컨텐츠 */
.content-box > .content {
    display: block;
    padding: $content-padding;
    margin: 0;
}

/*
 * --------------------------------------------------
 * 섹션
 * --------------------------------------------------
 */
/* 섹션 컨테이너 */
.section-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    &.block {
        display: block;
    }
    &.inline {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
/* 섹션 */
.section {
    clear: both;
    display: block;
    margin: 0;
    padding: 10px 0 !important;
    box-sizing: border-box;
    @include mobile {
        width: 100% !important;
        min-width: initial;
    }
}
.section-control > .section {
    padding: 10px !important;
}
/* 탭 컨트롤안에 포함될 경우 항상 100% */
.tabs-component .section {
    width: 100% !important;
    min-width: initial;
}

/* 헤더 */
.section > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    @include mobile {
        display: initial;
    }
    > .title {
        margin: 0;
        padding-left: 2px;
        padding-bottom: 5px;
        box-sizing: border-box;
        @include font-title2;
        text-align: initial;
        > .desc {
            display: block;
            margin-left: 0px;
        }
    }
    > .button {
        margin-left: 10px;
        padding-bottom: 5px;
        white-space: nowrap;
        @include font-desc;
        @include mobile {
            margin-left: initial;
        }
        > * + * {
            margin-left: 5px;
        }
        > input,
        > select {
            width: 120px;
        }
    }
}
.section > .header ~ .header {
    margin-top: 10px;
}

/* 컨텐츠 */
.section > .content {
    display: block;
    padding: $section-padding;
    margin: 0;
    background-color: #fcfcfc;
    border: $section-header-underline;
    @include mobile {
        padding: 10px;
    }
    .title {
        margin: 0;
        padding-left: 2px;
        padding-bottom: 2px;
        box-sizing: border-box;
        @include font-header;
        text-align: initial;
        > .desc {
            display: block;
            @include mobile {
                display: block;
                margin-left: 0px;
            }
        }
    }
}
.section.no-box > .content {
    padding: 0 !important;
    background-color: initial !important;
    border: initial !important;
}
.section > .content .title ~ .title {
    margin-top: 10px;
}

/*
 * --------------------------------------------------
 * 메세지 박스
 * --------------------------------------------------
 */
.message-box {
    width: 300px;
    border: $message-box-border;
    > h2 {
        margin: 10px 0 0 0;
        padding-left: 10px;
        padding-bottom: 5px;
        box-sizing: border-box;
        @include font-title1;
    }
    > div {
        display: block;
        padding: 10px;
        margin: 0;
        @include font-default;
    }
}
