/*
 * ####################################################################################################
 * Data form 스타일
 * Created : 2023-10-20 (hsohe)
 * Modified :
 * ####################################################################################################
 */
/*
 * ======================================================================
 * Data form
 * ======================================================================
 */

/* 테이블 */
.data-form-table {
    /* table-layout: fixed; */
    word-break: break-all;
    width: 100%;
    border-spacing: 0px;
    border-collapse: separate;
    border-top: $data-table-border;
    border-left: $data-table-border;
    border-right: $data-table-border;
    background: $data-table-cell-bg;
    tr {
        height: $data-form-row-size;
        background: $data-table-cell-bg;
    }
}

/* 헤더 */
.data-form-table tr > th {
    padding-left: 5px;
    padding-right: 5px;
    background: $data-table-header-bg;
    border-top: $data-table-border-alter;
    border-bottom: $data-table-border;
    box-sizing: border-box;
    vertical-align: middle;
    @include font-header;
    &.w100 {
        width: 10rem !important;
    }
    &.w120 {
        width: 12rem !important;
    }
    &.w150 {
        width: 15rem !important;
    }
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    &.required::after {
        content: ('*');
        color: $font-impact-color;
    }
}

/* 내용 */
.data-form-table tr > td {
    padding: 4px 7px 4px 5px;
    background: $data-table-cell-bg;
    border-bottom: $data-table-border;
    box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
    @include font-default;
    &.center {
        text-align: center;
    }
    &.left {
        text-align: left;
    }
    &.right {
        text-align: right;
    }
    &.full {
        > * {
            width: 100% !important;
        }
        textarea.noresize {
            resize: none;
        }
    }
    > .thumb {
        display: inline-block;
        height: 100px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    > * + * {
        margin-left: 5px;
        @include mobile {
            margin-top: 5px;
            margin-left: initial;
            display: block;
        }
    }
    @include mobile {
        > * {
            width: 100% !important;
        }
    }
}

/*
 * --------------------------------------------------
 * Form button
 * --------------------------------------------------
 */
.data-form-button {
    display: inline-block;
    width: 100%;
    margin-top: 1.2rem;
    > div {
        &.left {
            float: left;
        }
        &.right {
            float: right;
        }
        > * + * {
            margin-left: 8px;
        }
    }
}
