/*
 * ####################################################################################################
 * 팝업 스타일
 * Created : 2023-10-20 (hsohe)
 * Modified :
 * ####################################################################################################
 */
/*
 * ======================================================================
 * Popup
 * ======================================================================
 */
/*
 * --------------------------------------------------
 * Popup
 * --------------------------------------------------
 */
/* popup-backdrop */
.popup-backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
}
.popup-backdrop ~ .popup-backdrop {
    display: none;
}

/* popup-container */
.popup-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* popup-body */
.popup-body {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 !important;
    background-color: white;
    border-radius: 10px !important;
    box-sizing: border-box;
    box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
    @include mobile {
        top: 8rem;
        width: calc(100% - 20px) !important;
    }
}
.popup-body > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $popup-layout-header-size;
    min-height: $popup-layout-header-size;
    background-color: #ccc;
    border-radius: 10px 10px 0 0 !important;
    > .title {
        padding-left: 10px;
        @include font-title2;
    }
    > .close {
        padding: 0 10px;
        font-size: 1.3rem;
        cursor: pointer;
    }
}
.popup-body > .button {
    width: 100%;
    height: $popup-layout-button-size;
    min-height: $popup-layout-button-size;
    padding: 5px 20px 0 20px;
    border-radius: 0 0 1px 10px !important;
    box-sizing: border-box;
    > * > button {
        min-width: 7rem;
    }
    > * > * + * {
        margin-left: 5px;
    }
    > div.left {
        float: left;
    }
    > div.right {
        float: right;
    }
}
.popup-body > .content {
    width: 100%;
    height: calc(100% - #{$popup-layout-header-size + $popup-layout-button-size});
    padding: 5px 15px 0 15px;
    overflow: auto;
    box-sizing: border-box;
    .section-container {
        display: block;
    }
    .section + .section {
        margin: 10px 0 0 0 !important;
    }
    .section > .content {
        padding: initial !important;
        background-color: initial !important;
        border: initial !important;
    }
}
.popup-body.no-button > .content {
    height: calc(100% - $popup-layout-header-size);
}
