/*
 * ####################################################################################################
 * 변수 관리
 * Created : 2023-10-20 (hsohe)
 * Modified :
 * ####################################################################################################
 */

/*
 * ======================================================================
 * Layout
 * ======================================================================
 */

/* Mobile max width */
$mobile-width: 365px;
$media-size-mobile-width: 900px;

@mixin mobile {
    @media screen and (max-width: #{$media-size-mobile-width}) {
        @content;
    }
}
@mixin pc {
    @media screen and (min-width: #{$media-size-mobile-width + 1px}) {
        @content;
    }
}

/*
 * ======================================================================
 * Typography
 * ======================================================================
 */

/* Font family */
$font-family-default: 'Noto Sans KR', sans-serif !default;
$font-family-sans-serif: 'Noto Sans KR', sans-serif !default;
$font-family-serif: 'Noto Sans KR', serif !default;

/* Font case */
$font-root-size-mobile: 9px !default;
$font-root-size-pc: 10px !default;

/* Font */
$font-impact-color: #e14658 !default;
$font-impact-color-dim: #b11628 !default;
$font-impact-color-light: #e9707e !default;

$font-colored-color: #5da37a !default;
$font-colored-color-dim: #327c35 !default;
$font-colored-color-light: #73bb75 !default;

$font-header-color: #131313 !default;
$font-header-size: 1.2rem !default;
$font-header-weight: 500 !default;

$font-default-color: #131313 !default;
$font-default-size: 1.2rem !default;
$font-default-weight: 300 !default;

@mixin font-error {
    color: #d32020;
}
@mixin font-impact {
    color: #e14658;
    font: {
        weight: 700;
    }
}
@mixin font-impact-dim {
    color: #b11628;
}
@mixin font-impact-light {
    color: #e9707e;
}
@mixin font-colored {
    color: #5da37a;
}
@mixin font-colored-dim {
    color: #327c35;
}
@mixin font-colored-light {
    color: #73bb75;
}
@mixin font-title1 {
    color: #333333;
    font: {
        size: 1.5rem;
        weight: 900;
    }
}
@mixin font-title2 {
    color: #333333;
    font: {
        size: 1.3rem;
        weight: 700;
    }
}
@mixin font-header {
    color: #131313;
    font: {
        size: 1.2rem;
        weight: 500;
    }
}
@mixin font-default {
    color: #131313;
    font: {
        size: 1.2rem;
        weight: 300;
    }
}
@mixin font-label {
    color: #909090;
    font: {
        size: 1.1rem;
        weight: 300;
    }
}
@mixin font-desc {
    color: #909090;
    font: {
        size: 1.1rem;
        weight: 300;
    }
}
@mixin font-tooltip {
    color: #909090;
    font: {
        size: 1.1rem;
    }
}

/*
 * ======================================================================
 * Control
 * ======================================================================
 */

/* Control resetting */
$input-control-width: 11rem;
$input-control-height: 23px;
$input-control-padding-left: 5px;
$input-control-padding-right: 5px;
@mixin input-padding {
    padding: {
        left: $input-control-padding-left !important;
        right: $input-control-padding-right !important;
        top: 0px !important;
        bottom: 0px !important;
    }
}
@mixin text-padding {
    padding: {
        left: $input-control-padding-left !important;
        right: $input-control-padding-right !important;
    }
}
@mixin input-font {
    color: #333333;
    font-family: $font-family-default !important;
    font-size: 1.2rem;
}
@mixin input-placeholder {
    color: #bec3c4;
    font-size: 1.1rem;
}
@mixin input-border {
    border: {
        width: 1px;
        style: solid;
        color: #bec3c4;
        radius: 3px;
    }
}
@mixin input-bg {
    background: {
        color: #ffffff;
    }
}
@mixin input-disable-bg {
    background: {
        color: #e0e0e0;
    }
}

/*
 * ======================================================================
 * 레이아웃
 * ======================================================================
 */

/* Layout : 다중 레이아웃 (컨텐츠) */
$layout-multi-header-size: 50px !default;
$layout-multi-header-bg: #efefef !default;
$layout-multi-header-border: 1px solid #8a8f90 !default;

$layout-multi-footer-color: #fff !default;
$layout-multi-footer-size: 40px !default;
$layout-multi-footer-bg: #515765 !default;
$layout-multi-footer-border: 1px solid #8a8f90 !default;

$layout-multi-side-size: 200px !default; // aside tag
$layout-multi-side-border: 1px solid #8a8f90 !default;

/*
 * ======================================================================
 * 컨텐츠
 * ======================================================================
 */

/* 컨텐츠 & 섹션 */
$content-box-padding: 15px !default;
$content-header-underline: 1px dashed #666666 !default;
$content-padding: 0px !default;

$section-header-underline: 1px dotted #999999 !default;
$section-padding: 14px !default;

/* 메세지 박스 */
$message-box-border: 1px dotted #999999 !default;

/* 팝업 */
$popup-layout-header-size: 36px !default;
$popup-layout-button-size: 45px !default;

/*
 * ======================================================================
 * 데이터
 * ======================================================================
 */

$data-table-border: 1px solid #bec3c4 !default;
$data-table-border-vertical: 1px dotted #bec3c4 !default;
$data-table-border-alter: 1px solid #ffffff !default;

$data-table-header-bg: #e0e0e0 !default;
$data-table-cell-bg: #ffffff !default;

$data-table-hover-bg: #f6f6f6 !default;

$data-table-impact-color: #ffff !default;
$data-table-impact-bg: $font-impact-color !default;
$data-table-impact-bg-hover: $font-impact-color-light !default;

/* Data list table */
$data-list-row-size: 32px;

/* Form input table */
$data-form-row-size: 32px;
