<template>
    <PopupNormal ref="popup" @close="closePopup" :width="800" :height="560">
        <template #title>{{ $t('view.siteMgr.detail.title') }}</template>
        <template #content>
            <!-- 섹션 컨테이너 -->
            <div class="section-container">
                <!-- 섹션 -->
                <div class="section">
                    <Tabs>
                        <!-- Section 1 -->
                        <Tab :name="$t('view.siteMgr.detail.section.1.title')">
                            <div class="section no-box">
                                <div class="content">
                                    <div class="title">
                                        {{ $t('view.siteMgr.detail.section.1.title') }}
                                        <label class="desc" v-html="$t('view.siteMgr.detail.section.1.desc')"> </label>
                                    </div>
                                    <template v-if="isValidated"> </template>
                                    <table class="data-form-table">
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.1.column.SubscriberNm') }}
                                            </th>
                                            <td>
                                                <select
                                                    v-model="siteStore.siteDetail.SubscriberSeq"
                                                    style="width: 150px"
                                                    :disabled="siteStore.siteDetail.SiteSeq !== 0"
                                                >
                                                    <option value="0">{{ $t('ui.control.Select.Select') }}</option>
                                                    <option
                                                        v-for="item in subscriberList"
                                                        :key="item.SubscriberSeq"
                                                        :value="item.SubscriberSeq"
                                                    >
                                                        {{ item.SubscriberNm }}
                                                    </option>
                                                </select>
                                                <div v-for="error of v$.SubscriberSeq.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.1.column.SiteProduct') }}
                                            </th>
                                            <td>
                                                <select
                                                    v-model="siteStore.siteDetail.SiteProduct"
                                                    style="width: 150px"
                                                    :disabled="siteStore.siteDetail.SiteSeq !== 0"
                                                >
                                                    <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                                    <option
                                                        v-for="item in productList.filter((x) => x.ComCd !== '99')"
                                                        :key="item.ComCd"
                                                        :value="item.ComCd"
                                                    >
                                                        {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                                    </option>
                                                </select>
                                                <div v-for="error of v$.SiteProduct.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.1.column.SiteHost') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="text"
                                                    v-model="siteStore.siteDetail.SiteHost"
                                                    style="width: 150px"
                                                />
                                                <div v-for="error of v$.SiteHost.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.1.column.SiteName') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="text"
                                                    v-model="siteStore.siteDetail.SiteName"
                                                    style="width: 150px"
                                                />
                                                <div v-for="error of v$.SiteName.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.1.column.ChargerNm') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="text"
                                                    v-model="siteStore.siteDetail.ChargerNm"
                                                    style="width: 150px"
                                                />
                                                &nbsp;
                                                <button class="btn-common small grayed" @click="addUser('Charger')">
                                                    {{ $t('ui.button.browse') }}
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="section no-box">
                                <div class="content">
                                    <div class="title">
                                        {{ $t('view.siteMgr.detail.section.2.title') }}
                                        <label class="desc" v-html="$t('view.siteMgr.detail.section.2.desc')"> </label>
                                    </div>
                                    <table class="data-form-table">
                                        <tr>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.2.column.ExpireDate') }}
                                            </th>
                                            <td>
                                                <FormDatepicker
                                                    v-model="siteStore.siteDetail.ExpireDate"
                                                    :clearable="false"
                                                ></FormDatepicker>
                                                &nbsp;
                                                <button class="btn-common small colored" @click="renewSubs()">
                                                    {{ $t('view.siteMgr.detail.section.button.RenewSubs') }}
                                                </button>
                                                &nbsp;
                                                <button class="btn-common small grayed" @click="showExpireDateLog()">
                                                    {{ $t('view.siteMgr.detail.section.button.ViewSubsLog') }}
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </Tab>
                        <!-- Section 5 -->
                        <Tab :name="$t('view.siteMgr.detail.section.5.title')">
                            <div class="section no-box">
                                <div class="content">
                                    <div class="title">
                                        {{ $t('view.siteMgr.detail.section.5.title') }}
                                        <label class="desc" v-html="$t('view.siteMgr.detail.section.5.desc')"> </label>
                                    </div>
                                    <table class="data-form-table">
                                        <tr>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.5.column.LoginLogoYn') }}
                                            </th>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.5.column.TopLogoYn') }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class="center">
                                                <div
                                                    v-if="siteStore.siteDetail.LoginLogoYn === 'Y'"
                                                    class="thumb"
                                                    style="height: 70px"
                                                >
                                                    <img :src="loginLogoImage" />
                                                </div>
                                            </td>
                                            <td class="center">
                                                <div
                                                    v-if="siteStore.siteDetail.TopLogoYn === 'Y'"
                                                    class="thumb"
                                                    style="height: 70px"
                                                >
                                                    <img :src="topLogoImage" />
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="center">
                                                <input
                                                    type="file"
                                                    ref="loginLogoFilesElem"
                                                    accept="image/*"
                                                    @change="changeLogoFile('LOGIN')"
                                                    style="width: 200px"
                                                />
                                                &nbsp;
                                                <button
                                                    v-if="siteStore.siteDetail.LoginLogoYn === 'Y'"
                                                    class="btn-common small impact"
                                                    @click="deleteLogoFile('LOGIN')"
                                                >
                                                    {{ $t('ui.button.remove') }}
                                                </button>
                                            </td>
                                            <td class="center">
                                                <input
                                                    type="file"
                                                    ref="topLogoFilesElem"
                                                    accept="image/*"
                                                    @change="changeLogoFile('TOP')"
                                                    style="width: 200px"
                                                />
                                                &nbsp;
                                                <button
                                                    v-if="siteStore.siteDetail.TopLogoYn === 'Y'"
                                                    class="btn-common small impact"
                                                    @click="deleteLogoFile('TOP')"
                                                >
                                                    {{ $t('ui.button.remove') }}
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </Tab>
                        <!-- Section 6 -->
                        <Tab :name="$t('view.siteMgr.detail.section.6.title')">
                            <div class="section no-box">
                                <div class="content">
                                    <div class="title">
                                        {{ $t('view.siteMgr.detail.section.6.title') }}
                                        <label class="desc" v-html="$t('view.siteMgr.detail.section.6.desc')"> </label>
                                    </div>
                                    <table class="data-form-table">
                                        <tr>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.6.column.Vendor') }}
                                            </th>
                                            <td>
                                                <select v-model="siteStore.siteDetail.VendorCd" style="width: 100px">
                                                    <option
                                                        v-for="item in venderStore.vendorList"
                                                        :key="item.VendorCd"
                                                        :value="item.VendorCd"
                                                    >
                                                        {{ item.VendorNm }}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.6.column.ApiKey') }}
                                            </th>
                                            <td class="full">
                                                <input type="text" v-model="siteStore.siteDetail.ApiKey" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.6.column.ApiSecretKey') }}
                                            </th>
                                            <td class="full">
                                                <input type="text" v-model="siteStore.siteDetail.ApiSecretKey" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </Tab>
                        <!-- Section 3 -->
                        <Tab
                            v-if="siteStore.siteDetail.SiteProduct === 'LIVESPOT'"
                            :name="$t('view.siteMgr.detail.section.3.title')"
                        >
                            <div class="section no-box">
                                <div class="content">
                                    <div class="title">
                                        {{ $t('view.siteMgr.detail.section.3.title') }}
                                        <label class="desc" v-html="$t('view.siteMgr.detail.section.3.desc')"> </label>
                                    </div>
                                    <table class="data-form-table">
                                        <tr>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.3.column.AccessTypeCd') }}
                                            </th>
                                            <td class="full">
                                                <template v-for="item in accessTypeList" :key="item.ComCd">
                                                    <label>
                                                        <input
                                                            type="radio"
                                                            v-model="siteStore.siteDetail.AccessTypeCd"
                                                            :value="item.ComCd"
                                                        />
                                                        {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                                    </label>
                                                    &nbsp;
                                                </template>
                                            </td>
                                        </tr>
                                        <tr v-if="siteStore.siteDetail.AccessTypeCd === 'P'">
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.3.column.AccessPassword') }}
                                            </th>
                                            <td class="full">
                                                <input type="text" v-model="siteStore.siteDetail.AccessPassword" />
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </Tab>
                        <!-- Section 4 -->
                        <Tab
                            v-if="siteStore.siteDetail.SiteProduct === 'LIVESPOT'"
                            :name="$t('view.siteMgr.detail.section.4.title')"
                        >
                            <div class="section no-box">
                                <div class="content">
                                    <div class="title">
                                        {{ $t('view.siteMgr.detail.section.4.title') }}
                                        <label class="desc" v-html="$t('view.siteMgr.detail.section.4.desc')"> </label>
                                    </div>
                                    <table class="data-form-table">
                                        <colgroup>
                                            <col style="width: 140px" />
                                            <col style="width: calc(100% - 140px)" />
                                        </colgroup>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.RoomUsageCd') }}
                                            </th>
                                            <td>
                                                <template v-for="item in roomUsageList" :key="item.ComCd">
                                                    <label>
                                                        <input
                                                            type="radio"
                                                            v-model="siteStore.siteDetail.RoomUsageCd"
                                                            :value="item.ComCd"
                                                        />
                                                        {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                                    </label>
                                                    &nbsp;
                                                </template>
                                                <div v-for="error of v$.RoomUsageCd.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.ComptErrorHour') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="number"
                                                    v-model="siteStore.siteDetail.ComptErrorHour"
                                                    style="width: 100px"
                                                />
                                                <div v-for="error of v$.ComptErrorHour.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.ComptErrDspType') }}
                                            </th>
                                            <td>
                                                <template v-for="item in comptErrDspTypeList" :key="item.ComCd">
                                                    <label>
                                                        <input
                                                            type="radio"
                                                            v-model="siteStore.siteDetail.ComptErrorDisplayTypeCd"
                                                            :value="item.ComCd"
                                                        />{{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                                    </label>
                                                    &nbsp;
                                                </template>
                                                <div
                                                    v-for="error of v$.ComptErrorDisplayTypeCd.$errors"
                                                    :key="error.$uid"
                                                >
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="siteStore.siteDetail.RoomUsageCd === 'R'">
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.UseStastYn') }}
                                            </th>
                                            <td class="full">
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="siteStore.siteDetail.UseStastYn"
                                                        value="Y"
                                                    />
                                                    {{ $t('ui.label.useY') }}
                                                </label>
                                                &nbsp;
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="siteStore.siteDetail.UseStastYn"
                                                        value="N"
                                                    />
                                                    {{ $t('ui.label.useN') }}
                                                </label>
                                                <div v-for="error of v$.UseStastYn.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="siteStore.siteDetail.RoomUsageCd === 'R'">
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.UsePltnYn') }}
                                            </th>
                                            <td class="full">
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="siteStore.siteDetail.UsePltnYn"
                                                        value="Y"
                                                    />
                                                    {{ $t('ui.label.useY') }}
                                                </label>
                                                &nbsp;
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="siteStore.siteDetail.UsePltnYn"
                                                        value="N"
                                                    />
                                                    {{ $t('ui.label.useN') }}
                                                </label>
                                                <div v-for="error of v$.UsePltnYn.$errors" :key="error.$uid">
                                                    <span class="error">{{ error.$message }}</span>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr v-if="siteStore.siteDetail.RoomUsageCd === 'R'">
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.PltnLevel') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="number"
                                                    v-model="siteStore.siteDetail.PltnLevel1"
                                                    style="width: 50px"
                                                />
                                                {{ $t('view.siteMgr.detail.section.4.column.PltnLevel1Desc') }}
                                                &nbsp;
                                                <input
                                                    type="number"
                                                    v-model="siteStore.siteDetail.PltnLevel2"
                                                    style="width: 50px"
                                                />
                                                {{ $t('view.siteMgr.detail.section.4.column.PltnLevel2Desc') }}
                                                &nbsp;
                                                <input
                                                    type="number"
                                                    v-model="siteStore.siteDetail.PltnLevel3"
                                                    style="width: 50px"
                                                />
                                                {{ $t('view.siteMgr.detail.section.4.column.PltnLevel3Desc') }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.UseComptNmYn') }}
                                            </th>
                                            <td>
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="siteStore.siteDetail.UseComptNmYn"
                                                        value="Y"
                                                    />
                                                    {{ $t('ui.label.useY') }}
                                                </label>
                                                &nbsp;
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="siteStore.siteDetail.UseComptNmYn"
                                                        value="N"
                                                    />
                                                    {{ $t('ui.label.useN') }}
                                                </label>
                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                <select
                                                    v-model="siteStore.siteDetail.ComptNmDirectionCd"
                                                    v-if="siteStore.siteDetail.UseComptNmYn === 'Y'"
                                                >
                                                    <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                                    <option
                                                        v-for="item in DirectionList.filter(
                                                            (x) => x.ComCd === 'T' || x.ComCd === 'B'
                                                        )"
                                                        :key="item.ComCd"
                                                        :value="item.ComCd"
                                                    >
                                                        {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.UsetimeYn') }}
                                            </th>
                                            <td>
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="siteStore.siteDetail.UseUsetimeYn"
                                                        value="Y"
                                                    />
                                                    {{ $t('ui.label.useY') }}
                                                </label>
                                                &nbsp;
                                                <label>
                                                    <input
                                                        type="radio"
                                                        v-model="siteStore.siteDetail.UseUsetimeYn"
                                                        value="N"
                                                    />
                                                    {{ $t('ui.label.useN') }}
                                                </label>
                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                <select
                                                    v-model="siteStore.siteDetail.UsetimeDirectionCd"
                                                    v-if="siteStore.siteDetail.UseUsetimeYn === 'Y'"
                                                >
                                                    <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                                    <option
                                                        v-for="item in directionList.filter(
                                                            (x) => x.ComCd === 'T' || x.ComCd === 'B'
                                                        )"
                                                        :key="item.ComCd"
                                                        :value="item.ComCd"
                                                    >
                                                        {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                                    </option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="required">
                                                {{ $t('view.siteMgr.detail.section.4.column.MgmtPassword') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="number"
                                                    v-model="siteStore.siteDetail.MgmtPassword"
                                                    style="width: 80px"
                                                />
                                                {{ $t('view.siteMgr.detail.section.4.column.MgmtPasswordDesc') }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                {{ $t('view.siteMgr.detail.section.4.column.Cleaner') }}
                                            </th>
                                            <td>
                                                <input
                                                    type="text"
                                                    v-model="siteStore.siteDetail.CleanerNm"
                                                    style="width: 120px"
                                                />
                                                &nbsp;
                                                <button class="btn-common small grayed" @click="addUser('Cleaner')">
                                                    {{ $t('ui.button.browse') }}
                                                </button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </Tab>
                    </Tabs>
                </div>
            </div>
        </template>
        <template #button-left>&nbsp;</template>
        <template #button-right>
            <button v-if="!readonly" class="btn-common default impact" @click="saveDetail">
                {{ $t('ui.button.save') }}
            </button>
            <button class="btn-common default grayed" @click="closePopup">{{ $t('ui.button.close') }}</button>
        </template>
    </PopupNormal>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, onMounted, onUnmounted, inject } from 'vue'
import { useAppStore } from '@/stores/app'
import { useCommonStore } from '@/stores/common'
import { useVenderStore } from '@/stores/vendor'
import { useSubscriberStore } from '@/stores/subscriber'
import { useSiteStore } from '@/stores/site'
import eventBus from '@/eventBus.js'
import i18n from '@/locales'
import * as dataUtil from '@/utils/data'
import * as symbols from '@/symbols'

/**
 * Reference
 */
const appStore = useAppStore()
const commonStore = useCommonStore()
const venderStore = useVenderStore()
const subscriberStore = useSubscriberStore()
const siteStore = useSiteStore()
const isLoading = ref(false)
const showPopup = inject(symbols.showPopup)

/* Self */
const emit = defineEmits(['closed'])
const popup = ref(null)
const closePopup = () => {
    emit('closed')
}

/* 코드 */
const productList = ref([])
const roomUsageList = ref([])
const accessTypeList = ref([])
const comptErrDspTypeList = ref([])
const directionList = ref([])
const subscriberList = ref([])
const initCodeData = async () => {
    await commonStore.getComCodeCdList('PRODUCT').then((response) => {
        productList.value = response.data.Data
    })
    await commonStore.getComCodeCdList('ROOM_USAGE').then((response) => {
        roomUsageList.value = response.data.Data
    })
    await commonStore.getComCodeCdList('ACCESS_METHOD').then((response) => {
        accessTypeList.value = response.data.Data
    })
    await commonStore.getComCodeCdList('COMPT_ERR_DSP_TYPE').then((response) => {
        comptErrDspTypeList.value = response.data.Data
    })
    await commonStore.getComCodeCdList('DIRECTION1').then((response) => {
        directionList.value = response.data.Data
    })

    await subscriberStore.getSubscriberListRaw({ PageNumber: 1, PageSize: 0 }).then((response) => {
        subscriberList.value = response.data.Data
    })

    await venderStore.getVendorList()
}

/* Value */
const props = defineProps(['detailData', 'readonly'])

/* 데이터 */
const initData = async () => {
    siteStore.initSiteDetail()
}
const loadData = async (detailObj) => {
    if (detailObj) {
        await siteStore.getSiteDetail(detailObj)
        await loadLogoFile()
    }
    v$ = useVuelidate(rules, siteStore.siteDetail)
    isValidated.value = true
}
const saveDetail = async () => {
    const isFormCorrect = await v$.value.$validate()
    if (isFormCorrect) {
        if (confirm(this.$t('ui.confirm.save'))) {
            isLoading.value = true
            try {
                await saveLogoFile('LOGIN')
                await saveLogoFile('TOP')
                await siteStore.saveSiteDetail(siteStore.siteDetail)
                alert(i18n.global.t('ui.message.success'))
                eventBus.$emit('saveSiteDetailDone')
                isLoading.value = false
                closePopup()
            } catch (error) {
                dataUtil.handleResponseError(error)
                isLoading.value = false
            }
        }
    }
}

/* Validation */
const isValidated = ref(false)
import { useVuelidate } from '@vuelidate/core'
import { required, minLength, alphaNum, helpers } from '@vuelidate/validators'
const rules = {
    SubscriberSeq: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), (value) => {
            return value && parseInt(value) > 0
        })
    },
    SiteProduct: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), (value) => {
            return value && parseInt(value) > 0
        })
    },
    SiteHost: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required),
        minLength: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 5 }), minLength(5)),
        alphaNum: helpers.withMessage(i18n.global.t('ui.validate.alphaNum'), alphaNum)
    },
    SiteName: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required),
        minLength: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 2 }), minLength(2))
    },
    RoomUsageCd: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    },
    ComptErrorHour: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    },
    ComptErrorDisplayTypeCd: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    },
    UseStastYn: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    },
    UsePltnYn: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required)
    }
}
let v$ = useVuelidate(rules, {})

/* 만료일 */
const renewSubs = async () => {
    if (confirm(i18n.global.t('view.siteMgr.detail.section.2.message.confirmRenew'))) {
        try {
            await subscriberStore.renewSubscription(siteStore.siteDetail)
            alert(i18n.global.t('ui.message.success'))
            eventBus.$emit('saveSiteDetailDone')
        } catch (error) {
            dataUtil.handleResponseError(error)
            isLoading.value = false
        }
    }
}
import expireDateLogPopup from '@/views/common/expireDateLogPopup'
const showExpireDateLog = () => {
    showPopup(expireDateLogPopup, {
        SubscriberSeq: siteStore.siteDetail.SubscriberSeq,
        SiteSeq: siteStore.siteDetail.SiteSeq
    })
}

/* 로고파일 */
import defaultLoginLogoImg from '@/assets/scube_login_logo_product.png'
import defaultHomeLogoImg from '@/assets/scube_home_logo_product.png'
const loginLogoFilesElem = ref(null)
const loginLogoFiles = ref({})
const loginLogoImage = ref({})
const topLogoFilesElem = ref(null)
const topLogoFiles = ref({})
const topLogoImage = ref({})

const changeLogoFile = (type) => {
    if (type === 'LOGIN') loginLogoFiles.value = loginLogoFilesElem.value.files
    if (type === 'TOP') topLogoFiles.value = topLogoFilesElem.value.files
    console.log('loginLogoFiles.value: ', loginLogoFiles.value)
    console.log('topLogoFiles.value: ', topLogoFiles.value)
}
const loadLogoFile = async () => {
    if (siteStore.siteDetail.LoginLogoYn && siteStore.siteDetail.LoginLogoYn === 'Y') {
        appStore
            .downloadImage({ filePath: 'logo/' + siteStore.siteDetail.SiteHost.toUpperCase() + '_LOGIN.png' })
            .then((response) => {
                loginLogoImage.value = response
            })
    } else {
        loginLogoImage.value = defaultLoginLogoImg
    }
    if (siteStore.siteDetail.TopLogoYn && siteStore.siteDetail.TopLogoYn === 'Y') {
        appStore
            .downloadImage({ filePath: 'logo/' + siteStore.siteDetail.SiteHost.toUpperCase() + '_TOP.png' })
            .then((response) => {
                topLogoImage.value = response
            })
    } else {
        topLogoImage.value = defaultHomeLogoImg
    }
}
const saveLogoFile = async (type) => {
    if (loginLogoFiles.value || topLogoFiles.value) {
        let paramObj = {
            attachFile: null,
            jsonData: JSON.stringify({
                SiteHost: siteStore.siteDetail.SiteHost.toUpperCase(),
                LoginLogoYn: type === 'LOGIN' ? 'Y' : 'N',
                TopLogoYn: type === 'TOP' ? 'Y' : 'N'
            })
        }
        if (type === 'LOGIN' && loginLogoFiles.value) paramObj.attachFile = loginLogoFiles.value[0]
        if (type === 'TOP' && topLogoFiles.value) paramObj.attachFile = topLogoFiles.value[0]
        if (paramObj.attachFile) {
            // 첨부파일이 처리
            try {
                await siteStore.saveSiteFile(paramObj)
                if (type === 'LOGIN') {
                    siteStore.siteDetail.LoginLogoYn = 'Y'
                }
                if (type === 'TOP') {
                    siteStore.siteDetail.TopLogoYn = 'Y'
                }
            } catch (error) {
                return Promise.reject(error.response)
            }
        }
    } else {
        return Promise.reject({})
    }
}
const deleteLogoFile = (type) => {
    if (type === 'LOGIN') {
        siteStore.siteDetail.LoginLogoYn = 'N'
        loginLogoImage.value = {}
    }
    if (type === 'TOP') {
        siteStore.siteDetail.TopLogoYn = 'N'
        topLogoImage.value = {}
    }
}

/* 초기화 */
initData()
/* onMounted */
onMounted(async () => {
    // Loading
    isLoading.value = true
    /* 코드 */
    await initCodeData()
    /* 데이터 */
    await loadData(props.detailData)
    // Loading
    isLoading.value = false
})
onUnmounted(() => {})
</script>

<style></style>
