<template>
    <div id="modals-container">
        <div v-for="modal in modals" :key="modal.id">
            <component :is="modal.component" v-bind="modal.modalAttrs" @closed="removePopup(modal.id)" />
        </div>
    </div>
</template>

<script setup>
import { reactive, shallowRef, onMounted, getCurrentInstance } from 'vue'
import { uuid } from 'vue-uuid'
import * as symbols from '@/symbols'

/**
 * Reference
 */
const app = getCurrentInstance().appContext.app

/* Value */
const modals = reactive([])

// Show popup (provide)
app.provide(symbols.showPopup, (component, componentAttrs) => {
    modals.push({
        id: uuid.v4(),
        component: shallowRef(component),
        modalAttrs: componentAttrs
    })
})

// Remove popup (local)
const removePopup = (id) => {
    const index = modals.findIndex((v) => v.id === id)
    modals.splice(index, 1)
}

/* onMounted */
onMounted(() => {})
</script>
