<!--
    NAME:    home.vue
    DESC:    HOME 라우터 베이스 View
    DATE:    2021-11-18
    CREATOR: hsohe74
    HISTORY:
            2021-11-18 hsohe74 생성
-->
<template>
    <div>
        <b-navbar style="height: 52px; background-color: #003140">
            <template #brand class="top-logo-container">
                <b-navbar-item tag="router-link" :to="{ path: '/home/status/field' }" class="top-logo">
                    <img v-if="productMode === 'S'" src="@/assets/home_logo.png" />
                    <img
                        v-if="(productMode === 'P' || productMode === 'C') && !logoImageData"
                        src="/resources/images/home_logo_product.png"
                    />
                    <img v-if="(productMode === 'P' || productMode === 'C') && logoImageData" :src="logoImageData" />
                </b-navbar-item>
            </template>
            <template #end>
                <b-navbar-item tag="div">
                    <div class="buttons" style="justify-content: flex-end !important">
                        <b-button type="is-light is-small" v-if="locale === 'en'" @click="changeLocale('ko')">한국어</b-button>
                        <b-button type="is-light is-small" v-if="locale === 'ko'" @click="changeLocale('en')">English</b-button>
                        <b-button type="is-light is-small" @click="Logout()">{{ $t('ui.login.button.logout') }}</b-button>
                    </div>
                </b-navbar-item>
            </template>
        </b-navbar>
        <router-view />
    </div>
</template>

<script>
import i18n from '@/i18n'
import { mapGetters, mapActions } from 'vuex'
export default {
    data: () => ({
        productMode: '',
        logoImageData: undefined
    }),
    computed: {
        ...mapGetters('app', ['locales', 'locale'])
    },
    methods: {
        ...mapActions('app', ['downloadImage']),
        ...mapActions('app', ['Logout']),
        ...mapActions('app', ['setLocale']),
        ...mapActions('common', ['getGlobalConfList']),
        changeLocale: function (val) {
            this.setLocale(val)
            i18n.locale = val
            this.$router.go()
        }
    },
    created: function () {
        // 제품모드
        this.getGlobalConfList({
            GrpCd: 'PRODUCT',
            ConfCd: 'Mode'
        }).then((response) => {
            this.productMode = response[0].ConfValue
        })
        // 로고
        this.downloadImage({ filePath: 'Logo\\logo_mobile_home.png' }).then((response) => {
            this.logoImageData = response
        })
    },
    mounted: function () {},
    beforeDestroy: function () {}
}
</script>

<style coped>
.navbar-end > a {
    text-align: left;
}
</style>
