<!--
    NAME:    login.vue
    DESC:    로그인 View
    DATE:    2021-11-18
    CREATOR: hsohe74
    HISTORY:
            2021-11-18 hsohe74 생성
-->
<template>
    <div class="container single-box-layout login" style="padding: 10px">
        <div class="single-box-centering">
            <p class="login-logo" style="margin-bottom: 60px">
                <img v-if="productMode === 'S'" src="@/assets/login_logo.png" />
                <img v-if="(productMode === 'P' || productMode === 'C') && !logoImageData" src="/resources/images/login_logo_product.png" />
                <img v-if="(productMode === 'P' || productMode === 'C') && logoImageData" :src="logoImageData" />
            </p>
            <section class="mt-5">
                <div class="login-item-block">
                    <input
                        type="text"
                        v-model="loginFormData.UserId"
                        class="login-input-id"
                        :placeholder="$t('ui.login.message.inputId')"
                        @keyup.enter="fnLogin()"
                    />
                </div>
                <div class="login-item-block" style="margin-top: 12px">
                    <input
                        type="password"
                        v-model="loginFormData.UserPw"
                        class="login-input-id"
                        :placeholder="$t('ui.login.message.inputPw')"
                        @keyup.enter="fnLogin()"
                    />
                </div>
                <div class="login-item-block autologin" style="margin-top: 12px">
                    <b-checkbox v-model="loginFormData.Autologin" type="is-info"> {{ $t('ui.login.label.autologin') }} </b-checkbox>
                </div>
                <div class="login-item-block" style="margin-top: 48px">
                    <button class="login-button" @click="fnLogin()">{{ $t('ui.login.button.login') }}</button>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { getPopupOpt } from '@/utils/popup'

export default {
    data: () => ({
        productMode: '',
        logoImageData: undefined,
        loginFormData: {
            UserId: '',
            UserPw: '',
            Autologin: false
        },
        returnData: {}
    }),
    components: {},
    computed: {
        ...mapGetters('app', ['locale', 'loginData'])
    },
    methods: {
        ...mapActions('app', ['downloadImage']),
        ...mapActions('app', ['checkLogined']),
        ...mapActions('app', ['InitLoginData']),
        ...mapActions('app', ['LoginProc', 'AutoLoginProc']),
        ...mapActions('common', ['getGlobalConfList']),
        fnLogin: function () {
            this.LoginProc(this.loginFormData)
                .then(() => {
                    this.$router.push('/home/status/field')
                })
                .catch((error) => {
                    alert(error.data.Message)
                })
        },
        fnPopupTest: function () {}
    },
    created: function () {
        this.checkLogined().then((result) => {
            if (result.success) {
                this.$router.push('/home/status/field')
            } else {
                this.loginFormData.Autologin = this.loginData.Autologin
                if (this.loginData.Autologin) {
                    this.AutoLoginProc()
                        .then(() => {
                            this.$router.push('/home/status/field')
                        })
                        .catch(() => {
                            this.loginFormData.Autologin = false
                            this.InitLoginData()
                        })
                }
            }
        })
        // 제품모드
        this.getGlobalConfList({
            GrpCd: 'PRODUCT',
            ConfCd: 'Mode'
        }).then((response) => {
            this.productMode = response[0].ConfValue
        })
        // 로고
        this.downloadImage({ filePath: 'Logo\\logo_mobile_login.png' }).then((response) => {
            this.logoImageData = response
        })
    },
    mounted: function () {
        // lodash 사용법
        // console.log(this._.random(20))
    },
    beforeDestroy: function () {}
}
</script>
