<!--
    NAME:    Popup.vue
    DESC:    팝업 기본 컴포넌트
    DATE:    2021-11-18
    CREATOR: hsohe74
    HISTORY:
            2021-11-18 hsohe74 생성
-->
<template>
    <div class="popup-container">
        <div class="popup-title">
            <div>
                <div>
                    <div class="popup-main-title"><slot name="title"></slot></div>
                </div>
            </div>
        </div>

        <div class="popup-content">
            <slot name="content"></slot>
        </div>

        <div class="popup-button">
            <slot name="button"></slot>
            <div>
                <b-button size="is-small" hovered @click="closePopup()">
                    {{ $t('ui.button.close') }}
                </b-button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {},
    methods: {
        /* closePopup 를 발생시켜 이 베이스 컴포넌트를 사용하는 곳에서 처리한다. */
        closePopup: function () {
            this.$emit('closePopup')
        }
    }
}
</script>

<style scoped>
</style>
