<template>
    <div>
        <div>{{ $t('common.404.message') }}</div>
        <button @click="appStore.changeLocale('ko')" class="btn-common default colored">KOR</button>
        <button @click="appStore.changeLocale('en')" class="btn-common default grayed">ENG</button>
    </div>
</template>

<script setup lang="ts">
import { useAppStore } from '@/stores/app'

/**
 * Reference
 */
const appStore = useAppStore()

// import { useRouter } from 'vue-router'
// const router = useRouter()
// router.push('/sysAdmin')
</script>
