<template>
    <div class="content-box-container">
        <!-- 컨텐츠 -->
        <div class="content-box">
            <div class="header">
                <h2>{{ $t('view.userCommon.list.title') }}</h2>
            </div>
            <div class="content">
                <!-- 섹션 컨테이너 -->
                <div class="section-container">
                    <!-- 섹션 -->
                    <div class="section">
                        <div class="header">
                            <div class="title">
                                {{ $t('view.userCommon.list.title') }}
                                <label class="desc">{{ $t('view.userCommon.list.desc') }}</label>
                            </div>
                        </div>
                        <div class="content">
                            <div class="data-search">
                                <div class="item">
                                    <div class="header">{{ $t('ui.label.search') }}</div>
                                    <div class="content">
                                        <select
                                            v-model="userStore.userListParam.SubscriberSeq"
                                            @change="loadData"
                                            style="width: 130px"
                                        >
                                            <option value="0">{{ $t('ui.control.Select.All') }}</option>
                                            <option
                                                v-for="item in subscriberList"
                                                :key="item.SubscriberSeq"
                                                :value="item.SubscriberSeq"
                                            >
                                                {{ item.SubscriberNm }}
                                            </option>
                                        </select>
                                        &nbsp;
                                        <select
                                            v-model="userStore.userListParam.UserTypeCd"
                                            @change="loadData"
                                            style="width: 130px"
                                        >
                                            <option value="">{{ $t('ui.control.Select.All') }}</option>
                                            <option
                                                v-for="item in userTypeCdList"
                                                :key="item.ComCd"
                                                :value="item.ComCd"
                                            >
                                                {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                            </option>
                                        </select>
                                        &nbsp;
                                        <select
                                            v-model="userStore.userListParam.StatusCd"
                                            @change="loadData"
                                            style="width: 130px"
                                        >
                                            <option value="">{{ $t('ui.control.Select.All') }}</option>
                                            <option v-for="item in statusCdList" :key="item.ComCd" :value="item.ComCd">
                                                {{ appStore.locale === 'ko' ? item.ComNm : item.ComEnNm }}
                                            </option>
                                        </select>
                                        &nbsp;
                                        <select v-model="userStore.userListParam.SearchColumn">
                                            <option value="">{{ $t('ui.control.Select.Select') }}</option>
                                            <option v-for="item in searchColumnList" :key="item.key" :value="item.key">
                                                {{ item.label }}
                                            </option>
                                        </select>
                                        &nbsp;
                                        <input
                                            type="text"
                                            v-model="userStore.userListParam.SearchWord"
                                            @keyup.enter="loadData(true)"
                                        />
                                    </div>
                                    <div class="content">
                                        <button class="btn-common small colored" @click="loadData(true)">
                                            {{ $t('ui.button.search') }}
                                        </button>
                                        &nbsp;
                                        <button class="btn-common small colored" @click="initData(true)">
                                            {{ $t('ui.button.initSearch') }}
                                        </button>
                                        &nbsp;
                                        <button class="btn-common small colored" @click="loadData(true)">
                                            {{ $t('ui.button.refresh') }}
                                        </button>
                                    </div>
                                    <div class="button">
                                        <button class="btn-common small colored" @click="showDetailPopup(null)">
                                            {{ $t('ui.button.add') }}
                                        </button>
                                        <button class="btn-common small impact" @click="deleteDetail()">
                                            {{ $t('ui.button.remove') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <ListPaginginfo
                                v-model="userStore.userListParam"
                                @pageSize="loadData(true)"
                            ></ListPaginginfo>
                            <div class="x-scroll">
                                <table class="data-list-table vborder">
                                    <thead>
                                        <tr>
                                            <th style="width: 50px">
                                                <input type="checkbox" @change="selectAll($event)" />
                                            </th>
                                            <th style="width: 50px">{{ $t('view.userCommon.list.column.No') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.SubscriberNm') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.SubscriberId') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.UserNm') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.LoginId') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.Telephone') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.DvsnNm') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.FieldNm') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.UserType') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.Status') }}</th>
                                            <th class="center">{{ $t('view.userCommon.list.column.RegDatetime') }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item, index) in userStore.userList" :key="index">
                                            <td class="center">
                                                <input
                                                    type="checkbox"
                                                    v-model="item.selected"
                                                    true-value="Y"
                                                    false-value="N"
                                                />
                                            </td>
                                            <td class="center">
                                                {{ dataUtil.showPagingNo(userStore.userListParam, index) }}
                                            </td>
                                            <td class="center">
                                                <a @click="showSubsDetailPopup(item)">{{ item.SubscriberNm }}</a>
                                            </td>
                                            <td class="center">
                                                <a @click="showSubsDetailPopup(item)">{{ item.SubscriberId }}</a>
                                            </td>
                                            <td class="center">
                                                <a @click="showDetailPopup(item)">{{ item.UserNm }}</a>
                                            </td>
                                            <td class="center">
                                                <a @click="showDetailPopup(item)">{{ item.LoginId }}</a>
                                            </td>
                                            <td class="center">{{ dataUtil.formatPhone(item.Telephone) }}</td>
                                            <td class="center">{{ item.DvsnNm }}</td>
                                            <td class="center">{{ item.FieldNm }}</td>
                                            <td class="center">{{ item.UserTypeNm }}</td>
                                            <td v-if="item.StatuCd === '0'" class="center">
                                                <button class="btn-common small colored1" @click="approveDetail(item)">
                                                    {{ $t('view.userCommon.button.approval') }}
                                                </button>
                                            </td>
                                            <td v-else-if="item.StatusCd === '80'" class="center impact">
                                                {{ item.StatusNm }}
                                            </td>
                                            <td v-else-if="item.StatusCd === '99'" class="center impact">
                                                {{ item.StatusNm }}
                                            </td>
                                            <td v-else class="center">{{ item.StatusNm }}</td>
                                            <td class="center">{{ item.RegDatetime }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ListPagingbar ref="pagingbar" v-model="userStore.userListParam"></ListPagingbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, reactive, shallowRef, onMounted, onUnmounted, inject } from 'vue'
import { useAppStore } from '@/stores/app'
import { useCommonStore } from '@/stores/common'
import { useSubscriberStore } from '@/stores/subscriber'
import { useUserStore } from '@/stores/user'
import eventBus from '@/eventBus.js'
import * as dataUtil from '@/utils/data'
import * as symbols from '@/symbols'

/**
 * Reference
 */
const appStore = useAppStore()
const commonStore = useCommonStore()
const subscriberStore = useSubscriberStore()
const userStore = useUserStore()
const isLoading = ref(false)
const showPopup = inject(symbols.showPopup)

/* 코드 */
const searchColumnList = reactive([
    { key: 'UserNm', label: '회원명', labelEn: 'Name' },
    { key: 'LoginId', label: '로그인ID', labelEn: 'Login ID' },
    { key: 'Telephone', label: '연락처', labelEn: 'Telephone' }
])
const userTypeCdList = ref([])
const statusCdList = ref([])
const subscriberList = ref([])
const initCodeData = async () => {
    await commonStore.getComCodeCdList('USER_TYPE_CD').then((response) => {
        userTypeCdList.value = response.data.Data
    })
    await commonStore.getComCodeCdList('STATUS_CD').then((response) => {
        statusCdList.value = response.data.Data
    })

    await subscriberStore.getSubscriberListRaw({ PageNumber: 1, PageSize: 0 }).then((response) => {
        subscriberList.value = response.data.Data
    })
}

/* 데이터*/
const selectAll = (event) => {
    userStore.userList.forEach((element) => {
        element.selected = event.target.checked ? 'Y' : 'N'
    })
}
const pagingbar = ref(null)
const initData = async () => {
    userStore.initUserListParam()
}
const loadData = async () => {
    isLoading.value = true
    try {
        await userStore.getUserList()
        pagingbar.value.setPage()
        isLoading.value = false
    } catch (error) {
        dataUtil.handleResponseError(error)
        isLoading.value = false
    }
}

/* 상세 */
import detailPopup from './detailPopup'
const showDetailPopup = (detailObj) => {
    showPopup(
        detailPopup,
        reactive({
            detailData: detailObj
        })
    )
}
const deleteDetail = () => {}
eventBus.$on('saveUserDetailDataDone', () => {
    loadData()
})

/* 구독자 */
import subscriberDetailPopup from '../subscriber/detailPopup'
const showSubsDetailPopup = (detailObj) => {
    showPopup(
        subscriberDetailPopup,
        reactive({
            detailData: detailObj,
            readonly: true
        })
    )
}

/* 초기화 */
initData()
/* onMounted */
onMounted(() => {
    /* 코드 */
    initCodeData()
    /* 데이터*/
    loadData()
})
onUnmounted(() => {
    eventBus.$off('saveUserDetailDataDone')
})
</script>

<style scoped>
div.section {
    width: 100%;
}
</style>
