<template>
    <PopupNormal ref="popup" @close="closePopup" :width="480" :height="0">
        <template #title>{{ $t('view.subsMgr.detail.title') }}</template>
        <template #content>
            <!-- 섹션 컨테이너 -->
            <div class="section-container">
                <!-- 섹션 -->
                <div class="section">
                    <div class="content">
                        <div class="title">
                            {{ $t('view.subsMgr.detail.section.1.title') }}
                            <label class="desc">{{ $t('view.subsMgr.detail.section.1.desc') }}</label>
                        </div>
                        <table class="data-form-table">
                            <tr>
                                <th class="required">
                                    {{ $t('view.subsMgr.detail.section.1.column.SubscriberNm') }}
                                </th>
                                <td class="full">
                                    <input type="text" v-model="subscriberStore.subscriberDetail.SubscriberNm" />
                                    <div v-for="error of v$.SubscriberNm.$errors" :key="error.$uid">
                                        <span class="error">{{ error.$message }}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="required">
                                    {{ $t('view.subsMgr.detail.section.1.column.SubscriberId') }}
                                </th>
                                <td>
                                    <input
                                        type="text"
                                        v-model="subscriberStore.subscriberDetail.SubscriberId"
                                        :disabled="subscriberStore.subscriberDetail.SubscriberSeq !== 0"
                                        style="width: 150px"
                                    />
                                    <div v-for="error of v$.SubscriberId.$errors" :key="error.$uid">
                                        <span class="error">{{ error.$message }}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th :class="{ required: !subscriberStore.subscriberDetail.SubscriberSeq }">
                                    {{ $t('view.subsMgr.detail.section.1.column.SubscriberPw') }}
                                </th>
                                <td>
                                    <input
                                        type="password"
                                        v-model="subscriberStore.subscriberDetail.SubscriberPw"
                                        autocomplete="new-password"
                                        style="width: 150px"
                                    />
                                    <div v-for="error of v$.SubscriberPw.$errors" :key="error.$uid">
                                        <span class="error">{{ error.$message }}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th class="required">
                                    {{ $t('view.subsMgr.detail.section.1.column.ChargerPhone') }}
                                </th>
                                <td>
                                    <input
                                        type="text"
                                        v-model="subscriberStore.subscriberDetail.ChargerPhone"
                                        style="width: 150px"
                                    />
                                    <div v-for="error of v$.ChargerPhone.$errors" :key="error.$uid">
                                        <span class="error">{{ error.$message }}</span>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    {{ $t('view.subsMgr.detail.section.1.column.ChargerEmail') }}
                                </th>
                                <td class="full">
                                    <input type="text" v-model="subscriberStore.subscriberDetail.ChargerEmail" />
                                    <div v-for="error of v$.ChargerEmail.$errors" :key="error.$uid">
                                        <span class="error">{{ error.$message }}</span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </template>
        <template #button-left>&nbsp;</template>
        <template #button-right>
            <button v-if="!readonly" class="btn-common default impact" @click="saveDetail">
                {{ $t('ui.button.save') }}
            </button>
            <button class="btn-common default grayed" @click="closePopup">{{ $t('ui.button.close') }}</button>
        </template>
    </PopupNormal>
    <Loading :isLoading="isLoading"></Loading>
</template>

<script setup>
import { ref, onMounted, onUnmounted } from 'vue'
import { useSubscriberStore } from '@/stores/subscriber'
import eventBus from '@/eventBus.js'
import i18n from '@/locales'
import * as dataUtil from '@/utils/data'

/**
 * Reference
 */
const subscriberStore = useSubscriberStore()
const isLoading = ref(false)

/* Self */
const emit = defineEmits(['closed'])
const popup = ref(null)
const closePopup = () => {
    emit('closed')
}

/* 코드 */
const initCodeData = async () => {}

/* Value */
const props = defineProps(['detailData', 'readonly'])

/* 데이터 */
const initData = async () => {
    subscriberStore.initSubscriberDetail()
}
const loadData = async (detailObj) => {
    if (!detailObj) {
        subscriberStore.initSubscriberDetail()
    } else {
        subscriberStore.getSubscriberDetail(detailObj)
    }
    v$ = useVuelidate(rules, subscriberStore.subscriberDetail)
}
const saveDetail = async () => {
    const isFormCorrect = await v$.value.$validate()
    if (isFormCorrect) {
        isLoading.value = true
        try {
            await subscriberStore.saveSubscriberDetail(subscriberStore.subscriberDetail)
            alert(i18n.global.t('ui.message.success'))
            eventBus.$emit('saveSubscriberDetailDone')
            isLoading.value = false
            closePopup()
        } catch (error) {
            dataUtil.handleResponseError(error)
            isLoading.value = false
        }
    }
}

/* Validation */
import { useVuelidate } from '@vuelidate/core'
import { required, minLength, alphaNum, helpers } from '@vuelidate/validators'
const rules = {
    SubscriberNm: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required),
        minLength: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 2 }), minLength(2))
    },
    SubscriberId: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required),
        minLength: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 5 }), minLength(5)),
        alphaNum: helpers.withMessage(i18n.global.t('ui.validate.alphaNum'), alphaNum)
    },
    SubscriberPw: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), (value) => {
            if (subscriberStore.subscriberDetail.SubscriberSeq === 0) {
                return helpers.req(value)
            } else {
                return true
            }
        }),
        password: helpers.withMessage(i18n.global.t('ui.validate.stringMin', { baseNum: 6 }), (value) => {
            if (
                subscriberStore.subscriberDetail.SubscriberSeq === 0 ||
                (subscriberStore.subscriberDetail.SubscriberPw &&
                    subscriberStore.subscriberDetail.SubscriberPw.length > 0)
            ) {
                return helpers.len(value) >= 6
            } else {
                return true
            }
        })
    },
    ChargerPhone: {
        required: helpers.withMessage(i18n.global.t('ui.validate.required'), required),
        phone: helpers.withMessage(i18n.global.t('ui.validate.phone'), helpers.regex(dataUtil.regTelephone))
    },
    ChargerEmail: {
        email: helpers.withMessage(i18n.global.t('ui.validate.email'), (value) => {
            if (value.length > 0) {
                return dataUtil.regEmail.test(value)
            } else {
                return true
            }
        })
    }
}
let v$ = useVuelidate(rules, {})

/* 초기화 */
initData()
/* onMounted */
onMounted(async () => {
    // Loading
    isLoading.value = true
    /* 코드 */
    await initCodeData()
    /* 데이터 */
    await loadData(props.detailData)
    // Loading
    isLoading.value = false
})
onUnmounted(() => {})
</script>

<style></style>
