<template>
    <div class="data-list-pageinfo">
        <div class="info" v-html="$t('common.dataList.label.recordCount', { recordCount: totalRecord })"></div>
        <div class="page-size">
            <select v-model="pageSize">
                <option value="20">20</option>
                <option value="100">100</option>
                <option value="500">500</option>
                <option value="1000">1000</option>
            </select>
        </div>
    </div>
</template>

<script setup>
import { ref, computed } from 'vue'
import * as dataUtil from '@/utils/data'

/* Value */
const emit = defineEmits(['pageSize'])
const props = defineProps(['modelValue'])

const listParam = ref({})
listParam.value = props.modelValue

const totalRecord = computed(() => dataUtil.formatNumber(listParam.value.TotalRecord))
const pageSize = computed({
    get: () => listParam.value.PageSize,
    set: (value) => {
        listParam.value.PageSize = value
        emit('pageSize')
    }
})
</script>
