<template>
    <div class="pagingbar-container">
        <div class="pagingbar">
            <!-- First -->
            <a v-if="showEnd && listParam.PageNumber > 1" class="btn-common default gray-bordered" @click="goPage(1)">
                <font-awesome-icon icon="fa-solid fa-angle-double-left" />
            </a>
            <a v-if="showEnd && listParam.PageNumber <= 1" class="btn-common disabled default grayed">
                <font-awesome-icon icon="fa-solid fa-angle-double-left" />
            </a>
            <!-- Previous -->
            <a
                v-if="listParam.PageNumber > 1"
                class="btn-common default gray-bordered"
                @click="goPage(listParam.PageNumber - 1)"
            >
                <font-awesome-icon icon="fa-solid fa-angle-left" />
            </a>
            <a v-else class="btn-common disabled default grayed">
                <font-awesome-icon icon="fa-solid fa-angle-left" />
            </a>
            <!-- Page number -->
            <a
                v-for="(item, index) in listParam.PageNumbers"
                :class="`btn-common default ${listParam.PageNumber === item ? `impact` : `gray-bordered`}`"
                :key="index"
                @click="goPage(item)"
            >
                {{ item }}
            </a>
            <!-- Next -->
            <a
                v-if="listParam.PageNumber !== listParam.TotalPage"
                class="btn-common default gray-bordered"
                @click="goPage(listParam.PageNumber + 1)"
            >
                <font-awesome-icon icon="fa-solid fa-angle-right" />
            </a>
            <a v-else class="btn-common disabled default grayed">
                <font-awesome-icon icon="fa-solid fa-angle-right" />
            </a>
            <!-- Last -->
            <a
                v-if="showEnd && listParam.PageNumber !== listParam.TotalPage"
                class="btn-common default gray-bordered"
                @click="goPage(listParam.TotalPage)"
            >
                <font-awesome-icon icon="fa-solid fa-angle-double-right" />
            </a>
            <a
                v-if="showEnd && listParam.PageNumber === listParam.TotalPage"
                class="btn-common disabled default grayed"
            >
                <font-awesome-icon icon="fa-solid fa-angle-double-right" />
            </a>
        </div>
    </div>
</template>

<script setup>
import { computed } from 'vue'
import * as dataUtil from '@/utils/data'

const props = defineProps(['modelValue', 'showEnd'])
const emit = defineEmits(['goPagingPage'])
const listParam = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value)
    }
})
const setPage = () => {
    dataUtil.setPagingData(listParam.value)
}
const goPage = (page) => {
    listParam.value.PageNumber = page
    dataUtil.setPagingData(listParam.value)
    emit('goPagingPage', page)
}

/* Expose */
defineExpose({
    setPage
})
</script>
