<template>
    <Datepicker
        v-model="value"
        auto-apply
        week-start="0"
        format="yyyy-MM-dd"
        range
        :locale="appStore.locale"
        :clearable="clearable"
        :partial-range="false"
        class="range-date-picker"
        input-class-name="range-date-picker"
        :min-range="minRange"
        :max-range="maxRange"
    />
</template>

<script setup>
import { ref, computed, watch } from 'vue'
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'

/* Locale */
import { useAppStore } from '@/stores/app'
const appStore = useAppStore()

/* Value */
const emit = defineEmits(['update:modelValue', 'closedOccured'])
const props = defineProps(['modelValue', 'clearable', 'minRange', 'maxRange'])
const value = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value)
    }
})
const date = ref()
watch(date, () => {
    console.log('date.value[0]: ', date.value[0])
    console.log('date.value[1]: ', date.value[1])
})
</script>
