<template>
    <Datepicker
        v-model="value"
        auto-apply
        time-picker
        format="HH:mm"
        :locale="appStore.locale"
        :clearable="clearable"
        class="time-picker"
        input-class-name="time-picker"
    />
</template>

<script setup>
import { computed } from 'vue'
import Datepicker from '@vuepic/vue-datepicker'
import '@vuepic/vue-datepicker/dist/main.css'

/* Locale */
import { useAppStore } from '@/stores/app'
const appStore = useAppStore()

/* Value */
const emit = defineEmits(['update:modelValue'])
const props = defineProps(['modelValue', 'clearable'])
const value = computed({
    get() {
        return props.modelValue
    },
    set(value) {
        emit('update:modelValue', value)
    }
})
</script>

<style scoped>
.dp__input_wrap input {
    width: 80px !important;
}
</style>
