<template>
    <Teleport to="body">
        <div class="loading-backdrop" v-if="loading">
            <img src="@/assets/Rolling-1s-78px.svg" />
        </div>
    </Teleport>
</template>

<script setup>
import { computed } from 'vue'

/* Value */
const props = defineProps(['isLoading'])
const loading = computed(() => {
    return props.isLoading ? props.isLoading : false
})
</script>
