<template>
    <section v-show="isActive" :class="panelClass">
        <slot></slot>
    </section>
</template>

<script setup>
import { ref, computed, watch, onMounted, onUnmounted } from 'vue'
import { inject } from 'vue'
import { uuid } from 'vue-uuid'
import * as symbols from '@/symbols'

/* Value */
const props = defineProps(['name', 'tabClass', 'disabled'])
const tabIndex = ref(-1)
const tabId = ref(uuid.v4())
const tabName = computed(() => {
    return props.name
})
const panelClass = computed(() => {
    return 'tabs-control-panel' + (isActive.value ? ' is-active' : ' is-inactive')
})
const isActive = ref(false)

/* Inject */
const tabsProvider = inject(symbols.tabsProvider)
const addTab = inject(symbols.addTab)
const removeTab = inject(symbols.removeTab)

/*  */
watch(tabsProvider, (newVal) => {
    isActive.value = tabId.value === newVal.selectedTabId
})

/* onMounted */
onMounted(() => {
    tabIndex.value = tabsProvider.tabs.length
    addTab({
        index: tabIndex.value,
        id: tabId.value,
        name: tabName,
        tabClass: props.tabClass,
        disabled: props.disabled
    })
})
onUnmounted(() => {
    removeTab(tabId.value)
})
</script>
