<template>
    <div class="tabs-control">
        <ul class="tabs-control-tabs">
            <li v-for="(tab, tabIndex) in tabState.tabs" :key="tabIndex" :class="tabClass(tab)">
                <a v-if="tab.disabled" class="tabs-control-tab-a">{{ tab.name }}</a>
                <a v-else class="tabs-control-tab-a" @click="selectTab(tab)">{{ tab.name }}</a>
            </li>
        </ul>
        <div class="tabs-control-panels">
            <slot></slot>
        </div>
    </div>
</template>

<script setup>
import { reactive, onMounted } from 'vue'
import { provide } from 'vue'
import * as symbols from '@/symbols'

/* Value */
const tabState = reactive({
    selectedTabId: '',
    tabs: []
})
const tabClass = (tab) => {
    return (
        'tabs-control-tab' +
        (tab.disabled ? ' is-disabled' : tab.id === tabState.selectedTabId ? ' is-active' : ' is-inactive') +
        (tab.tabClass ? ' ' + tab.tabClass : '')
    )
}

/* Provide */
provide(symbols.tabsProvider, tabState)
provide(symbols.addTab, (tab) => {
    tabState.tabs.push(tab)
})
provide(symbols.removeTab, (tabId) => {
    const tabIndex = tabState.tabs.findIndex((tab) => tab.id === tabId)
    tabState.tabs.splice(tabIndex, 1)

    if (tabState.selectedTabId === tabId && tabState.tabs[0]) {
        tabState.selectedTabId = tabState.tabs[0].id
    }
})

/* Select tab */
const selectTab = (tab) => {
    tabState.selectedTabId = tab.id
}

/* onMounted */
onMounted(() => {
    if (tabState.tabs.length > 0) {
        tabState.selectedTabId = tabState.tabs[0].id
    }
})
</script>
