/*
 * ====================================================================================================
 * Common
 * ====================================================================================================
 */
 * {
    font-size: $font-size-default !important;
    font-family: $font-family-default !important;
}
html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: $font-family-default !important;
    background: #eff3f8 !important;
}
html {
    overflow-y: hidden !important;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
#app {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

/*
 * --------------------------------------------------
 * Control resetting
 * --------------------------------------------------
 */

input, select {
    font-family: $font-family-default !important;
}
input, button, select, textarea {
    font-family: $font-family-default !important;
}
input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
}
input[type=checkbox], input[type=radio] {
	vertical-align: sub;
}
input[type="text"], input[type="number"], input[type="email"], input[type="url"] {
	height: 23px;
	padding-left: 5px;
	padding-right: 5px;
	background: #fafafa; /*Background color (Textbox)*/
	border: 1px solid #bec3c4; /*Border color (GrayedLight)*/
    border-radius: 3px;
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
input[type="text"][readonly], input[type="number"][readonly], input[type="email"][readonly], input[type="url"][readonly] {
	background: #e0e0e0; /*Background color (GrayedLight)*/
}
input[type="text"].center, input[type="number"].center, input[type="email"].center, input[type="url"].center {
	text-align: center;
}
input[type="text"].left, input[type="number"].left, input[type="email"].left, input[type="url"].left {
	text-align: left;
}
input[type="text"].right, input[type="number"].right, input[type="email"].right, input[type="url"].right {
	text-align: right;
}
input[type="text"].datepicker {
	text-align: center;
}
input[type="password"] {
	height: 23px;
	padding-left: 5px;
	padding-right: 5px;
	background: #fafafa; /*Background color (Textbox)*/
	border: 1px solid #bec3c4; /*Border color (GrayedLight)*/
    border-radius: 3px;
	vertical-align: middle;
	letter-spacing: 1px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
input[readonly="true"] {
	background: #e0e0e0; /*Background color (TextboxDim)*/
}
input.ng-invalid {
  border: 1px solid red;
}
textarea {
	padding-left: 5px !important;
	padding-right: 5px !important;
	background: #fafafa; /*Background color (Textbox)*/
	border: 1px solid #bec3c4; /*Border color (GrayedLight)*/
    border-radius: 3px;
	vertical-align: middle;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
textarea.ng-invalid {
  border: 1px solid red;
}
select {
	height: 23px;
	background: #fafafa; /*Background color (Textbox)*/
	border: 1px solid #bec3c4; /*Border color (GrayedLight)*/
    border-radius: 3px;
	vertical-align: middle;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
select.ng-invalid {
  border: 1px solid red;
}
.inputImeActive {
	ime-mode: active;
}
.inputImeInactive {
	ime-mode: inactive;
}
.inputImeDisabled {
	ime-mode: disabled;
}
input::-webkit-input-placeholder {
	color: #bec3c4; /*Border color (GrayedLight)*/
	font-size: 11px;
}
input::-moz-placeholder {
	color: #bec3c4; /*Border color (GrayedLight)*/
	font-size: 11px;
}
input:-ms-input-placeholder {
	color: #bec3c4; /*Border color (GrayedLight)*/
	font-size: 11px;
}
input:-moz-placeholder {
	color: #bec3c4; /*Border color (GrayedLight)*/
	font-size: 11px;
}

/*
 * --------------------------------------------------
 * Layout
 * --------------------------------------------------
 */
 .layout-full-container {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.layout-full-area {
	position: fixed;
}
.layout-full-area.top {
	z-index: 999;
    top: 0;
	width: 100%;
	height: 78px;
	background: #f1f1f1;
}
.layout-full-area.content {
	top: 78px;
    bottom: 0px;
	left: 0px;
	right: 0;
	overflow: auto;
}

/*
 * ====================================================================================================
 * container
 * ====================================================================================================
 */
.container-full {
    display: block;
    width: 100%;
    height: 100%;
}
.single-box-layout {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.single-box-centering {
    width: calc(100% - 20px);
    position: absolute;
    top: calc(50% - 180px);
}

/*
 * ====================================================================================================
 * TOP
 * ====================================================================================================
 */
.navbar-brand {
    height: 52px !important;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center !important;
}
.navbar-burger {
    margin-top: 5px !important;
    margin-right: 5px !important;
}
.navbar-burger > span {
    color: #ffffff !important;
}
.navbar-item, .navbar-link {
    margin-right: 10px;
    color: #ffffff !important;
    font-size: 15px !important;
    font-weight: 700 !important;
}
a.navbar-item:hover, a.navbar-link:hover {
    background-color: #3b5aad !important;
    text-decoration: none;
}
.navbar-item select.locale {
    width: 80px !important;
    height: 30px !important;
    margin-right: 5px;
    font-size: 12px !important;
    font-weight: 500 !important;
}
.navbar-item select.locale option {
    font-size: 12px !important;
    font-weight: 500 !important;
}
.top-logo {
    padding: 0px !important;
}
.top-logo img {
    max-height: 29px !important;
}
.nav-path {
    height: 26px;
    padding: 3px 0px 0px 20px;
    background-color: #acbce7 !important;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}

/*
 * ====================================================================================================
 * Image Viewer
 * ====================================================================================================
 */
.image-viewer-container {
    width: 100%;
    height: 600px;
    text-align: center;
}
.image-viewer-container img {
    height: 100%;
    object-fit: cover;
}