/*
 * ====================================================================================================
 * Content
 * ====================================================================================================
 */
 /*
 * --------------------------------------------------
 * Content box
 * --------------------------------------------------
 */
.content-box {
    display: block;
    padding: 0;
    margin: 0;
}
.content-box-layout {
    display: block;
    height: 100%;
    padding: 20px;
}
.content-box-layout-ex {
    display: block;
}
/*
 * --------------------------------------------------
 * Content box item
 * --------------------------------------------------
 */
 .content-box-item {
    display: inline-block;
    min-width: 200px;
    padding: 0px 0px 20px 0px;
    vertical-align: top;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}
.content-box-item h2 {
    height: 32px;
    padding: 8px 0 0 0;
    margin: 0;
    border-radius: 15px;
    background: $content-box-h2-bg;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
    color: $content-box-h2-color !important;
    font-size: 14px !important;
    font-weight: 700;
    text-align: center;
}
.content-box-item h2 span {
    color: $content-box-h2-color !important;
}
.content-box-item div.content {
    height: calc(100% - 28px);
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}
/*
 * --------------------------------------------------
 * Section
 * --------------------------------------------------
 */
 .section-div-space {
    clear: both;
    height: 10px;
}
.section-content {
    display: block;
    padding: 0;
    margin: 0;
}

/*
 * --------------------------------------------------
 * Sub Title
 * --------------------------------------------------
 */
 .section-subtitle {
	clear: both;
	display: block;
	overflow: hidden;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
.section-subtitle-layout {
	display: table;
	width: 100%;
	height: 100%;
}
.section-subtitle-text {
	display: table-cell;
	width: 50%;
	height: 100%;
	padding: 2px 5px 0px 10px;
	background-repeat: no-repeat;
	background-position: 3px 12px;
	color: $content-subtitle-color !important;
	font-size: 14px !important;
	font-weight: 800;
	vertical-align: bottom;
}
.section-subtitle-text.small {
	font-size: 14px;
}
.section-subtitle-button {
	display: table-cell;
	width: 50%;
	height: 100%;
	padding: 3px 5px 0px 5px;
	text-align: right;
	vertical-align: bottom;
}
.section-subtitle-button > button {
	margin-left: 5px;
}

/*
 * --------------------------------------------------
 * Section desc
 * --------------------------------------------------
 */
 .section-desc {
    clear: both;
    display: block;
    margin: 5px 20px 5px 20px;
    overflow: hidden;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}
.section-desc-content {
    display: table;
    width: 100%;
    height: 100%;
    font-size: 11px;
}
.section-desc-content.big {
    font-size: 13px;
}
.section-desc-content.big label {
    font-size: 13px;
}
.section-desc-content.big a {
    font-size: 13px;
}
.section-desc-content.impact {
    color: $font-impact-color !important;
    font-weight: 700;
}
.section-desc-content.desc {
    color: $font-desc-color !important;
    font-weight: 400;
}
.section-desc-content label {
    color: $font-label-color !important;
    font-weight: 400;
}
.section-desc-content label.impact {
    color: $font-impact-color !important;
    font-weight: 900;
}
.section-desc-content label.desc {
    color: $font-desc-color !important;
    font-weight: 400;
}
.section-desc-content a {
    color: $font-label-color !important;
    font-weight: 400;
}
.section-desc-content a.impact {
    color: $font-impact-color !important;
    font-weight: 700;
}
.section-desc-content a.desc {
    color: $font-desc-color !important;
    font-weight: 400;
}
/*
 * ====================================================================================================
 * List
 * ====================================================================================================
 */
/*
 * --------------------------------------------------
 * List : Search box
 * --------------------------------------------------
 */
 .search-box {
	width: 100%;
	height: 100%;
	padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
	background-color: #efefef; /*Background color (WhiteDim)*/
	border-top: 0px solid #8a8f90; /*Border color (Grayed)*/
	border-bottom: 0px solid #8a8f90; /*Border color (Grayed)*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
/*
 * --------------------------------------------------
 * List : Search common
 * --------------------------------------------------
 */
.search-common-layout {
	display: block;
	width: 100%;
	border-top: 0px solid #ffffff;
	border-bottom: 1px solid #bec3c4; /*Border color (Form Header)*/
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
.search-common-layout.first {
	border-top: 1px solid #bec3c4; /*Border color (Form Header)*/
}
.search-common-layout > .search-common-header:not(:first-child) {
	margin-left: 10px;
}
.search-common-header {
	display: inline-block;
	min-height: 33px;
	padding: 7px 5px 4px 5px;
	color: #B01C20; /*Font color (Impact2)*/
	font-size: 12px;
	font-weight: 700;
	text-align: right;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
@media (max-width: 750px) {
	/* Mobile */
	.search-common-header {
		display: none;
	}
}
@media (min-width: 751px) {
	/* PC (Common) */
}
.search-common-content {
	display: inline-block;
	padding: 4px 5px 4px 5px;
	vertical-align: middle;
	white-space: nowrap;
	color: #606060;
	font-size: 12px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
.search-common-content.full {
	width: 100%;
}
.search-common-content.right {
	float: right;
	text-align: right;
}
.search-common-content label {
	color: #606060;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
.search-common-content label.error {
	color: #d32020; /*Font color (Error)*/
	font-weight: 400;
}
.search-common-content label.impact {
	color: #E14658; /*Font color (Impact1)*/
	font-weight: 400;
}
.search-common-content label.desc {
	color: #909090; /*Font color (Form Guide)*/
}
.search-common-content span.error {
    font-size: 11px !important;
	color: #E14658 !important;
	font-weight: 500 !important;
}
.search-common-content > select,
.search-common-content > input {
	margin-left: 5px;
}
.search-common-button {
	display: inline-block;
	float: right;
	padding: 5px 10px 5px 10px;
	text-align: right;
	white-space: nowrap;
}
  /*
 * --------------------------------------------------
 * List : Data
 * --------------------------------------------------
 */
 .data-list-tool {
    width: 100%;
    height: 32px;
    margin-bottom: 0px;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-spacing: 0px;
    border-collapse: separate;
 }
 .data-list-tool div {
    display: inline-block;
 }
 .data-list-tool div:first-child {
    width: 50%;
    text-align: left;
 }
 .data-list-tool div:last-child {
    width: 50%;
    text-align: right;
 }
 .data-list-tool div:last-child button {
    min-width: 70px;
    margin-left: 5px;
 }

.data-list-table {
    width: 100%;
    margin-bottom: 0px;
    border-spacing: 0px;
    border-collapse: separate;
    border-top: 1px solid $data-list-border-header-top;
    border-bottom: 1px solid $data-list-border-header-top;
    background-color: $data-list-bg;
}
.data-list-table-noborder {
    width: 100%;
    margin-bottom: 0px;
    border-spacing: 0px;
    border-collapse: separate;
}
.data-list-table-container {
    position: relative;
    padding-top: 32px;
}
.data-list-table-container .data-list-table-box {
    overflow: auto;
    overflow-x: hidden;
}
.data-list-table-container .data-list-table-box table.fixed {
    width: 100%;
    table-layout: fixed;
}
.data-list-table-container .data-list-table-box table.fixed thead tr {
    position: absolute;
    top: 0;
}
.data-list-table-container .data-list-table-box table.fixed thead tr td {
    font-weight: normal;
}
.data-list-table-container .data-list-table-box table.fixed tr {
    display: inline-table;
    width: 100%;
    table-layout: fixed;
}
.data-list-table-container .data-list-table-box table.fixed tbody tr {
   display: table-row;
}
.data-list-row-header {
    height: 32px;
    background: $data-list-header-bg;
}
.data-list-header {
    color: $data-list-header-color;
    font-size: 12px !important;
    font-weight: 700 !important;
}
.data-list-header.cell {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid $data-list-border-top;
    border-bottom: 1px solid $data-list-border-bottom;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}
.data-list-header.cell.center {
    text-align: center;
}
.data-list-header.cell.impact {
    color: $font-impact-color !important;
    font-weight: 700 !important;
}
.data-list-header.cell.select {
    width: 50px;
    text-align: center;
}
.data-list-header.cell-noborder {
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid $data-list-border-top;
    border-bottom: 0px solid $data-list-border-bottom;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}
.data-list-header.cell-noborder.select {
    width: 50px;
    text-align: center;
}
.data-list-row-tbody {
    display: block;
    width: 100%;
    overflow-y: auto;
}
.data-list-row-data {
    height: 32px;
    background: $data-list-cell-bg;
}
.data-list-row-data:hover {
    background: #f6f6f6;
}
.data-list-row-data.click {
    cursor: pointer;
}
.data-list-content {
    font-size: 12px !important;
    font-weight: 500 !important;
}
.data-list-content.cell {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid $data-list-border-bottom;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}
.data-list-content.cell a {
    color: $data-list-cell-color;
}
.data-list-content.cell.thumb {
    height: 50px;
    padding: 10px 5px 10px 5px;
    line-height: 1.0em;
}
.data-list-content.cell.thumb img {
    width: 50px;
    height: 100%;
    object-fit: cover;
}
.data-list-content.cell.desc {
    color: $data-list-desc-color !important;
    font-size: 11px !important;
    font-weight: 400 !important;
}
.data-list-content.cell.impact {
    color: $font-impact-color !important;
    font-size: 11px !important;
    font-weight: 400 !important;
}
.data-list-content.cell label.desc {
    color: $data-list-desc-color !important;
    font-size: 11px !important;
    font-weight: 400 !important;
}
.data-list-content.cell label.impact {
    color: $font-impact-color !important;
    font-size: 11px !important;
    font-weight: 400 !important;
}
.data-list-content.cell.click {
    cursor: pointer;
}
.data-list-content.cell.left {
    text-align: left;
}
.data-list-content.cell.center {
    text-align: center;
}
.data-list-content.cell.right {
    text-align: right;
}
.data-list-content.cell.select {
    width: 50px;
    text-align: center;
}
.data-list-content.cell.full input[type="password"],
.data-list-content.cell.full input[type="text"],
.data-list-content.cell.full input[type="number"],
.data-list-content.cell.full input[type="email"],
.data-list-content.cell.full input[type="url"],
.data-list-content.cell.full select {
    width: 100%;
}

/*
 * --------------------------------------------------
 * Paging bar
 * --------------------------------------------------
 */
 .pagingbar-area {
    display: block;
    margin: 0 auto;
}
.pagingbar-layout {
    display: table;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
}
.pagingbar-center {
    display: table-cell;
    width: 100%;
    color: #2c2e2e;
    font-size: 14px !important;
    font-weight: 900;
    text-align: center;
}
.pagingbar-center a {
    margin-left: 2px;
    margin-right: 2px;
    color: #babfc0;
}

/*
 * ====================================================================================================
 * Form
 * ====================================================================================================
 */
 .form-input-table {
    table-layout:fixed;
    width: 100%;
    border-spacing: 1px;
    border-collapse: separate;
    border-top: 1px solid $data-list-border-header-top !important;
    background: $data-list-bg;
}
.form-input-row {
    height: 32px;
    background: $data-list-cell-bg;
}
.form-input-header {
    color: $data-list-header-color;
    font-size: 12px;
    font-weight: 700;
}
.form-input-header.cell{
    width: 100px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid $data-list-border-bottom !important;
    background: $data-list-header-bg;
    vertical-align: middle;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}
.form-input-header.cell.center{
    text-align: center;
}
.form-input-content {
    color: $data-list-cell-color;
    font-size: 12px;
}
.form-input-content.cell {
    padding: 4px 7px 4px 5px;
    border-bottom: 1px solid $data-list-border-bottom !important;
    background: $data-list-cell-bg;
    text-align: left;
    vertical-align: middle;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
       -moz-box-sizing: border-box; /* Firefox, other Gecko */
            box-sizing: border-box; /* Opera/IE 8+ */
}
.form-input-content.cell.center  {
    text-align: center;
}
.form-input-content.cell.right  {
    text-align: right;
}
.form-input-content.cell.full input[type="button"],
.form-input-content.cell.full input[type="password"],
.form-input-content.cell.full input[type="text"],
.form-input-content.cell.full input[type="email"],
.form-input-content.cell.full input[type="url"],
.form-input-content.cell.full textarea,
.form-input-content.cell.full select {
    width: 100%;
}
.form-input-content.cell.full input[type="number"] {
    width: 100px;
}
.form-input-content.cell.full textarea {
    height: 100px;
}
.form-input-content.cell.full textarea.noresize {
    resize: none;
}
.form-input-content.cell input[type="checkbox"],
.form-input-content.cell input[type="radio"] {
    vertical-align: bottom;
    margin-left: 5px;
}
.form-input-content.cell.impact {
    color: $font-impact-color !important;
    font-weight: 700;
}
.form-input-content.cell.desc {
    color: $data-list-desc-color !important;
    font-weight: 400;
}
.form-input-content.cell label {
    font-size: 11px;
    font-weight: 400;
}
.form-input-content.cell label.impact {
    color: $font-impact-color !important;
    font-size: 11px;
    font-weight: 700;
}
.form-input-content.cell label.desc {
    color: $data-list-desc-color !important;
    font-size: 11px;
    font-weight: 400;
}
.form-input-content.cell label span { /*checkbox, radio label*/
    color: $data-list-cell-color;
    font-size: 11px;
    font-weight: 400;
    vertical-align: middle;
}
.form-input-content.cell span.error {
    font-size: 11px !important;
	color: #E14658 !important;
	font-weight: 500 !important;
}
.form-input-content.cell div:not(:first-child) {
    margin-top: 10px;
}
.form-input-content.cell div.impact {
    color: $font-impact-color !important;
    font-size: 11px;
    font-weight: 700;
}
.form-input-content.cell div.desc {
    color: $data-list-desc-color !important;
    font-size: 11px;
    font-weight: 400;
}
.form-input-content.cell div.full-box {
    overflow-y: auto;
    width: 100%;
    height: 100%;
}
.form-input-content.cell > .thumb {
    display: inline-block;
    height: 100px;
    line-height: 1.0em;
}
.form-input-content.cell > .thumb img {
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}