
/*
 * ====================================================================================================
 * 컴포넌트
 * ====================================================================================================
 */

/* vue2-datepicker */
.mx-icon-clear {
    display: none;
}
.mx-icon-calendar {
    display: none;
}

.tabs li.is-active a span,
.tabs a span {
    font-size: 14px !important;
    font-weight: 700;
}

/*
 * --------------------------------------------------
 * Button
 * --------------------------------------------------
 */
 .btn-common {
	display: inline-block;
	margin: 0;
	background: transparent;
	outline: 0;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}

.btn-common.disabled { cursor: default; }


.btn-common.micro-ico { border-radius: 2px; min-width: 15px; height: 15px; padding: 1px 2px 1px 2px; font-size: 10px !important; font-weight: normal; }
.btn-common.micro-ico:active { padding: 2px 3px 0px 1px; }
.btn-common.mini { border-radius: 3px; min-width: 20px; height: 18px; padding: 0px 4px 1px 4px; font-size: 11px !important; line-height: 14px; font-weight: normal; }
.btn-common.mini:active { padding: 1px 4px 0px 6px; }
.btn-common.mini-ico { border-radius: 3px; min-width: 20px; height: 18px; padding: 1px 5px 1px 5px; font-size: 14px !important; line-height: 14px; font-weight: normal; cursor: pointer; }
.btn-common.mini-ico:active { padding: 2px 4px 0px 6px; }
.btn-common.small { border-radius: 3px; min-width: 30px; height: 23px; padding: 0px 7px 3px 7px; font-size: 12px !important; line-height: 18px; font-weight: normal; }
.btn-common.small:active { padding: 1px 6px 2px 8px; }
.btn-common.small-ico { border-radius: 3px; min-width: 30px; height: 23px; padding: 2px 7px 3px 7px; font-size: 18px !important; line-height: 18px; font-weight: normal; cursor: pointer; }
.btn-common.small-ico:active { padding: 3px 6px 2px 8px; }
.btn-common.default { border-radius: 4px; min-width: 40px; height: 28px; padding: 1px 10px 3px 10px; font-size: 14px !important; line-height: 20px; }
.btn-common.default:active { padding: 2px 9px 2px 11px; }
.btn-common.default-ico { border-radius: 4px; min-width: 40px; height: 28px; padding: 4px 10px 3px 10px; font-size: 20px !important; line-height: 18px; font-weight: normal; cursor: pointer; }
.btn-common.default-ico:active { padding: 5px 9px 2px 11px; }
.btn-common.large { border-radius: 5px; min-width: 50px; height: 42px; padding: 1px 14px 3px 14px; font-size: 18px !important; font-weight: 600; line-height: 38px; }
.btn-common.large:active { padding: 2px 13px 2px 15px; }
.btn-common.large-ico { border-radius: 5px; min-width: 50px; height: 42px; padding: 1px 14px 3px 14px; font-size: 24px !important; line-height: 38px; font-weight: normal; cursor: pointer; }
.btn-common.large-ico:active { padding: 2px 13px 2px 15px; }

.btn-common.impact1, btn-common.impact1:link, btn-common.impact1:visited {
	border: 1px solid #B11628;
	background: #E14658;
	color: #ffffff !important;
}
.btn-common.impact1:active {
	background: #B11628;
}
.btn-common.impact1:hover {
	border: 1px solid #000000;
	text-decoration:none; cursor: pointer;
}
.btn-common.impact2, btn-common.impact2:link, btn-common.impact2:visited {
	border: 1px solid #9c1b1f;
	background: #b01c20;
	color: #ffffff !important;
}
.btn-common.impact2:active {
	background: #b01c20;
}
.btn-common.impact2:hover {
	border: 1px solid #000000;
	text-decoration:none; cursor: pointer;
}
.btn-common.colored1, btn-common.colored1:link, btn-common.colored1:visited {
	border: 1px solid #327c35;
	background: #5da37a;
	color: #ffffff !important;
}
.btn-common.colored1:active {
	background: #5da37a;
}
.btn-common.colored1:hover {
	border: 1px solid #000000;
	text-decoration:none; cursor: pointer;
}
.btn-common.grayed, btn-common.grayed:link, btn-common.grayed:visited {
	border: 1px solid #7a7f80;
	background: #aaafb0;
	color: #ffffff !important;
}
.btn-common.grayed:active {
	background: #8a8f90;
}
.btn-common.grayed:hover {
	border: 1px solid #000000;
	text-decoration:none; cursor: pointer;
}
.btn-common.gray-bordered, btn-common.gray-bordered:link, btn-common.gray-bordered:visited {
	border: 1px solid #8a8f90;
	background: #ffffff;
	color: #606060 !important;
}
.btn-common.gray-bordered:active {
	background: #efefef;
}
.btn-common.gray-bordered:hover {
	border: 1px solid #000000;
	text-decoration:none; cursor: pointer;
}
.btn-common.gray-nonebordered, btn-common.gray-bordered:link, btn-common.gray-bordered:visited {
	border: 0px solid #8a8f90;
	color: #606060 !important;
}
.btn-common.gray-nonebordered:active {
	background: #efefef;
}
.btn-common.gray-nonebordered:hover {
	border: 0px solid #000000;
	text-decoration:none; cursor: pointer;
}
.btn-common.blacked, btn-common.blacked:link, btn-common.blacked:visited {
	border: 1px solid #000000;
	background: #333333;
	color: #ffffff !important;
}
.btn-common.blacked:active {
	background: #333333;
}
.btn-common.blacked:hover {
	border: 1px solid #999999;
	text-decoration:none; cursor: pointer;
}
.btn-common.blue {
	border: 1px solid #258dd3;
	background: #33a1ec;
	color: #ffffff !important;
}
.btn-common.red {
	border: 1px solid #e54848;
	background: #f75c5c;
	color: #ffffff !important;
}
.btn-common.gray {
	border: 1px solid #7a7f80;
	background: #aaafb0;
	color: #ffffff !important;
}