/*
 * ====================================================================================================
 * login
 * ====================================================================================================
 */
 .container-full.single-box-layout.login {
    width: 100%;
    background-image: url(/resources/images/mainbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.login-logo {
    text-align: center;
}
.login-item-block {
    width: 100%;
    text-align: center;
}
.login-input-id {
    width: 240px !important;
    height: 46px !important;
    padding-left: 18px !important;
    background-color: #ffffff !important;
    border-radius: 0px;
    border: 0px;
    font-size: 15px !important;
}
.login-input-id::placeholder {
    color: #d9d9d9 !important;
    font-size: 15px !important;
}
.login-item-block.autologin {
    color: #ffffff !important;
    font-size: 15px !important;
    font-weight: 500;
}
.login-item-block.autologin > label > span {
    color: #ffffff !important;
    font-size: 15px !important;
    font-weight: 500;
}

.autologin input[type="checkbox"] {display: none;}
.autologin input[type="checkbox"] + label {
    display: inline-block;
    width:17px;
    height: 17px;
    background: #fa3062;
    cursor: pointer;
    border-radius: 3px;
    float: right;
}
.autologin:after {display:block; clear:both; content:"";}
.autologin input[type="checkbox"]:checked + label {
    background:#fa3062 no-repeat center/10px 10px; float: right
}

.login-button {
    width: 240px;
    height: 46px;
	padding-left: 5px;
	padding-right: 5px;
	background: #36ccff;
	border: 0px;
    border-radius: 23px;
	-webkit-appearance: none;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: 700;
}