/*
 * ====================================================================================================
 * 팝업
 * ====================================================================================================
 */

.vm--modal{
    border-radius: 5px 5px !important;
}

.popup-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}
.popup-title {
    height: 48px;
    min-height: 48px;
    padding: 12px 10px 0 10px;
    box-sizing: border-box;
    border-bottom: 3px solid #5da37a;
    background-color: #4a4f50;
}
.popup-main-title div {
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 13px !important;
}
.popup-close {
    margin-top: 2px;
    float: right;
    cursor: pointer;
}
.popup-close span {
    color: #ffffff !important;
}
.popup-content {
    width: 100%;
    height: calc(100% - 96px);
    background-color: #ffffff;
    overflow: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
.popup-content-body {
    width: 100%;
    height: 100%;
    padding: 15px 16px 10px 16px;
    background-color: #ffffff;
    overflow: auto;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
.popup-button {
    border-top:1px solid #ccc;
    height: 48px;
    min-height: 48px;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    background-color:#f9f9f9;
    margin: 0 !important;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
	        box-sizing: border-box; /* Opera/IE 8+ */
}
.popup-button div {
    float: right;
    margin-left: 5px;
}
.popup-button button {
    width: 70px;
}
