/* Variables */
/*
    변수
*/

// Typography
$font-family-default: 'Noto Sans KR', sans-serif !default;
$font-family-sans-serif: 'Noto Sans KR', sans-serif !default;
$font-family-serif: 'Noto Sans KR', serif !default;

$font-size-default: 12px !default;
$font-weight-default: 300 !default;
$font-general-color: #131313 !default;
$font-impact-color: #E14658 !default;
$font-label-color: #4a4a4a !default;
$font-desc-color: #909090 !default;

/* 배경색 */
$background-color-header: #1a3991 !default;

/* 컨텐츠 */
$content-box-h2-bg: #666666 !default;
$content-box-h2-color: #ffffff !default;
$content-subtitle-color: #131313 !default;

/* 그리드 */
$data-list-bg: #ffffff !default;

$data-list-header-bg: #e0e0e0 !default;
$data-list-header-color: #131313 !default;

$data-list-cell-bg: #ffffff !default;
$data-list-cell-color: #131313 !default;
$data-list-desc-color: #909090 !default;

$data-list-border-header-top: #bec3c4 !default;
$data-list-border-top: #ffffff !default;
$data-list-border-bottom: #bec3c4 !default;
